body {
    font-family: 'Segoe UI';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.commonContent {
    display: none;
}

img {
    border: none;
    cursor: pointer;
}

#mainContainer {
    position: relative;
    width: 1000px;
}

.bannerMatterWorkspace {
    background-color: #fff;
}

.appNames {
    float: right;
    margin: 14px 15px 0 0;
    padding: 0;
}

#names {
    float: right;
    margin-left: 15px;
}

h1.appHeaders {
    color: #0072c6;
    font-weight: lighter;
    margin: 0;
    text-align: right;
}

h1.genericName {
    color: #666;
    font-size: 1em;
    font-weight: 400;
    line-height: 16px;
}

h1.specificName {
    color: #2b579a;
    cursor: pointer;
    font-size: 1em;
    line-height: 24px;
    margin-top: 8px;
    font-weight: 600;
}

.filterWrapper {
    background-color: #fff;
    height: 49px;
}

.filterSearchPanel {
    display: inline;
    float: left;
    margin-top: 1px;
    width: 478px;
}

.filterSearchText {
    float: left;
    font-size: .875em;
    height: 30px;
    margin: 13px 0 0 0;
    padding-left: 6px;
    width: 871px;
}

    .filterSearchText:focus {
        outline: none;
    }

.filterSearchDD {
    cursor: pointer;
    margin-left: 35px;
}

.filterSearchImg {
    background-color: #fff;
    cursor: pointer;
    display: inline;
    padding: 6.5px;
}

.filterSearchAdvance {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    display: none;
    float: left;
    padding: 20px;
    margin-top: -5px;
    position: absolute;
    z-index: 7;
}

.filterSearchClients {
    margin-top: -4px;
}

.mailCartIcon {
    float: left;
}

.refinerClient .refinerWrapper {
    height: 150px;
}

.refinerAOL .refinerWrapper {
    max-height: 110px;
}

.refinerPG .refinerWrapper {
    max-height: 110px;
}

.refinerSeparator {
    clear: both;
}

.refinerLeft {
    color: #333;
    float: left;
    font: normal .875em "Segoe UI";
    width: 10%;
    margin-right: 40px;
}

.refinerRight {
    float: right;
    width: 75%;
}

.filterSearchText, .filterSearchRefinerText, .filterSearchRefinerTextDate {
    font-size: 12px;
    border: 1px solid #c8c8c8;
    border-right-width: 0;
}

.filterSearchRefinerText {
    border: none;
    display: inline;
    float: left;
    height: 28px;
    padding-left: 10px;
    width: 90%;
}

    .filterSearchRefinerText:focus {
        outline: none;
    }

.filterSearchRefinerDD {
    background-color: #fff;
    cursor: pointer;
    display: table-cell;
    position: absolute;
    margin-left: 569px;
    padding: 11px 10px 8px 8px;
    border: 1px solid #c8c8c8;
    border-left-width: 0;
}

.filterSearchRefinerDDL {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    display: none;
    margin-top: -1px;
    overflow-x: auto;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
}

.filterSearchPG, .filterSearchAOL, .filterSearchDate, .filterSearchAuthor {
    margin-top: 17px;
}

.filterSearchRefinerTextDate {
    border-right-width: 1px !important;
    display: inline;
    float: left;
    height: 28px;
    margin-bottom: 2px;
    margin-right: 10px;
    padding-left: 10px;
    width: 98px;
}

    .filterSearchRefinerTextDate:focus {
        outline: none;
    }

.tileSearch, .tileOk {
    background-color: #0072c6;
    color: #fff;
    cursor: pointer;
    font-family: Segoe UI;
    font-size: .875em;
    height: 10px;
    margin: 14px 20px 0 0;
    padding: 5px 0 15px;
    text-align: center;
    width: 80px;
    font-weight: 600;
}

.tileSearch {
    margin-right: 45px;
}

a {
    color: #2b579a;
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #555;
    font-family: "Segoe UI";
    font-style: italic;
}

input#sdBannerDropDown {
    -webkit-text-fill-color: #333;
    -webkit-opacity: 1;
    color: #333;
    background: white;
}

::-moz-placeholder, :-ms-input-placeholder, input:-moz-placeholder {
    color: #555;
    font-family: "Segoe UI";
    font-size: .75em;
    font-style: italic;
    line-height: 24pt;
}

.selectedApp {
    background-color: #e4e4e4;
}

.noRefiners {
    display: none;
    font-size: 0.875em;
}

.noRefinersVisible {
    display: block;
}

#refinerDateError {
    color: #8B0000;
    display: none;
}

.filterOkButton {
    float: left;
}

.refinerRow {
    margin-top: 5px;
}

.refinerRowLink {
    margin-top: 5px;
    display: inline-block;
    margin-right: 15px;
}

.refinerRowLinkRight {
    padding-right: 20px;
}

.loadingMessageTop {
    padding-top: 3px;
}

.refinerWrapper {
    color: #333;
    font: 12px "Segoe UI", sans-serif;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 5px;
}

.refinerCheckBox {
    float: left;
    margin: 5px 5px 0 0;
    color: #c8c8c8;
}

.filterAutoComplete {
    background-color: #FFF;
    border: 1px solid #c8c8c8;
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
    border-top: 0;
    margin-top: -4px;
    padding: 0;
    position: absolute;
    width: 433px;
    z-index: 100;
    top: 48px;
    padding-top: 10px;
}

.autoCompleteRow, .searchOptions {
    cursor: pointer;
    font-size: .875em;
    padding: 7px 6px;
    color: #333;
    font-weight: 600;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .autoCompleteRow:hover, .autoCompleteSelected {
        background-color: #cde6f7;
        font-weight: 600;
    }

        .autoCompleteRow:hover span, .autoCompleteSelected span {
            font-weight: 600;
        }

.searchOptions {
    float: left;
    width: 95%;
}

.checkImg {
    float: left;
    height: 15px;
    margin: 3px 6px 0 0;
    width: 15px;
}

.switchApp {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    -moz-border-image: none;
    -o-border-image: none;
    -webkit-border-image: none;
    border-image: none;
    color: #333;
    display: none;
    font-size: .87em;
    padding: 7.5px 0;
    position: absolute;
    width: 145px;
    z-index: 100;
}

#txtDocumentAuthor {
    border-right-width: 1px;
    width: 100%;
    padding: 2px 20px 2px 10px;
}

.imageDatePickerTo {
    display: inline;
    float: left;
}

.imageDatePickerFrom {
    display: inline;
    float: left;
    margin-right: 10px;
}

.loadingDiv {
    color: #6c6c6c !important;
    margin-top: 50%;
    margin-left: 50%;
    padding-top: 150px !important;
    text-align: center;
    width: 250px;
}

.refinerRowTextLink, .filterSearchText, .filterSearchRefinerText, .filterSearchRefinerTextDate {
    font-size: 0.875em;
}

.popupWait {
    background-color: #000;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.loadingImage {
    left: 50%;
    top: 50%;
}

.horizontalSpacer {
    height: 1px;
    width: 100%;
    border-top: 1px solid #c8c8c8;
}

.appSwitcherName {
    margin: 125px 0 0 -70px;
    min-width: 180px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    text-align: right;
}

.appSwitchMenu ul li {
    list-style-type: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #666666;
    cursor: pointer;
    margin-top: 4px;
}

.appSwitchMenu {
    position: fixed;
    z-index: 2;
    margin: 25px 3px 0 -25px;
}

.appSwitch {
    background-color: #E0ECF9;
    float: left;
    border-right: 1px solid #C8c8c8;
    position: fixed;
    height: 100%;
    width: 48px;
    z-index: 102;
    opacity: 0.9;
}

.appSwitchMenuShow {
    width: 186px;
}

.selected {
    color: #2b579a !important;
    cursor: default;
}

.filterRefinerEntry {
    padding-top: 4px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
}

::-moz-svg-foreign-content, :root .filterRefinerEntry { /*Safari*/
    padding-top: 5px;
}

/****Sorting functionality****/
.sdBannerDropdown {
    cursor: pointer;
}

.filterSearch {
    display: inline-block;
    margin-right: 10px;
    border-left-width: 0;
    font-family: 'Segoe UI';
    font-size: 14px;
    min-height: 28px;
    border: 1px solid #C8C8C8;
    border-left-width: 0;
    position: absolute;
    width: 28px;
}

.sdBanner {
    color: #333;
    display: inline;
    float: right;
    margin: 3px 5px 0 0;
    font-size: 0.875em;
}

.sdBannerDD {
    margin: 7px -5px 0 0;
    float: left;
}

.sdBannerText {
    background-color: #fff !important;
    color: #333 !important;
    border: none;
    width: 35px;
    min-width: 40px;
    max-width: 130px;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-size: 14px;
    float: left;
    margin: 0 0 0 5px; /*Margin set 0 to overwrite Safari taking some margin for input elements*/
}

.sdBannerPanel {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    position: absolute;
    right: 25px;
    z-index: 1;
}

.sdBannerPanelItem {
    padding: 5px 10px 5px 10px;
}

    .sdBannerPanelItem:hover {
        background-color: #eaecea;
        cursor: pointer;
    }

.sdBannerPanelFirstItem {
    padding-top: 0;
    padding-bottom: 0;
}

.sdBannerPanelLastItem {
    padding-bottom: 2px;
}

.sdBannerLabel {
    float: left;
    margin-right: 10px;
    cursor: default;
}

.sSBannerPanel {
    right: 10px !important;
}

.matterPopup, .documentPopup {
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
    color: #FFF;
    display: none;
    float: right;
    margin: 20px 0 0 45px;
    min-height: 292px;
    max-height: 292px;
    min-width: 365px;
    max-width: 365px;
    position: absolute;
    z-index: 105;
    border: 1px solid #fff;
}

.matterPopup {
    min-height: 262px;
}

.matterPopupPointer, .documentPopupPointer {
    -moz-transform: rotate(317deg);
    -ms-transform: rotate(317deg);
    -o-transform: rotate(317deg);
    -webkit-transform: rotate(317deg);
    transform: rotate(317deg);
    background-color: #fff;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
    color: #fff;
    float: right;
    height: 16px;
    margin: 35px -10px 0 0;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    width: 17px;
}

.matterPopupPointerFirst {
    -moz-transform: rotate(136deg);
    -ms-transform: rotate(136deg);
    -o-transform: rotate(136deg);
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);
    background-color: #F9F9F9;
    box-shadow: 1px 1px 1px 1px #eaecee;
    color: #fff;
    float: left;
    height: 16px;
    margin: 35px -10px 0 -10px;
    border: 1px solid #2b579a;
    border-left: 0;
    border-top: 0;
    width: 16px;
}

#matterPopupLoading, #documentPopupLoading {
    margin-top: 117px;
    margin-left: 170px;
}

.matterPopupData, .documentPopupData {
    margin: 21px 0 15px 20px;
}

.matterFlyoutClose, .documentFlyoutClose {
    float: right;
    display: block;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.fontWeight600 {
    font-weight: bold;
}

.matterTitle, .documentTitle {
    background-color: transparent;
    color: #333;
    display: inline-block;
    font-size: 1em;
    font-family: "Segoe UI";
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 330px;
    padding-bottom: 13px;
    margin-top: -10px;
}

.matterMetadata, .documentMetadata {
    background-color: transparent;
    color: #333;
    font-family: "Segoe UI";
    font-size: 0.87em;
    padding-bottom: 10px;
    width: 330px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.documentPopupAction, .matterPopupAction {
    width: 170px;
    height: 30px;
    background-color: #0072c6;
    font-size: 0.875em;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    display: block;
    line-height: 30px;
    cursor: pointer;
}

.contentInline {
    display: inline;
}

.hideExtraContent {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.alignResults {
    float: left;
}

/*Styling for Common Error Pop up*/

.ErrorPopupBackground {
    background-color: #000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.ErrorPopUpContainer {
    background-color: #fff;
    bottom: 0;
    height: 285px;
    left: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 1000;
}

.popUpFloatRight {
    float: right;
}

.ErrorPopUpDetails {
    margin-top: 15px;
}

.ErrorPopUpCenter {
    margin: auto;
    width: 50%;
    min-height: 165px;
    max-height: 165px;
    overflow-y: auto;
}

.ErrorPopUpHeight {
    height: 165px;
}

.ErrorPopUpHolder {
    font-size: 0.875em;
    color: #333;
}

.ErrorPoUpLinks {
    text-decoration: underline;
}

.ErrorPopUpIndex {
    z-index: 1001;
}

.ErrorPopupSP {
    top: 250px;
    bottom: auto;
}

.hide {
    display: none;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    border-radius: 0 !important;
}

#txtConflictCheckBy.ui-autocomplete-loading, #txtBlockUser.ui-autocomplete-loading, .inputAssignPerm.ui-autocomplete-loading, #txtDocumentAuthor.ui-autocomplete-loading {
    background-image: url(../Images/loadingcirclests16.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

/*---- Styles for new UI App Header ----*/


.MasterPageContent {
    min-width: 296px;
    padding: 10px 0 10px 10px;
}

#HeaderPlaceHolder {
    display: inline-block;
    vertical-align: super;
    padding: 0;
    min-width: 700px;
}

#ProfileSwitcher {
    float: right;
}

#ContextualHelp {
    float: right;
    margin: 0 5px 0 0;
}

.ContextualHelpLogo {
    height: 25px;
    width: 25px;
}

.AppSwitcherContainer {
    float: left;
    min-width: 30px;
    max-width: 30px;
}

.MenuCaption {
    font-size: 0.75em;
    color: #666;
    margin-top: -4px;
}

.hideMenuCaption {
    visibility: hidden;
}

.AppMenuFlyout {
    position: absolute;
    z-index: 101;
    /*display: none;*/
    width: 250px;
    height: 155px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    top: 44px;
    border: 1px solid #d1d1d1;
}

.DelveLink {
    display: none !important;
}

    .DelveLink img {
        margin-left: 10px;
    }

.AppMenuFlyoutPriLinks {
    border-right: 0 solid #c8c8c8;
    padding-right: 20px;
    float: left;
    padding-top: 5px;
}

    .AppMenuFlyoutPriLinks a {
        font-size: 18px;
    }

.AppMenuFlyoutSecLinks {
    float: left;
    padding-left: 10px;
    padding-top: 6px;
}

.AppFlyoutLinks {
    display: table;
    padding-bottom: 20px;
}

    .AppFlyoutLinks .AppFlyoutLinksText {
        cursor: pointer;
    }

.ContextualHelpContainer {
    border: 1px #d1d1d1;
    position: absolute;
    z-index: 102;
    display: none;
    max-height: 442px;
    max-width: 370px;
    top: 5px;
    right: 5px;
    background: #fff;
    box-shadow: 0 0 7px 0 #888888;
    overflow-y: auto;
}

.ContextualHelpFlyout {
    padding: 13px 20px 0 20px;
}

.ContextualHelpSectionHeader {
    padding-top: 10px;
    font-size: 1em;
    color: #333;
    clear: both;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ContextualHelpSectionData {
    margin-top: 7px;
    font-size: 0.875em;
    color: #2b579a;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ContextualHelpHeader {
    font-size: 1.25em;
    color: #333;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ContextualHelpSupport {
    font-size: 0.875em;
    color: #333;
    margin: 23px 0 5px 0;
    clear: both;
}

.ContextualHelpSubSection {
    max-width: 330px;
}

.ContextualHelpSupportMailTo {
    color: #2b579a;
    cursor: pointer;
}

.closeContextualHelpFlyout {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #666;
    font-size: 15px;
}

.displaySingleColumn {
    clear: both;
    max-width: 330px;
}

.displayDoubleColumns {
    min-width: 145px;
    max-width: 145px;
}

.contextualHelpLoadingImageContainer {
    margin-top: 120px;
    text-align: center;
}

.contextualHelpLoadingText {
    margin-top: 15px;
}

.contextualHelpSections {
    overflow-y: auto;
    height: 310px;
}

.PersonaFlyout, .AppMenuFlyout {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.47);
}

.PersonaFlyout {
    position: absolute;
    z-index: 101;
    display: none;
    width: 400px;
    height: 150px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    right: 30px;
    top: 40px;
}

.PersonaContainer img {
    width: 84px;
    height: 72px;
    padding-right: 10px;
}

.PersonaContainer {
    margin-bottom: 17px;
    display: inline-block;
}

.PersonaPictureContainer, .PersonaPictureDetails {
    float: left;
}

.SignOutLink a, .PersonaEmail {
    color: #333;
}

.PersonaTitle {
    padding-top: 13px;
}

.PersonaEmail {
    font-size: 12px;
}

.AppHeaderProfilePict {
    width: 30px;
    height: 30px;
}

#MasterPageForm {
    margin: 0;
    padding: 0;
}

/*---- Media Queries ----*/

@media (max-width: 566px) {
    .matterPopup, .documentPopup {
        background-color: #fff;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.47);
        color: #FFF;
        display: none;
        float: right;
        margin: 0 0 0 45px;
        height: 292px;
        min-width: 256px;
        max-width: 365px;
        position: absolute;
        z-index: 105;
        border: 1px solid #fff;
    }

    .appSwitchMenuShow {
        height: 85px !important;
    }

    .appSwitchMenu {
        margin: -9px 3px 0px 8px;
    }

    .appSwitcherName {
        margin: 7px 0 0 48px;
        min-width: 120px;
        text-align: left;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    .appSwitch {
        height: 36px;
        width: 99.99%;
        width: calc(100% - 1px);
        border-bottom: 1px solid #c8c8c8;
        opacity: 0.9;
    }
}

@media (min-width: 0px) and (max-width: 400px) {
    .ErrorPopUpCenter {
        width: 80%;
    }
}

@media (min-width: 0px) and (max-width: 432px) {
    #ProfileSwitcher {
        display: none;
    }
}
/* CSS for Landing page in Word */
@media (min-width: 0px) and (max-width: 320px) {
    .MasterPageContent {
        min-width: 310px;
    }

    .ContextualHelpContainer {
        left: 2%;
    }
}
/* CSS for App Menu and Contextual Help in Word */
@media (min-width: 0px) and (max-width: 510px) {
    .AppMenuFlyout {
        width: 250px;
        height: 155px;
    }

    .AppMenuFlyoutPriLinks {
        border-right: 0px;
        padding-bottom: 5px;
    }

    .AppMenuFlyoutPriLinks, .AppMenuFlyoutSecLinks {
        width: 260px;
    }

    .AppMenuFlyoutSecLinks {
        padding-left: 0px;
        padding-top: 15px;
    }

    .displaySingleColumn, .displayDoubleColumns {
        max-width: 280px;
    }

    .ContextualHelpContainer {
        max-width: 310px;
        min-width: 310px;
    }
}

/*header section*/
.popupContainerBackground {
    left: 0;
}

.matterCenterHeaderBackground {
    background-color: #333;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

#matterCenterHeader {
    height: 60px;
    background-color: #0072c6;
    position: relative;
    margin: 0 auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#matterCenterHome {
    margin: 10px 10px 0 20px;
}

#matterCenterHomeText, .matterLandingPage, .documentLandingPage {
    color: #fff;
}

.upperSubText {
    font-size: 1.188em;
    padding-top: 10px;
}

.lowerSubText {
    font-size: 0.813em;
}

.searchBox {
    float: right;
    background-color: white;
    width: 400px;
    height: 28px;
    margin: 15px 20px 0 0;
    border: 1px solid #c8c8c8;
}

#searchText {
    font-style: italic;
    border: none;
    width: 90%;
    height: 90%;
    padding: 0 0 0 10px;
    margin-top: 2px;
    font-size: 14px;
}

    #searchText:focus {
        outline: none;
    }

.searchIcon {
    padding: 8px;
    cursor: pointer;
}

#searchLink {
    float: right;
}

#hamburgerConatiner {
    height: 60px;
    cursor: pointer;
}

#headerFlyout {
    position: absolute;
    height: 130px;
    width: 1110px;
    width: calc(100% - 40px);
    background-color: #fff;
    top: 60px;
    padding: 22px 20px;
    z-index: 10;
}


.headerLinks {
    color: #2b579a;
    font-family: "Segoe UI Semilight", "Segoe UI";
    font-size: 22px;
    padding: 0;
}

    .headerLinks > span {
        cursor: pointer;
    }

    .headerLinks:not(:nth-child(1)) {
        margin-top: 17px;
    }

    .headerLinks a {
        text-decoration: none;
        color: #2b579a;
        cursor: pointer;
    }

.matterPopupPointer {
    -moz-transform: rotate(136deg);
    -ms-transform: rotate(136deg);
    -o-transform: rotate(136deg);
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);
    background-color: #fff;
    color: #fff;
    height: 15px;
    margin: 117px -12px 0 -8px;
    width: 15px;
    float: left;
}

.closeIcon {
    position: absolute;
    z-index: 10;
}

/*end region*/

/* Footer section*/
#footer {
    background-color: #F5F5F5;
    font-family: 'Segoe UI';
    font-size: 1em;
    height: 87px;
    text-align: right;
    width: 100%;
    position: static;
    bottom: 0;
}

.footerContent {
    margin-right: 170px;
    width: 1150px;
    margin: 0 auto;
}


.rightFooter {
    list-style-type: none;
}

    .rightFooter ul {
        list-style-type: none;
        padding-left: 0;
    }

.rightFooterElement {
    color: #2b579a;
    display: inline;
    margin-left: 20px;
}

.rightend {
    float: right;
    font-size: 1.6em;
    margin-top: 0;
}

.imgNoBorder {
    border: none;
}

.footerLinks {
    padding-top: 28px;
}

.copyRightElement {
    color: #666;
}

.mslogo {
    margin-top: 10px;
}


/*end region*/
