body {
    height: 100%;
    margin: 0;
    min-height: 430px;
    padding: 0;
    position: absolute;
    width: 100%;
}

.container {
    width: 100%;
}

#addNewAssignPerm {
    padding: 0 0 32px 0;
}

:-ms-input-placeholder, ::-webkit-input-placeholder {
    color: #666;
    font-size: 0.875em;
    font-style: italic;
}

select::-ms-expand {
    background: url(../Images/glyph-9x5#666.png) no-repeat;
    border: 0 !important;
    display: inline;
}

.blue {
    color: #333;
    text-decoration: underline;
}

.menuTextSelected::first-letter {
    font-size: 20px;
}

.selectedApp {
    background-color: #e4e4e4;
}

.menuText::first-letter {
    font-size: 20px;
}

#txtMatterDesc {
    overflow-x: hidden;
    overflow-y: auto;
}

.popUpCloseIcon {
    cursor: pointer;
}

#snBlockUser {
    height: 67px;
}

.sectionContent .clear {
    color: #666;
    line-height: 1.6;
}

.contentLabel.blue {
    color: #666;
    float: left;
    font-family: 'Segoe UI', Calibri, 'Times New Roman';
    font-size: 1.125em;
    margin-top: -2px;
    padding-top: 9px;
    text-decoration: none;
}

#txtBlockUser {
    margin-bottom: 10px;
}

.container {
    float: left;
    font-family: 'Segoe UI', Calibri, 'Times New Roman';
    position: absolute;
    top: 0;
    padding-left: 47px;
    margin-left: -10px;
    width: calc(100% - 47px);
    pointer-events: none;
}

.AppHeader {
    display: block;
    min-height: 40px;
}

.header {
    background-color: #fafafa;
    float: left;
    height: 40px;
    position: fixed;
    top: 0;
    width: 712px;
    z-index: 100;
}

.headerText {
    color: #0c4ca3;
    float: right;
    font-family: 'Segoe UI Light', 'Segoe UI';
    font-size: 18pt;
    line-height: 40px;
    margin-right: 15px;
}

.header .menuTextGroupHeader {
    color: #333;
    float: left;
    font-family: 'Segoe UI Light', 'Segoe UI';
    font-size: 18pt;
    line-height: 40px;
    margin-left: 15px;
}

.mainArea {
    float: left;
    height: 430px;
    min-height: 430px;
    width: 670px;
}

    .mainArea .notificationContainer {
        position: absolute;
        left: 0;
        top: 52px;
        width: 100%;
        z-index: 99;
        pointer-events: visible;
    }

        .mainArea .notificationContainer .notification {
            font-size: .9em;
            padding: 8px 12px;
            position: relative;
        }

_::-moz-svg-foreign-content, :root .mainArea .notificationContainer {
    width: 98%;
}

.mainArea .notificationContainer .errorNotification {
    background-color: #a0003e;
}

.mainArea .notificationContainer .notification .closeNotification {
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

.mainArea .errorPopUp {
    height: 50px;
    margin: 10px;
    position: absolute;
    width: 264px;
    z-index: 100;
}

.mainArea .errTriangle {
    border: 12px solid transparent;
    border-top: 12px solid red;
    height: 0;
    left: 45px;
    position: absolute;
    top: 149%;
    top: calc(50% - -36px);
    width: 0;
}

.mainArea .errTriangleBorder {
    border: 12px solid transparent;
    border-top: 12px solid #fff;
    height: 0;
    left: 45px;
    position: absolute;
    top: 147%;
    top: calc(50% - -35px);
    width: 0;
}

.mainArea .errText {
    background-color: #fff;
    border: 1px solid red;
    color: #333;
    font-size: .75em;
    min-height: 50px;
    padding: 10px 10px 0;
    text-align: left;
    width: 241px;
}

.mainArea .errClose {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.successBanner {
    background-color: #00a03e;
    color: #fff;
}

.warningBanner {
    background-color: #fef09e;
    color: #000;
}

.failureBanner {
    background-color: #f00;
    color: #fff;
}

.menu {
    float: left;
    height: 40px;
    margin-top: 2px;
    max-height: 46px;
    min-height: 46px;
    max-width: 620px;
    overflow: hidden;
    width: 100%;
    pointer-events: visible;
}

.menuTextGroup {
    float: left;
    height: 100%;
    width: 100%;
}

.menuText {
    color: #666;
    cursor: pointer;
    float: left;
    font-size: 1.125em;
    height: 100%;
    line-height: 40px;
    padding: 0 11px 0 13px;
}

.menuTextSelected {
    color: #2b579a;
}

.content {
    float: left;
    height: calc(100% - 40px);
    margin-left: 15px;
    width: 100%;
    width: calc(100% - 15px);
    padding-top: 4px;
    pointer-events: visible;
}

    .content label, .content select, .content input, .content textarea, .secureMatterLabel {
        float: left;
        font-family: 'Segoe UI', Calibri, 'Times New Roman';
        color: #666;
    }

    .content label {
        font-size: .875em;
        margin-bottom: 2px;
        color: #666;
        font-weight:normal;
    }

    .content select, .content input, .content textarea, .content #documentTemplates {
        border: 1px solid #c8c8c8;
        height: 28px;
        line-height: 14pt;
        margin-bottom: 10px;
    }

.conflictRadioBtn .smaller input, #chkConflictCheck, .secureMatterRadioBtn .rdbOptions input {
    border: none;
    padding-right: 0;
}

.content select {
    font-size: .875em;
    padding: 2px 0 2px 10px;
    color: #666;
}

.content input, .content textarea {
    font-size: .87em;
    padding: 2px 17px 2px 10px;
    color: #666;
}

.content textarea {
    height: 75px;
}

.content .headerLabel {
    font-family: 'Segoe UI Light', 'Segoe UI';
    font-size: 22px;
    line-height: 30px;
    margin-top: 15px;
}

.content .subLabel {
    font-size: 14px;
    line-height: 18px;
    margin-top: -5px;
}

.content .button {
    background-color: #0072c6;
    border: 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: 'Segoe UI', Calibri, 'Times New Roman';
    font-size: 0.875em;
    font-weight: 600;
    height: 30px;
    line-height: 1.16em;
    margin-top: 49px;
    min-height: 30px;
    width: 131px;
}

    .content .button[disabled] {
        background-color: #ECECEC;
        color: #666;
    }

.content input[type=checkbox], .content input[type=radio] {
    height: 20px;
    margin: 0 5px 0 0;
    min-width: 18px;
}

.content input[type=radio] {
    opacity: 0.665;
}

    .content input[type=radio]:hover {
        opacity: 1;
    }

.content select.noBorder {
    border: 0 solid transparent;
}

.content #documentTemplates {
    clear: left;
    float: left;
    font-size: .875em;
    height: 75px;
    max-width: 445px;
    min-width: 445px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 445px;
}

    .content #documentTemplates .docTemplateItem {
        -ms-word-wrap: break-word;
        clear: both;
        float: left;
        padding: 2px 10px;
        width: 100%;
        word-wrap: break-word;
    }

.content #chkConflictCheck {
    margin-bottom: 5px;
    padding-left: 0;
}

.content .conflictRadioBtn {
    margin-top: 6px;
}

.content #btnCreateMatter {
    margin-top: 10px;
}

.large {
    margin-bottom: 15px;
    max-width: 447px;
    min-width: 447px;
}

.medium {
    max-width: 292px;
    min-width: 292px;
}

.mediumSmall {
    max-width: 160px;
    min-width: 160px;
}

.mediumSmallRole {
    width: 160px;
}

.mediumSmallPermission {
    width: 125px;
}

.small {
    max-width: 136px;
    min-width: 136px;
}

.smaller {
    margin-top: 5px;
    max-width: 60px;
    min-width: 60px;
}

.gutter {
    float: left;
    height: 1px;
    width: 20px;
}

.clear {
    clear: both;
}

.sectionStep {
    color: #333;
    float: left;
    height: calc(100% - 15px);
    margin-top: 7px;
    width: 100%;
}

    .sectionStep .sectionContent {
        float: left;
        position: relative;
        width: 70%;
    }

    .sectionStep #addMoreLink {
        bottom: -26px;
        color: #2b579a;
        cursor: pointer;
        float: right;
        font-family: 'Segoe UI', Calibri, 'Times New Roman';
        font-size: 0.75em;
        /*height: 32px;*/
        margin-left: 492px;
        position: absolute;
        width: 108px;
        padding: 0 0 32px 0;
    }

    ::-moz-svg-foreign-content, .sectionStep #addMoreLink {
        margin-left: 497px;
    }

.loading {
    font-family: "Segoe UI Light", "Segoe UI";
    font-size: 14pt;
    left: 195px;
    position: absolute;
    top: 256px;
    top: calc(0% + 256px); /* IE and Chrome and Mozilla */
}

.loadingLookUp {
    position: absolute;
    left: 102%;
    top: 88%;
    left: calc(0% + 605px);
    top: calc(0% + 302px);
}

#loadingImage {
    margin: 14px 0 0 14px;
    width: 25px;
}


.hide {
    display: none;
}

.iconForward, .iconBack {
    opacity: 0.665;
}

    .iconForward:hover, .iconBack:hover {
        opacity: 1;
    }

.chkConflictCheckParent {
    min-width: 20px;
}

#chkConflictCheckParent {
    min-width: 100%;
    max-width: 100%;
}

.appNames {
    float: right;
    padding: 0;
    width: 25%;
}

h1.appHeaders {
    color: #2b579a;
    font-weight: lighter;
    margin: 2px;
    text-align: right;
}

h1.genericName {
    color: #666;
    float: left;
    font-size: 1em;
    font-weight: 400;
    line-height: 16px;
    margin: 0 12px 0 10px;
}

h1.specificName {
    cursor: pointer;
    float: left;
    font-size: 1em;
    line-height: 24px;
    margin: 8px 0 0 5px;
    font-weight: 600;
}

.mandatory {
    color: red;
}

.selectDefaultContentTypeMessage {
    color: #666;
    float: right;
    font-family: 'Segoe UI';
    font-size: 13px;
    visibility: hidden;
    width: 141px;
    position: absolute;
}

.SavePopUpEntries {
    margin: 13px 2px 0 0;
    background-color: #0072c6;
    border: 0;
    clear: both;
    color: #fff;
    cursor: pointer;
    font-family: 'Segoe UI', Calibri, 'Times New Roman';
    font-size: .875em;
    font-weight: 600;
    height: 30px;
    line-height: 15pt;
    min-width: 70px;
    text-align: center;
    width: 80px;
    margin-left: 485px;
}

.popUpBody > div {
    height: calc(100% - 55px) !important;
}

.defaultContentType {
    background-color: #7c7c7c;
    color: #fff;
}

.popDT {
    height: 213px !important;
}

.errText {
    left: 24px;
    top: 6px;
    position: absolute;
    z-index: -1;
}

.popUpContainer {
    bottom: 0;
    color: #333;
    font-size: .87em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.popupContainerBackground {
    background-color: #000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.popupbodyblocks {
    width: 26%;
}

.popUpLeftClick {
    bottom: 60%;
}

.popUpRightClick {
    bottom: 40%;
}

#navigate {
    height: 70%;
}

.switchApp {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-image: none;
    color: #333;
    display: none;
    font-size: .87em;
    margin: 35px 0 0 0;
    padding: 2px 0;
    position: absolute;
    top: 15px;
    width: 145px;
    z-index: 100;
}

.switchAppRow {
    cursor: pointer;
    padding: 10px;
}

    .switchAppRow:hover {
        background-color: #eaeaea;
        color: #333;
    }

.secureMatterRadioBtn {
    float: left;
    margin-left: 20px;
}

.rdbOptions {
    max-width: 60px;
    min-width: 60px;
}

.pagination {
    width: 100%;
}

.logo {
    float: left;
}


#defaultMessageDiv {
    width: 454px;
}

#infoImg {
    vertical-align: top;
    margin-top: 16px;
    opacity: 0.665;
}

    #infoImg:hover {
        opacity: 1;
    }

#btnLookup {
    margin-top: 47px;
}

#defaultMessage {
    display: inline-block;
    margin-top: 22px;
    font-family: "Segoe UI", Calibri, "Times New Roman";
    padding-left: 5px;
}

.pagination {
    width: calc(100% + 15px);
    margin-left: -15px;
    background-color: #eaeaea;
    height: 30px;
    position: fixed;
    bottom: 0px;
    opacity: 0.9;
    right: 0;
}

.nextPreviousDiv {
}

.pagination span {
    display: inline-block;
    font-family: "Segoe UI", Calibri, "Times New Roman";
    font-size: 0.87em;
    margin-top: 8px;
    color: #666;
    cursor: pointer;
}

    .pagination span:last-child {
        float: right;
        margin-right: 15px;
        margin-top: 5px;
    }

    .pagination span:first-child {
        margin-left: 25px;
        margin-top: 5px;
    }


.disable {
    cursor: none;
}

.close {
    margin-bottom: 16px;
    float: left;
    display: inline-block;
    cursor: pointer;
    opacity: 0.665;
    margin-left: 7px;
}

    .close:hover {
        opacity: 1;
    }

.img {
    margin-top: 14%;
}

.activeApp {
    color: #2b579A !important;
    text-decoration: underline;
}



.listMenuImage {
    margin-top: 15px;
    margin-left: 15px;
    position: fixed;
    cursor: pointer;
    z-index: 3;
    opacity: 1;
}

#ddlClientList, #popUpPGList, .ddlRoleAssignList, .ddlPermAssignList {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    z-index: 1;
}

#ddlClientList {
    max-height: 204px;
    overflow-y: scroll;
    width: 100%;
}

#ddlClientList, #popUpPGList {
    position: absolute;
    top: 48px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#popUpPGList {
    top: 68px;
    max-height: 150px;
    overflow-y: scroll;
    width: 242px;
}

.ddlRoleAssignList {
    width: 158px;
    position: absolute;
    clear: both;
    max-height: 100px;
    overflow-y: scroll;
}

_::-moz-svg-foreign-content, :root .ddlRoleAssignList, :root .ddlPermAssignList { /*Safari*/
    -webkit-margin-start: 0.7%;
}

.ddlPermAssignList {
    width: 123px;
    position: absolute;
    clear: both;
    max-height: 100px;
    overflow-y: scroll;
}

.ddlRoleAssignList {
    left: 312px;
}

.ddlPermAssignList {
    left: 492px;
}

.ddListOnHover {
    background-color: #eaeaea;
    color: #666;
}

.ddClientIcon, .ddpopUpPGIcon, .ddlRoleAssignIcon, .ddlPermAssignIcon {
    opacity: 0.665;
}

    .ddClientIcon:hover, .ddpopUpPGIcon:hover, .ddlRoleAssignIcon:hover, .ddlPermAssignIcon:hover {
        opacity: 1;
    }

.ddpopUpPGIcon {
    position: absolute;
    margin: 10px 0 0 -25px;
}

#ddlClient, #popUpPG, .ddlClientListItem, .popUpOptions, .roleValue, .permValue, .assignRole, .assignPermission {
    cursor: pointer;
    -webkit-text-fill-color: #555;
}

#ddlClient, #popUpPG, .assignRoleField, .assignPermField {
    background-color: #fff;
    padding: 0 10px;
}

.ddlClientListItem, .popUpOptions, .roleValue, .permValue {
    padding: 2px 10px 3px;
    font-size: .875em;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ddClientIcon {
    position: absolute;
    left: 272px;
    top: 32px;
}

.floatContentLeft {
    float: left;
}

.ddlRoleAssignIcon, .ddlPermAssignIcon {
    position: absolute;
    margin-top: 11px;
    margin-left: -17px;
}

.popUpPGDiv {
    width: 246px;
}

.iconForward, .iconBack, #infoImg, .close {
    width: 27px;
}


@media (min-width: 735px) {

    .mainArea .errTriangle {
        left: 45px;
    }

    .mainArea .errTriangleBorder {
        left: 45px;
    }

    .appSwitcherName {
        margin: 125px 0 0 -70px;
        min-width: 180px;
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        text-align: right;
    }

    .selected {
        color: #2b579a !important;
    }

    .appSwitchMenu {
        position: fixed;
        z-index: 2;
        margin: 25px 3px 0 -25px;
    }

    .appSwitch {
        background-color: #E0ECF9;
        float: left;
        border-right: 1px solid #C8c8c8;
        position: fixed;
        height: 100% !important;
        width: 48px;
        z-index: 102;
        opacity: 0.9;
    }

    .appSwitchMenuShow {
        width: 186px;
    }
}

.ui-autocomplete {
    width: 286px !important;
}

@media all and (min-width:850px) {
    .SavePopUpEntries {
        margin-top: -29px;
    }

    #infoImg, #defaultMessage, .SavePopUpEntries {
        float: left;
    }

    .popUpLeftClick {
        bottom: 60%;
        margin-top: 92px;
    }

    .popUpRightClick {
        bottom: 40%;
        margin-top: 10px;
    }

    .popUpContainer {
        margin-top: 50px !important;
    }
}


.addNewMember {
    width: 650px;
}

@media all and (max-width: 850px) {
    .addNewMember {
        width: 100%;
    }

    #popUpPGList {
        top: 66px;
    }

    .popUpPosAbs {
        position: absolute;
        margin-left: -15px !important;
    }

    .popUpBorder {
        border: 1px solid #c8c8c8;
        height: 213px;
        width: 240px;
    }

    .popUpCloseIcon {
        margin: -8px -8px 0 0;
    }

    #popupAOLBorder, #popupSAOLBorder {
        height: calc(100% - 36px) !important;
    }

    #defaultMessageDiv {
        width: 161px;
    }

    #popupAOLContent, #popupSAOLContent {
        height: 116px;
    }

    .popUpPosAbs {
        position: relative;
        float: left;
    }

    .iconBack {
        margin-left: 81px;
        margin-top: -22px;
    }

    #divDocTemplate {
        position: relative;
        left: 0;
        top: 20px;
    }

    .popUpBody > div {
        height: calc(100% - 118px) !important;
        width: 100%;
    }

    .popUpContainer {
        min-height: 725px;
        max-width: 305px;
        margin-top: 55px !important;
        margin-right: auto;
        margin-bottom: 55px;
        width: calc(100% - 42px);
    }

    .alignCenter {
        width: 249px;
        margin: 0 auto;
    }

    .popUpBody {
        height: calc(100% - 128px);
    }

    .SavePopUpEntries {
        margin-right: 6px;
        margin-left: 156px;
    }

    .iconForward, .iconBack {
        margin-left: 5px;
        /* Rotate div */
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */
        margin: -5px 0 0 68px !important;
    }

    .popUpMarginRight {
        margin-right: 0;
    }

    .popUpBody > div, #divAOL, #divSAOL {
        height: 200px !important;
    }

    .popUpBorder {
        height: 150px !important;
    }

    #navigate {
        position: relative;
        top: 0;
        clear: both;
        height: 0 !important;
        display: inline-flex;
        width: 240px;
    }

    #infoImg {
        vertical-align: top;
        margin-top: 13px;
    }

    #defaultMessage {
        display: inline-block;
        margin-top: -30px;
        margin-left: 32px;
        font-size: 9px;
    }

    .popDT {
        height: 150px !important;
    }
}

@media (min-width:400px) and (max-width:530px) {
    .popUpContainer {
        margin: auto;
        margin-left: 10% !important;
    }
}

@media all and (min-width:850px) {
    .popUpContainer {
        margin: auto !important;
    }
}

@media all and (max-width:400px) {
    .popUpContainer {
        position: absolute;
        margin: auto;
    }
}


#checkbox-label-text {
    width: 140px;
}

.disable-checkbox {
    pointer-events: none;
}

.checkbox {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.conflictCheckPosition {
    margin-top: -5px;
}

.assignTeamRadioPosition {
    margin-top: -4px;
}

.createNotifyDescription {
    margin-top: -6px;
}

.calendarPosition, .rssFeedsPosition, .emailPosition, .taskPosition {
    position: relative;
}

.calendarPosition {
    top: 9px;
}

.rssFeedsPosition {
    top: 13px;
}

.emailPosition {
    top: 14px;
    margin-bottom: 19px;
}

.checkbox {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.conflictCheckPosition {
    margin-top: -5px;
}

.assignTeamRadioPosition {
    margin-top: 0px;
}

.createNotifyDescription {
    margin-top: -6px;
}

.calendarPosition, .rssFeedsPosition, .emailPosition {
    position: relative;
}

.calendarPosition {
    top: 9px;
}

.rssFeedsPosition {
    top: 13px;
}

.emailPosition {
    top: 14px;
    margin-bottom: 19px;
}

::-moz-svg-foreign-content, #clientId {
    margin-left: 6px;
}

::-moz-svg-foreign-content, #txtMatterDesc, .content #documentTemplates {
    max-width: 452px;
    min-width: 452px;
}

::-moz-svg-foreign-content, .pagination span:first-child {
    margin-left: 15px;
}

::-moz-svg-foreign-content, #ddlClientList, .content #documentTemplates {
    margin-left: 2px;
}

@media (max-width: 734px) {
    .container {
        position: relative;
        width: calc(100% + 10px);
        padding-left: 0px;
    }

    .ui-autocomplete {
        width: 270px !important;
    }

    .sectionStep {
        max-width: 327px;
    }

    .ddlRoleAssignList {
        left: 0;
        width: 114px;
    }

    .appSwitchMenuShow {
        height: 85px !important;
    }

    .ddClientIcon {
        top: 96px;
        left: 256px;
    }

    #ddlClientList {
        top: 113px;
    }

    .ddlPermAssignList {
        left: 144px;
        width: 114px;
    }

    body, .mainArea {
        min-width: 300px;
        padding-left: 0 !important;
    }

    .mainArea {
        padding-top: 0px;
        width: auto;
    }

    .listMenuImage, .appSwitchMenu {
        position: absolute;
    }

    .listMenuImage {
        margin-top: 10px;
        margin-left: 15px;
    }

    #loadingImage {
        margin: 14px 0 0 14px;
        width: 25px;
    }

    .mainArea .notificationContainer {
        top: 0;
    }

        .mainArea .notificationContainer .notification {
            font-size: .9em;
            padding: 10px 12px 8px 12px;
            position: relative;
            width: calc(100% - 24px);
            padding-left: 10px;
        }

    .popUpCloseIcon {
        margin: -8px -8px 0 0;
    }

    .ui-autocomplete-input, .mediumSmallRole, .mediumSmallPermission {
        min-width: 116px !important;
        max-width: 116px !important;
        width: 0;
    }

    .ddlRoleAssignIcon, .ddlPermAssignIcon {
        position: absolute;
        margin-top: 2px;
        margin-left: -30px;
        padding: 9px 8px 8px 9px;
        background-color: #fff;
        opacity: 1;
    }

    .mediumSmallRole {
        clear: both;
    }

    .close {
        margin-left: 20px;
    }

    .pagination {
        width: calc(100% + 15px) !important;
    }

    .menuText {
        height: auto;
        clear: both;
    }

    #snBlockUser {
        height: 67px;
    }

    .menu {
        min-height: 130px;
        max-height: 150px;
        margin-top: 0px;
    }

    #selectClient {
        margin-top: 65px;
    }

    #loadingLookupImage {
        margin-top: 16px;
    }

    #clientId {
        left: 0;
        position: absolute;
    }

    #txtClientId {
        left: 0;
        top: 23px;
        position: absolute;
    }

    #enterMatterName {
        margin-top: 62px;
    }

    #enterMatterId {
        position: absolute;
        left: 0;
        top: 125px;
    }

    #txtMatterId {
        position: absolute;
        left: 0;
        top: 147px;
    }

    .large {
        min-width: 276px;
        max-width: 276px;
    }

    .content #documentTemplates {
        min-width: 276px;
        max-width: 276px;
    }

    #popupAOLBorder, #popupSAOLBorder {
        height: calc(100% - 36px) !important;
    }

    #popupAOLContent, #popupSAOLContent {
        height: 116px;
    }

    #divSAOL {
        clear: both;
    }

    #navigate {
        position: relative;
        top: 0;
        clear: both;
        height: 0 !important;
    }

    .popUpPosAbs {
        position: relative;
        float: left;
    }

    #divDocTemplate {
        position: relative;
        left: 0;
        top: 20px;
    }

    .popUpBody > div {
        height: calc(100% - 118px) !important;
        width: 100%;
    }

    .popUpContainer {
        min-height: 725px;
        margin: auto;
        position: absolute;
        margin-top: 50px;
    }

    .alignCenter {
        width: 249px;
        margin: 0 auto;
    }

    .popUpBody {
        height: calc(100% - 128px);
    }

    .SavePopUpEntries {
        margin-right: 6px;
        margin-left: 162px;
    }

    .iconForward, .iconBack {
        /* Rotate div */
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */
        margin: -5px 0 0 68px !important;
    }


    .medium, .mediumSmall, #txtConflictCheckDate {
        min-width: 276px !important;
        max-width: 276px !important;
    }

    #conflictCheckBy, #checkedPerformedOn {
        margin-bottom: 50px;
    }

    #txtConflictCheckBy {
        position: absolute;
        left: 0;
        top: 60px;
        margin-top: 8px;
    }

    #txtConflictCheckDate {
        position: absolute;
        left: 0;
        top: 130px;
        margin-top: 8px;
    }

    .conflictRadioBtn {
        clear: both;
        margin-bottom: 45px;
    }

    .switchApp {
        left: 5px;
        right: 0;
    }

    #btnLookup {
        margin-top: 0;
        clear: both;
        margin-bottom: 50px;
    }

    .popUpBorder, #navigate {
        width: 240px;
    }

    .popUpMarginRight {
        margin-right: 0;
    }

    .popUpBody > div, #divAOL, #divSAOL {
        height: 200px !important;
    }

    .popUpBorder {
        height: 150px !important;
    }

    .loadingLookUp {
        position: absolute;
        left: calc(0% + 140px);
        top: calc(0% + 477px);
    }

    .mainArea .errTriangle {
        left: 45px;
        top: calc(50% - -36px);
    }

    .mainArea .errTriangleBorder {
        left: 45px;
        top: calc(50% - -35px);
    }

    .secureMatterRadioBtn {
        margin-left: 0;
        padding-top: 5px;
    }

    .popDT {
        height: 150px !important;
    }

    #labelName {
        min-width: 190px !important;
    }

    .gutter {
        float: left;
        width: 0;
        height: 1px;
    }

    .mediumSmallPermission {
        margin-left: 14px;
    }

    .loading {
        top: 380px;
        left: 145px;
    }

    .appNames {
        width: 70%;
    }

    .popUpMDTextArea {
        width: 220px;
        height: 28px;
    }

    #addMoreLink {
        left: -348px;
    }

    #defaultMessageDiv {
        width: 161px;
    }

    #infoImg {
        vertical-align: top;
        margin-top: 13px;
    }

    #defaultMessage {
        display: inline-block;
        margin-top: -30px;
        margin-left: 32px;
        font-size: 9px;
    }

    .pagination {
        margin-top: 589px;
    }

    .appSwitch {
        height: 36px;
        width: 99.99%;
        width: calc(100% - 1px);
        border-bottom: 1px solid #c8c8c8;
        opacity: 0.9;
        background-color: #E0ECF9;
        float: left;
        border-right: 1px solid #C8c8c8;
        z-index: 102;
    }

    .appSwitcherName {
        margin: 7px 0 0 48px;
        min-width: 120px;
        text-align: left;
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    .appSwitchMenu {
        margin: -9px 3px 0 8px;
    }

    .nextPreviousDiv {
        width: 99%;
    }

    ::-moz-svg-foreign-content, :root .ddlRoleAssignList, :root .ddlPermAssignList { /*Safari*/
        -webkit-margin-start: 0%;
    }

    ::-moz-svg-foreign-content, #txtMatterDesc, .content #documentTemplates {
        max-width: 276px;
        min-width: 276px;
    }

    ::-moz-svg-foreign-content, .loadingLookUp {
        left: 140px;
        top: 477px;
    }
}
