.popupContainerBackground {
    background-color: #000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.popUpContainer {
    background-color: #fff;
    bottom: 0;
    height: 362px;
    left: 0;
    margin: auto;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.alignCenter {
    width: 750px;
    margin: 0 auto;
}

.popUpHeaderTitle {
    font-family: "Segoe UI", Calibri, "Times New Roman";
    font-size: 0.875em;
    line-height: 15pt;
    margin-bottom: 5px;
}

.popUpFloatLeft {
    float: left;
}

.popUpFloatRight {
    float: right;
}

.popUpCloseIcon {
    cursor: pointer;
}

.popUpPracticeGroup {
    margin-top: 10px;
}

.popUpBody {
    height: calc(100% - 70px);
    margin-top: 15px;
    width: 100%;
}

    .popUpBody > div {
        height: calc(100% - 55px);
        width: calc(33% - 45px);
    }

.popUpMarginRight {
    margin-right: 20px;
}

.popUpMDTextArea {
    border: 1px solid #c8c8c8;
    font-family: "Segoe UI", Calibri;
    font-size: .875em;
    height: 28px;
    margin: 10px;
    padding-left: 10px;
    width: 179px;
}

.popUpBodyBlocks {
    width: 23%;
}

.popUpLeftClick {
    bottom: calc(50% + 10px);
    cursor: pointer;
}

.popUpRightClick {
    bottom: calc(50% - 50px);
    cursor: pointer;
}

.popUpCommonContent > div {
    cursor: pointer;
}

.popUpBodyHeader {
    color: #333;
    font-family: "Segoe UI", Calibri, "Times New Roman";
    font-size: 0.875em;
    line-height: 15pt;
    margin: 0 5px 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.popUpCommonContent {
    -ms-word-wrap: break-word;
    font-family: "Segoe UI", Calibri, "Times New Roman";
    font-size: 0.875em;
    height: 155px;
    line-height: 11pt;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

    .popUpCommonContent div {
        padding: 10px;
    }

.popUpBorder {
    border: 1px solid #c8c8c8;
    height: 213px;
    width: 200px;
}

.popUpMoveItem {
    width: 58px;
}

.popUpPosAbs {
    margin-left: -4px;
}

.popUpSelected {
    background-color: #eaeaea;
    color: #333;
}

.popUpPG {
    border: 1px solid #c8c8c8;
    font-family: "Segoe UI", Calibri;
    font-size: .87em;
    height: 28px;
    line-height: 14px;
    padding: 2px;
    width: 242px;
    margin-top: -1px;
}

#navigate {
    position: relative;
    width: 20px;
}

.errTriangleArea {
    border: 12px solid transparent;
    border-top: 12px solid red;
    height: 0;
    left: 45px;
    margin-left: 10px;
    position: absolute;
    top: 125%;
    top: calc(50% - -36px);
    width: 0;
}

.errTriangleBorderArea {
    border: 12px solid transparent;
    border-top: 12px solid #fff;
    height: 0;
    margin-left: 10px;
    left: 45px;
    position: absolute;
    top: 122%;
    top: calc(50% - -35px);
    width: 0;
}

.errorPopUpArea {
    height: 50px;
    margin: -75px 0 0 -44px;
    position: absolute;
    width: 203px;
    z-index: 100;
}

.errTextArea {
    background-color: #fff;
    border: 1px solid red;
    color: #333;
    font-size: .75em;
    min-height: 50px;
    padding: 5px 10px;
    text-align: left;
    width: 136px;
}

.loadingImage {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px 0;
}

@media (max-width:483px) {
    .errorPopUpArea {
        width: 161px;
        margin: -84px 0 0 -47px;
    }

    .errTextArea {
        width: 92px;
    }

    .errTextAreaLevel4 {
        margin: 12px -24px 0px 0px !important;
        width: 138px !important;
    }

    .selectDefaultContentTypeMessage {
        width: 104px !important;
    }

    .selectDefaultContentTypeMessageLevel4 {
        width: 120px !important;
    }

    .popUpCommonContent {
        height: 116px !important;
    }
}

@media (max-width:483px) {
    .popUpCommonContent {
        height: 116px !important;
    }
}

@media (max-width:850px) {
    .popUpMDTextArea {
        width: 221px;
    }
}

.matterAlignCenter {
    width: 1280px;
    margin: 0 auto;
}

.AlignCenterLevel4 {
    width: 1025px;
    margin: 0 auto;
}

.popMarginRight {
    margin-right: 25px;
}

.matterType {
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 1316px) {
    .matterAlignCenter {
        width: 249px;
        margin: 0 auto;
    }

    .popUpContainerTaxLevel5 {
        min-height: 1250px !important;
        max-width: 277px !important;
        margin-top: 55px !important;
        margin-right: auto !important;
        margin-bottom: 55px !important;
    }

    .matterType {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .popUpPadding {
        padding-left: 35px !important;
    }
}

.popUpPadding {
    padding-left: 15px;
}


@media (max-width: 1066px) {
    .matterAlignCenter {
        width: 249px;
        margin: 0 auto;
    }

    .popUpBodyLevel4 {
        width: 236px !important;
    }

    .popAddLevel4 {
        position: absolute !important;
        width: 52px !important;
    }

    .popRemoveLevel4 {
        position: absolute !important;
        width: 75px !important;
        left: 77px !important;
    }

    .popUpContainerTaxLevel4 {
        min-height: 1025px !important;
        max-width: 277px !important;
        margin-top: 55px !important;
        margin-right: auto !important;
        margin-bottom: 55px !important;
    }

    .popUpBodyBlocksLevel4 {
        margin-top: 23px !important;
        width: 161px !important;
        margin-bottom: 12px !important;
        margin-left: 30px !important;
    }

    .defaultMessageDivLevel4 {
        width: 214px !important;
    }

    .infoImgLevel4 {
        margin-top: 0 !important;
    }

    .defaultMessageLevel4 {
        width: 187px !important;
        margin-top: 0 !important;
        font-size: 0.87em !important;
        margin-left: 0 !important;
        float: right !important;
    }

    .saveDocButtonLevel4 {
        margin-left: 46px !important;
        margin-top: 18px !important;
    }

    .popUpBorderLevel4 {
        height: 164px !important;
    }
}
