/* Specific styles for Search Documents page */

.gridViewButton {
    width: 170px;
    margin: 10px 0 0 0;
    padding: 0;
    border: 0;
    font-size: 14px;
}

#SendToOneDrive {
    float: left;
    margin-right: 10px;
}

#gridViewContainer_Grid thead {
    padding: 0 0 4px 0;
}

#gridViewContainer_Grid tbody {
    margin: 48px 0 0 0;
}

#matterPopupLoading {
    display: block;
    margin: 132px 0 0 120px;
}

.matterPopupData {
    margin: 3px 10px 10px 10px;
}

@media only screen and (max-width: 320px) {
    .jsonGridHeader:nth-child(n+5), .jsonGridRow:nth-child(n+5) {
        display: none;
    }
}

.AppMenuFlyout {
    height: 155px;
}

.DelveLink {
    display: block !important;
}

.content {
    cursor: pointer;
}

#gridView #gridViewContainer .disableButton {
    background-color: #808080;
    border-color: #808080;
    cursor: default;
}

/* Styles for attach and send pop up */
.documentList {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#attachDocuments {
    margin: 15px 0 8px 0;
    width: 170px;
    height: 30px;
}

.errorAttachDocument {
    background-color: #fdf09e;
    height: 55px;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    z-index:2;
}

.warningMessageIcon {
    float: left;
    margin: 10px 10px 0 10px;
    cursor: default;
}

.warningMessageText {
    margin-top: 5px;
    font: 14px "Segoe UI Regular","Segoe UI";
    color: #333;
    width: 320px;
    height: 45px;
}

.warningPopUpCloseIconContainer, .attachedProgressPopUp, .attachedFailedPopUp {
    margin: auto;
}

.warningPopUpCloseIconContainer {
    border: 1px solid;
    width: 80px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    padding-top: 2px;
}

.attachedSuccessPopUp {
    height: 70px;
    margin: 38px auto;
}

.attachedProgressPopUp {
    height: 137px;
    width: 230px;
    line-height: 1.7;
}

.documentList {
    width: 290px;
}

.attachedProgressPopUp, .documentList {
    margin-bottom: 7px;
}

.attachedFailedPopUp {
    width: 300px;
    padding-left: 20px;
}

.attachedPopUpDetails {
    margin-top: 3px;
    line-height: 1.6;
    margin-bottom: 9px;
    float: left;
}

.attachedPopUpCloseIconContainer {
    float: left;
    margin: 8px 0;
    border: 1px solid;
    width: 80px;
    height: 28px;
    cursor: pointer;
    padding-top: 2px;
}

.progressPopUpDetails, .warningPopUpDetails, .attachedPopUpCloseIconContainer {
    text-align: center;
}

.warningPopUpDetails {
    margin-bottom: 15px;
}

.warningPopUpContainer {
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 200px;
    left: 0;
    right: 0;
    padding: 12px 0;
    min-height: 120px;
    max-height: 251px;
}

.warningLoadingIcon {
    margin: auto;
    width: 30px;
    height: 30px;
    padding: 13px 15px;
}

.warningPopupBackground {
    top: 0;
    left: 0;
    background-color: #000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 999;
}

#currentDocumentCount {
    padding-right: 5px;
}
.documentDashboardCellCheckBox{
    padding-top: 3px;  z-index:6; position:relative
}
