body {
    height: 100%;
}

.mailpopupContainerBackground {
    background-color: #000;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.mailContainer {
    background-color: #fff;
    bottom: 0;
    height: 283px;
    left: 0;
    margin: auto;
    padding: 15px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: calc(100% - 32px);
    z-index: 999;
    min-width: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

#attachmentHeader {
    color: #333;
    float: left;
    font-size: 1.125em;
    font-weight: 300;
    padding-top: 5px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.attachmentHeaderInstruction:before {
    content: "Drag and drop items to folders on the right";
}

#matterLibraryURL {
    color: #0072c6;
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.treeNodes {
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .treeNodes:hover {
        background-color: #e5f5e5;
    }

.folderStructureContent, .parentNode {
    height: 150px;
}

.folderStructureWithBreadcrumb {
    height: 127px;
}

#mailContent {
    width: 712px;
    margin: 0 auto;
}

.popupName {
    float: left;
    margin-right: 10px;
    max-width: 200px;
    overflow: hidden;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: move;
}

.editPopupContent {
    padding-left: 10px;
    padding-top: 4px;
    width: 315px;
    cursor: default;
}

.treeNodes, .popupName, .editPopupContent {
    color: #333;
    font-size: .875em;
}

.errorPopUp {
    height: 50px;
    margin: 10px;
    position: absolute;
    width: 264px;
    z-index: 1000;
}

.errTriangle {
    border: 12px solid transparent;
    border-top: 12px solid #F00;
    height: 0;
    left: 45px;
    position: absolute;
    top: calc(50% - -36px);
    width: 0;
}

.errTriangleBorder {
    border: 12px solid transparent;
    border-top: 12px solid #fff;
    height: 0;
    left: 45px;
    position: absolute;
    top: calc(50% - -35px);
    width: 0;
}

.errText {
    background-color: #fff;
    border: 1px solid #F00;
    color: #333;
    font-size: .75em;
    min-height: 50px;
    padding: 5px 10px;
    text-align: left;
    width: 241px;
}

.folderContent {
    float: right;
    width: 50%;
    padding-right: 6px;
    height: 150px;
    border-bottom: 1px solid #c8c8c8;
}

.mailHeaderItems, .mailHeaderFolders {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    background-color: #eaeaea;
    color: #333;
    font-size: 0.875em;
    float: left;
    height: 36px;
}

    .mailHeaderItems div, .mailHeaderFolders div {
        text-align: left;
        padding-left: 10px;
        padding-top: 8px;
    }

.mailHeaderItems {
    clear: both;
    width: 50%;
    border-right: 1px solid #666;
}

.mailHeaderFolders {
    width: 50%;
}

.folderStructureContent {
    overflow-y: auto;
}

    .folderStructureContent ul {
        margin: 0;
        padding-left: 0;
        text-align: left;
    }

.folderIcon {
    margin: 0 10px;
}

.folderHierarchyLoading {
    position: absolute;
}

.uploadDocumentLoading {
    position: absolute;
    top: 5px;
    margin-left: -16%;
}

.uploadSuccessStatus {
    cursor: default;
    float: left;
    height: 20px;
    margin-right: 5px;
    min-width: 14px;
    width: 20px;
    padding-top: 1px;
}

.uploadSuccessMessage {
    color: #00b050;
}

.uploadFailedMessage {
    color: #ff0000;
}

.uploadSuccessMessage, .uploadFailedMessage {
    float: left;
    font-size: .875em;
    padding-top: 3px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folderHierarchyLoading {
    right: 0;
}

.warningnotification, .successNotification {
    margin: -15px -15px auto -15px;
    text-align: left;
}

    .warningNotification input {
        font-family: Segoe UI;
        font-size: 14px !important;
        font-weight: 600;
        background-color: #fef09e;
        border: 1px solid #c8c8c8;
        color: #333;
        height: 30px;
        cursor: pointer;
    }


.maildata {
    float: left;
    overflow-y: auto;
    width: 50%;
    border-right: 1px solid #666;
    border-bottom: 1px solid #c8c8c8;
    min-height: 150px;
}

.popUpCloseIcon {
    cursor: pointer;
    float: right;
    top: 32px;
    right: 15px;
}

.attachment, .attachmentSection, .attachmentName {
    float: left;
}

.attachment, .attachmentSection {
    width: 100%;
}

.attachment {
    clear: both;
    border-bottom: 1px solid #c8c8c8;
    height: 35px;
    margin-bottom: 10px;
}

    .attachment:first-child {
        padding-top: 10px;
    }

    .attachment:last-child {
        margin-bottom: -1px; /* The last item will overlap with the bottom border */
    }

.attachmentName {
    font-family: 'Segoe UI', Calibri, 'Times New Roman',sans-serif;
    width: 95%;
}

.attachmentSection {
    height: auto;
    
}

.attachmentListLoading {
    margin-top: -2%;
    margin-left: 300px;
}

#mailFooter {
    bottom: 10px;
    color: #333;
    float: left;
    font-size: .875em;
    position: absolute;
    text-align: left;
    background-color: #fff;
}

#popupInfoIcon {
    cursor: default;
    float: left;
    padding-right: 15px;
}

.editUploadIcon, .saveUploadIcon {
    margin-top: -1px;
    float: left;
    opacity: 0.665;
}

.attachIcon {
    float: left;
    margin: 4px 5px 0 -5px;
    opacity: 1;
    cursor: default;
}

.editUploadIcon:hover, .saveUploadIcon:hover {
    opacity: 1;
}

.notificationContainerForPopup .notification {
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px 10px 15px 10px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 305px;
    word-wrap: break-word;
    position: absolute;
    z-index: 2;
    cursor:default;
}

.successNotification {
    background-color: #00b050;
    box-sizing: border-box;
    color: #fff !important;
    font-size: 0.875em;    
    height: 37px;
    padding: 10px 10px 15px 10px; 
}

.warningNotification {
    background-color: #fef09e;
    box-sizing: border-box;
    color: #333 !important;
    padding: 5px 5px 5px 35px;
}

.overWriteContent, .warningNotification {
    font-weight: normal;
    color: #2b579a;
}

.overWriteContent {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#fileName {
    max-width: 200px;
}

.askForOverwrite {
    margin-left: 35px;
}

#overWriteDocumentName {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
}

.askForOverwrite input {
    font-family: Segoe UI;
    font-size: 14px !important;
    font-weight: 600;
    background-color: #fef09e;
    border: 1px solid #c8c8c8;
    color: #333;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    cursor: pointer;
    float: left;
}

.notification {
    font-size: 14px !important;
    font-weight: normal;
}

.notificationCC {
    font-weight: 600;
    margin-top: 20px;
}

 .notificationCC input {
        margin: 0 0 0 10px;
        float: none;
}

    .notificationCC img {
        float: left;
        margin-right: 10px;
        margin-top: 8px;
    }

.notificationResult {
    font-weight: 600;
    margin-left: 35px;
    margin-bottom: 20px;
}

#overWriteAppend {
    width: auto;
}

#overWriteYes {
    float: left;
}

#warningImg {
    float: left;
    height: 23px;
    margin-right: 10px;
    width: 27px;
    cursor:default;
}

.noFilesUploaded {
    color: #333;
    font: normal 0.875em 'Segoe UI';
    margin-top: 14px;
    text-align: left;
    min-height: 50px;
    margin-left: 10px;
}

#popupFooterText {
    color: #333;
    float: left;
    font-family: 'Segoe UI';
    font-weight: 400;
    margin-top: 4px;
}

img {
    border: none;
}

.breadcrumb {
    font-size: 0.875em;
    color: #333;
    height: 23px;
}

#rootLink {
    float: left;
    margin: 0 10px 20px 8px;
    margin-bottom: -7px;
    opacity: 0.665;
}

    #rootLink:hover {
        opacity: 1;
    }

.breadcrumbItem, #breadcrumbSeparator {
    display: inline;
}

#parentFolder {
    cursor: pointer;
    float: left;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    #parentFolder:hover {
        text-decoration: underline;
    }

#breadcrumbSeparator {
    margin: 0 6px;
    float: left;
}

#currentFolder {
    float: left;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folderDragOver {
    background-color: #e5f5e5;
}

.folderDragLeave {
    background-color: #f5f5f5;
}

.popupSelect {
    cursor: default;
}

.closeNotification {
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

@media only screen and (max-width:712px) {
    .maildata, .mailHeaderItems {
        width: 50%;
    }

    .maildata {
        border-right: 1px solid #666;
    }

    .folderContent {
        width: 48.6%;
    }

    .mailHeaderFolders {
        width: 49%;
    }

    .folderStructureContent {
        width: 100%;
    }

    .uploadSuccessMessage, .uploadFailedMessage {
        width: 40px;
    }

    .attachmentHeaderInstruction:before {
        content: "Drag and drop items to folders on the right";
    }

    #mailContent {
        width: 100%;
    }

    .mailContainer {
        left: 0;
        right: 0;
        width: auto;
    }

    .uploadDocumentLoading {
        margin-left: -40%;
    }

    .popupName {
        max-width: 175px;
    }
}

@media only screen and (max-width:567px) {
    #fileName {
        max-width: 70px;
    }

    .mailHeaderItems, .mailHeaderFolders {
        display: none;
    }

    .maildata {
        width: 100%;
        height: 80px;
        min-height: 80px;
        border: 0;
    }

    .folderContent {
        padding-top: 10px;
        width: 100%;
        height: 100px;
        float: left;
        border: 0;
    }

    .folderStructureContent {
        width: 100%;
        height: 100px;
        float: left;
    }

    .uploadSuccessMessage, .uploadFailedMessage {
        width: 40px;
    }

    #attachmentHeader {
        width: 90%;
    }

    .attachmentHeaderInstruction:before {
        content: "Drag and drop items to folders listed after these items";
    }

    .attachmentSection {
        height: auto;
    }

    .attachmentListLoading {
        position: absolute;
    }

    .attachment {
        border: 0;
        height: 30px;
        margin-bottom: 0;
    }

    #mailBody {
        width: inherit;
    }

    .mailHeader {
        width: inherit;
    }

    .mailContainer {
        width: auto;
    }

    #popupFooterText {
        margin-top: 0;
        width: 200px;
    }

    #mailFooter {
        margin-left: 0;
    }

    .uploadDocumentLoading {
        margin-left: 10%;
    }

    .popupName {
        max-width: 165px;
    }
}

@media screen and (max-width: 322px) {
    .mailHeaderItems, .mailHeaderFolders {
        display: none;
    }

    .maildata {
        width: 100%;
        height: 80px;
        overflow-y: auto;
        /*margin-top: 7px;*/
        border: 0;
    }


    #attachmentHeader {
        width: 85%;
    }

    .attachmentHeaderInstruction:before {
        content: "Drag and drop items to folders listed after these items";
    }

    .attachmentListLoading {
        position: absolute;
    }

    .attachment {
        border: 0;
        height: 30px;
        margin-bottom: 0;
    }

    #popupFooterText {
        margin-top: 0;
        width: 200px;
    }

    .folderContent {
        padding-top: 10px;
        width: 100%;
        height: 100px;
        float: left;
        border: 0;
    }

    .folderStructureContent {
        min-height: 100px;
    }

    .popupName {
        max-width: 90px;
    }

    .uploadSuccessMessage, .uploadFailedMessage {
        width: 30px;
    }

    #mailBody {
        width: inherit;
    }

    .mailHeader {
        width: inherit;
    }

    .mailContainer {
        width: auto;
    }

    #mailFooter {
        width: 250px;
    }

    .uploadDocumentLoading {
        margin-left: -10px;
    }
}

@media screen and (max-height: 377px) {

    .mailContainer {
        position: absolute;
        margin: 0 auto;
    }

    .maildata {
        height: 50px;
    }

    #attachmentHeader {
        width: 240px;
    }
}

/* Fix for web dashboard over-write notification message */
#overWriteDocumentNameWebdashboard {
    color: #333;
    margin-left: 35px;
    margin-bottom: 20px;
}
