<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="filename" value="MCDeploymentConfig.xlsx" />
    <add key="configsheetname" value="Config" />
    <add key="sheetname" value="Sample_Data" />
    <add key="errorlog" value="\Logs\ErrorLog.txt" />
    <add key="FullControl" value="Full Control" />
    <add key="Contribute" value="Contribute" />
    <add key="Read" value="Read" />
    <add key="CalendarId" value="106" />
    <add key="CalendarNameAlternate" value="Calendar List" />
    <add key="ExtensionOneNoteTableOfContent" value=".onetoc2" />
    <add key="MatterLandingFolderName" value="Matter Center Assets/Matter Landing Assets" />
    <add key="CommonFolderName" value="Matter Center Assets/Common Assets" />
    <add key="MatterLandingCSSFileName" value="/sites/catalog/SiteAssets/{0}/styles/MatterLanding.css" />
    <add key="MatterLandingJSFileName" value="/sites/catalog/SiteAssets/{0}/scripts/MatterLanding.js" />
    <add key="CommonCSSFileName" value="/sites/catalog/SiteAssets/{0}/styles/spCommon.css" />
    <add key="CommonJSFileName" value="/sites/catalog/SiteAssets/{0}/scripts/spCommon.js" />
    <add key="UIConfigforspo" value="/sites/catalog/SiteAssets/{0}/scripts/uiconfigforspo.js" />
    <add key="SiteAssets" value="SiteAssets" />    
    <add key="UserPinnedMatterListName" value="UserPinnedMatter" />
    <add key="JQueryFileName" value="/sites/catalog/SiteAssets/{0}/scripts/jquery-1.11.1.min.js" />    
    <add key="TenantWebDashboardLink" value="/SitePages/MatterCenterHome.aspx" />
    <add key="MatterCenterList" value="MatterCenterMatters" />
    <add key="ErrorMessage" value="Exception occurred while {0} " />
    <add key="ContentTypeColumnClientId" value="Client_Id" />
    <add key="ContentTypeColumnClientName" value="Client_Name" />
    <add key="ContentTypeColumnMatterId" value="Matter_Id" />
    <add key="ContentTypeColumnMatterName" value="Matter_Name" />
    <add key="ContentTypeColumnPracticeGroup" value="PracticeGroup" />
    <add key="ContentTypeColumnAreaOfLaw" value="AreaOfLaw" />
    <add key="ContentTypeColumnSubareaOfLaw" value="SubareaOfLaw" />    
    <add key="CalendarCreationEnabled" value="True" />
    <add key="TaskListCreationEnabled" value="True" />
    <add key="CalendarNameSuffix" value="_Calendar" />
    <add key="ViewColumnList" value="Type;DMS_Mail_Importance;DMS_From;DMS_Subject;ReceivedDate;DMS_To;DMS_Cc;DMS_From_MailBox;Sensitivity;EmailCategories;ConversationId;ConversationTopic;HasAttachments;SentDate;LinkFilename;OriginalName" />
    <add key="ViewName" value="Outlook View" />
    <add key="ViewOrderByColumn" value="DMS_ReceivedDate" />
    <add key="MatterLandingPageRepository" value="Site Pages" />
    <add key="OneNoteLibrarySuffix" value="_OneNote" />
    <add key="Roles" value="Responsible Attorney$|$Attorney$|$Paralegal" />
    <add key="PracticeGroupCustomPropertyFolderNames" value="FolderNames" />
    <add key="AreaCustomPropertyFolderNames" value="FolderNames" />
    <add key="SubAreaCustomPropertyFolderNames" value="FolderNames" />
    <add key="SubAreaCustomPropertyisNoFolderStructurePresent" value="isNoFolderStructurePresent" />
    <add key="SubAreaOfLawDocumentTemplates" value="DocumentTemplates" />
    <add key="PracticeGroupTermSetName" value="Practice Groups" />
    <add key="PracticeGroupName" value="MatterCenterTerms" />
    <add key="ClientIDProperty" value="ClientID" />
    <add key="ClientUrlProperty" value="ClientURL" />
    <add key="CustomPropertyName" value="ContentTypeName" />
    <add key="TermSetName" value="Clients" />
    <add key="DateFormat" value="yyyy-MM-ddTHH:mm:ssZ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TaskListSuffix" value="_Task" />
    <add key="SpecialCharacterExpressionMatterId" value="[A-Za-z0-9_]+[-A-Za-z0-9_, ]*" />
    <add key="SpecialCharacterExpressionMatterTitle" value="[A-Za-z0-9-_]+[A-Za-z0-9-_ ]*" />
    <add key="SpecialCharacterExpressionMatterDescription" value="[A-Za-z0-9_]+[-A-Za-z0-9_, ]*" />
    <add key="MatterIdMaxLength" value="75" />
    <add key="MatterTitleMaxLength" value="75" />
    <add key="MatterLandingPageSections" value="taskPane,calendarPane,matterCenterFooter,matterInfo,matterCenterHeader,rssPane,oneNotePane"/>
    <add key="MatterSuccess" value="{0} out of {1} matter(s) created successfully"></add>
    <add key="MatterFailure" value="{0} out of {1} matter(s) failed"></add>
    <add key="MatterFound" value="{0} matter(s) already exists"></add>
    <add key="CommonError" value="Error log will found at {0}"></add>
    <add key="dashedLine" value="-------------------------------------------------------------------------------"></add>
    <add key="Deleted" value="Deleted {0}"></add>
    <add key="DeletedMatter" value="Deleted {0} matter landing page"></add>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>