<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Declaring excel file values-->
    <add key="FileName" value="MCDeploymentConfig.xlsx"/>
    <add key="SheetName" value="Config"/>

    <!--Declaring SharePoint properties-->
    <add key="PracticeGroupName" value="MatterCenterTerms"/>
    <add key="ClientIDProperty" value="ClientID"/>
    <add key="ClientUrlProperty" value="ClientURL"/>
    <add key="TermSetName" value="Clients"/>

    <!--Declaring client fields-->
    <add key="ListName" value="Site Pages"/>
    <add key="ViewName" value="All Pages"/>
    <!--Use ; to update multiple fields e.g. value="Title;ID;Region;radmdd"-->
    <add key="ColumnName" value="Title"/>
  </appSettings>
</configuration>