<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileName" value="MCDeploymentConfig.xlsx"/>
    <add key="SheetName" value="Config"/>
    <add key="GroupSheetName" value="Create_Group"/>
    <!-- Lists to assign custom permissions -->
    <add key="ListTitles" value="UserPinnedDetails,UserPinnedMatter"/>
    <!-- Custom Permission Level Details-->
    <add key="MatterCenterContributePermission" value="Matter Center Contribute"/>
    <add key="MatterCenterContributePermissionDescription" value="Can view, add, update, and delete list items and documents. Allows creating and changing permission levels on the Web site and assign permissions to users and groups."/>
    <add key="ListQuery" value="&lt;View&gt; &lt;FieldRef Name='Author'/&gt; &lt;/View&gt;"/>
    <add key="ErrorFilePath" value="\Logs\ErrorLog.txt"/>
    <add key="ExcelMessage" value="Reading inputs from Excel"></add>
    <add key="ListSuccess" value="Lists Updated Successfully."></add>
    <add key="ListFailure" value="Failed to update lists\nFind error report at \n{0}"></add>
    <add key="UpdateList" value="Updating the list permission level."></add>
    <add key="RemovedPermission" value="Removed unique permissions on {0}"></add>
    <add key="RemovedGroup" value="Removed group {0} from list {1}"></add>
    <add key="GroupFailure" value="Group {0} not found in list {1}"></add>
    <add key="AddGroup" value="Added group {0} into list {1}"></add>
    <add key="ListNotFound" value="List {0} not found."></add>
    <add key="PermissionFailure" value="Failed to create new permission level"></add>
    <add key="PermissionAssign" value="Assigned {0} permission to group {1}"></add>
    <add key="ItemNotFound" value="{0} Items found in list {1}"></add>
    <add key="PermissionUpdate" value="Updated item permission to full control"></add>
    <add key="NewPermission" value="New permission level created [ {0} ]"></add>
    <add key="PermissionLevelRemoved" value="Permission Level [{0}] Removed"></add>
    <add key="Invalidcredential" value="Please enter the username and password"></add>
  </appSettings>
</configuration>