*.suo
*.user
project.lock.json
tree/master/cloud/src/deployments/scripts/Logs
tree/master/cloud/src/solution/.vs
tree/master/cloud/src/solution/*/bin
tree/master/cloud/src/solution/*/obj
tree/master/cloud/src/solution/*/pkg/
tree/master/cloud/src/solution/*/pkgobj/
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/node_modules
/tree/master/cloud/src/Helper Utilities/Microsoft.Legal.MatterCenter.HelperUtilities/*/obj
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/Properties/PublishProfiles
/tree/master/cloud/src/solution/UpgradeLog2.htm
/tree/master/cloud/src/solution/packages
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/artifacts/bin/Microsoft.Legal.MatterCenter.Models/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Models/obj/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/artifacts/bin/Microsoft.Legal.MatterCenter.Repository/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/obj/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/artifacts/bin/Microsoft.Legal.MatterCenter.Utility/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/obj/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Models/bin/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Models/obj/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/bin/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/obj/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/bin/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/obj/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.ProviderService/.vs/config
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Models/bin/Release/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Models/bin/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Models/obj/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/bin/Release/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/obj/Release/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/bin/Release/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/obj/Release/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/wwwroot/css
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.ServiceTest/bin/Debug/net451
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.ServiceTest/obj/Debug/net451
/tree/master/cloud/src/solution/TestResults
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/npm-debug.log
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/bin/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.ServiceTest/bin/Debug/net46/win7-x64
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.ServiceTest/bin/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/bin/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/obj/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.ServiceTest/obj/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/obj/Debug/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/bin/Release/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Repository/obj/Release/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/bin/Release/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.Utility/obj/Release/net46
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/wwwroot/app/config.js
/tree/master/cloud/src/solution/UpgradeLog4.htm
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/lib
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/wwwroot/lib
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/wwwroot/js/site.min.js
/tree/master/cloud/src/solution/Deployment/Scripts/MatterWebApp.cer
*.log
/tree/master/cloud/src/solution/Deployment/Scripts/MatterWebApp.pfx
/tree/master/cloud/src/Helper Utilities/Microsoft.Legal.MatterCenter.HelperUtilities/*/bin
/tree/master/cloud/src/deployments/Scripts/Helper Utilities/Microsoft.Legal.MatterCenter.Common.dll
/tree/master/cloud/src/deployments/Scripts/Helper Utilities/*.exe
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Selenium/TestResults
/tree/master/cloud/src/solution/Deployment/Scripts/Logs/ErrorLog.txt
/tree/master/cloud/src/solution/Deployment/Scripts/Logs
/tree/master/cloud/src/Helper Utilities/Microsoft.Legal.MatterCenter.HelperUtilities/.vs/config/applicationhost.config
/tree/master/cloud/src/Helper Utilities/Microsoft.Legal.MatterCenter.HelperUtilities/.vs/config
/tree/master/cloud/src/src - Shortcut.lnk
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Specs/_Chutzpah.9b9b8b17b065a02865720389ce6f2e4803b20383.test.html
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Specs/_Chutzpah.5efcbe8baadaccae5f7fce869cb359fb8b6f91d0.test.html
/tree/master/cloud/src/Helper Utilities/Microsoft.Legal.MatterCenter.HelperUtilities/Microsoft.Legal.MatterCenter.ConfigureLists/Properties/MCDeploymentConfig.xlsx
/tree/master/cloud/docs/~$tter Center - Selenium solution Build and deployment guide.docx
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Performance/WebTest1.webtest
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Performance/Properties/AssemblyInfo.cs
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Performance/Microsoft.Legal.MatterCenter.Performance.csproj
/tree/master/cloud/src/solution/Local.testsettings
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Service/Microsoft.Legal.MatterCenter.ServiceTest/MatterControllerUnitTests.cs
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Scripts/jasmine/jasmine.js
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Scripts/jasmine/jasmine-html.js
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Scripts/jasmine/console.js
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Scripts/jasmine/boot.js
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Content/jasmine/jasmine_favicon.png
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Content/jasmine/jasmine.css
