*.suo
*.user
tree/master/cloud/src/deployments/scripts/Logs
tree/master/cloud/src/solution/.vs
tree/master/cloud/src/solution/*/bin
tree/master/cloud/src/solution/*/obj
tree/master/cloud/src/solution/*/pkg/
tree/master/cloud/src/solution/*/pkgobj/
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/node_modules
/tree/master/cloud/src/Helper Utilities/Microsoft.Legal.MatterCenter.HelperUtilities
/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/Properties/PublishProfiles
/tree/master/cloud/src/solution/UpgradeLog2.htm
/tree/master/cloud/src/solution/packages
