<script type="text/ng-template" id="colHeaderCheckBox.html">
</script>
<div class="popupWait hide"></div>
<div class="loadingImage hide" id="popupWaitLoadingImage">
    <a title="Matter Center Home" id="mcIcon" href="/sitepages/MatterCenterHome.aspx" target="_parent">
        <img title="Matter Center" src="../Images/WindowsLoadingFast.GIF" alt="Matter Center" />
    </a>
</div>
<div class="popupContainerBackground hide"></div>
<div id="mainDivContainer">
    <div class="matterPopup"></div>
    <div class="documentPopup"></div>
    <div class="clear"></div>
    <!--Start Pop up conatins for documents to send documents to one drive, send email etc-->

    <div class="modal fade" id="UploadMatterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:100%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row margin0">
                        <div class="col-md-12">
                            <img data-dismiss="modal" class="pull-right" src="../../images/close-666.png" />
                        </div>
                        <div id="PopupBody">
                            <div class="selectMailFormat">
                                <div class="sendEmailOptions sendToOneDriveOption" onclick="sendToBriefcase();">
                                    <img class="mailCartLogo" src="../Images/my-briefcase-666.png" alt="Send to My OneDrive for Business" title="Send to My OneDrive" />
                                    <div title="Send to My OneDrive for Business" class="inlineValues">Send to My OneDrive for Business</div>
                                </div>
                                <div class="sendEmailOptions emailAttachmentOption" onclick="downloadEmail(true);">
                                    <img class="mailCartLogo" src="../Images/attach_666_27X27.png" alt="Email as attachment" title="Email as attachment" /><div title="Email as attachment" class="inlineValues">Email as attachment</div>
                                </div>
                                <div class="sendEmailOptions emailLinkOption" onclick="downloadEmail(false);">
                                    <img class="mailCartLogo" src="../Images/link-666.png" alt="Email as link" title="Email as link" /><div title="Email as link" class="inlineValues">Email as link</div>
                                </div>
                            </div>
                            <div class="popUpBody popUpFloatLeft">
                                <ul class="emailDocumentNames">
                                    <li ng-repeat="element in vm.cartelements">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-5"><span><input type="checkbox" /></span>{{element.documentName}}</div>
                                            <div class="col-xs-12 col-sm-1"><img src="../Images/icon-delete.png" class="" title="Remove attachment" ng-click="vm.removeAttachment(element)"></div>
                                            <div class="col-xs-12 col-sm-5"><span class="checkOut" id="isNotCheckedOut" title="Checked out copy available">Checked out copy available</span></div>
                                            <div class="col-xs-12 col-sm-1 pad0">
                                                <button infopopover class="btn btn-link" type='button' style='text-align: left'
                                                         data-toggle='popover' data-container='body' data-placement='left' data-html='true'>
                                                    <img src="../Images/information-blue.png" />
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class='pinLoadingImage' id='mailCartLoadingImage'>
                                    <img src='/Images/WindowsLoadingFast.GIF' title='Loading' class='LoadingImage' alt='Loading...' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--End Pop up conatins for documents to send documents to one drive, send email etc-->
    <div class="matterCenterHeaderBackground hide"></div>
    <!--Main dashboard content-->
    <div id="contentDiv">
        <div class="row searchdashboard">
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" ng-model="vm.selected" placeholder="Search by document name, document ID, or keyword" uib-typeahead="matterDataList.matterName + ' ('+ matterDataList.matterID + ')' for matterDataList in vm.searchMatter($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    <span class="input-group-addon cursor" id="basic-addon1" ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>
            <div class="col-xs-3 pad0">
                <img title="Advanced search" style="display: inline;" type='button' ng-if="vm.downwarddrop" ng-click="vm.showupward($event)" data-toggle='dropdown' alt="Drop Down" src="../Images/downward-advanced-search-29x29-666.png">
                <img title="Advanced search" id="filterSearchDown" ng-if="vm.upwarddrop" ng-click="vm.showdownward($event)" alt="Drop Down" src="../Images/upward-advanced-search-29x29-666.png">
            </div>
            <div class="col-xs-12">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
            <div class="col-xs-9 dashboarddrop" ng-if="vm.searchdrop">
                <div class="col-xs-12 dashboarddropinner" ng-click='$event.stopPropagation()'>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Clients</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="input-group">
                                <input type="text" placeholder="Enter or select a client" class="form-control">
                                <span class="input-group-addon cursor" id="basic-addon1" ng-click="vm.showclientdrop($event)"><img src='../images/icon-combobox.png' /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 " ng-if="vm.clientdrop">
                        <div class="row ">
                            <div class="col-xs-9 col-sm-7 clientdropinner refinerClient">
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(true, 'client',$event)">Select All</a> </div>
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(false, 'client',$event)">Select None</a></div>
                                <div class="col-xs-12 refinerWrapper" ng-repeat="client in vm.clients" ng-click="$event.stopPropagation();">
                                    <input type="checkbox" data-clientid="{{client.id}}"
                                           data-clienturl="{{client.url}}" ng-model="client.Selected" /> <span>{{client.name}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch">Ok</div></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch">Cancel</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Author</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <input type="text" placeholder="Document Author" ng-model="vm.selectedAuthor" uib-typeahead="matterDataList.matterName + ' ('+ matterDataList.matterID + ')' for matterDataList in vm.searchMatter($viewValue)" typeahead-loading="vm.loadLocation" typeahead-no-results="vm.AuthornoResults" class="form-control">
                        </div>
                        <div class="col-xs-12 hide">
                            <i ng-show="vm.loadLocation" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="vm.AuthornoResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Date</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class='input-group'>
                                        <input type='text' placeholder='From' class='calendar form-control'
                                               uib-datepicker-popup='MM/dd/yyyy'
                                               ng-model='vm.startdate'
                                               is-open='vm.openedStartDate'
                                               datepicker-options='vm.dateOptions'
                                               ng-required='true' close-text='Close'
                                               alt-input-formats='altInputFormats' />
                                        <span class='input-group-btn'>
                                            <button type='button' class='btn btn-default' ng-click='vm.openStartDate()'><i class='glyphicon glyphicon-calendar'></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class='input-group'>
                                        <input type='text' placeholder='To' class='calendar form-control'
                                               uib-datepicker-popup='MM/dd/yyyy'
                                               ng-model='vm.enddate'
                                               is-open='vm.openedEndDate'
                                               datepicker-options='vm.enddateOptions'
                                               ng-required='true' close-text='Close'
                                               alt-input-formats='altInputFormats' />
                                        <span class='input-group-btn'>
                                            <button type='button' class='btn btn-default' ng-click='vm.openEndDate()'><i class='glyphicon glyphicon-calendar'></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-3 pad15">
                            <div id="filterAdvancedSearch" class="dashboardSearch">
                                Search
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padtop20">
                <ul class="nav nav-tabs" toggletab>
                    <li><a href="#Documents" data-toggle="tab" ng-click="vm.getMyDocuments()">My documents({{vm.myDocumentCount}})</a></li>
                    <li class="active"><a href="#Documents" data-toggle="tab" ng-click="vm.getDocuments()">All documents({{vm.allDocumentCount}})</a></li>
                    <li><a href="#Documents" data-toggle="tab" ng-click="vm.getPinnedDocuments()">Pinned documents({{vm.pinDocumentCount}})</a></li>
                </ul>
            </div>
            <div class="col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="Documents">
                        <div class="col-xs-12 pad0 padtop5">
                            <div id="grid1" ui-grid="vm.documentGridOptions" ui-grid-exporter ui-grid-selection class="grid"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-offset-6 col-xs-6 sortby">
                <span id="EmailDiv" style="display: inline; cursor: default; color: rgb(68, 68, 68);">
                    <span id="EmailImg">
                        <img src="../Images/cart_icon_30px_X_30px.png"
                             class="mailCartIcon"
                             title="Review the contents of your mail cart and send the selected documents to your OneDrive or via email."
                             alt="Mail Cart" ng-click="vm.showMailCartModal()">({{vm.documentsCheckedCount}})
                    </span>
                </span>
            </div>


            <div class="col-xs-offset-9 col-xs-3 sortby">
                <div class="col-xs-offset-4 col-xs-8 text-right pad0">
                    <span>Sort by: </span>
                    <span>{{vm.sortbytext}}</span>
                    <img alt="Sort By" class="" ng-click="vm.showsortby($event)" title="Sort By" src="../Images/icon-combobox.png" />
                </div>
                <div class="col-xs-offset-7 col-xs-5" ng-if="vm.sortbydrop">
                    <ul>
                        <li ng-click="vm.sortyby('Relevant','None')">None</li>
                        <li ng-click="vm.sortyby('AlphabeticalUp','Alphabetical ↑')">Alphabetical ↑</li>
                        <li ng-click="vm.sortyby('AlphabeticalDown','Alphabetical ↓')">Alphabetical ↓</li>
                        <li ng-click="vm.sortyby('CreateddateUp','Created date ↑')">Created date ↑</li>
                        <li ng-click="vm.sortyby('CreateddateDown','Created date ↓')">Created date ↓</li>
                        <li ng-click="vm.sortyby('ModifieddateUp','Modified date ↑')">Modified date ↑</li>
                        <li ng-click="vm.sortyby('ModifieddateDown','Modified date ↓')">Modified date ↓</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
