<style>
    .commonContent {
        display: block !important;
    }

    .bodymain {
        overflow: scroll;
    }
</style>
<script type="text/ng-template" id="colHeaderCheckBox.html">
</script>
<div class="popupWait hide"></div>
<div class="loadingImage hide" id="popupWaitLoadingImage">
    <a title="{{vm.documentDashboardConfigs.LinkImageLoadingTitle}}" id="mcIcon" href="" target="_parent">
        <img title="{{vm.documentDashboardConfigs.ImageLoadingAltText}}" 
             role="img"
             aria-live="assertive"
             aria-atomic="true"
             aria-label="{{vm.documentDashboardConfigs.ImageLoadingAltText}}"
             src="../Images/WindowsLoadingFast.GIF" 
             alt="{{vm.documentDashboardConfigs.ImageLoadingAltText}}" />
    </a>
</div>
<div class="popupContainerBackground hide"></div>
<div id="mainDivContainer" ng-click="vm.closealldrops($event)" role="region">
    <div class="matterPopup"></div>
    <div class="documentPopup"></div>
    <div class="clear"></div>
    <!--Start Pop up conatins for documents to send documents to one drive, send the email etc-->

    <div class="modal fade padright0" id="UploadMatterModal" tabindex="-1"         
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:100%" id="myModalLabel" role="region" >
            <div class="modal-content" role="region">
                <div class="modal-body">
                    <div class="row margin0">
                        <div class="col-md-12">
                            <img data-dismiss="modal"
                                 tabindex="0"
                                 role="button"
                                 aria-label="close dialog box"
                                 aria-live="assertive"
                                 aria-atomic="true"
                                 class="pull-right"
                                 src="../../images/close-666.png" />
                        </div>
                        <div style="text-align:center; margin-bottom:10px;"
                             role="alert"
                             aria-label="{{vm.displayMessage}}"
                             aria-live="assertive"
                             aria-atomic="true"
                             ng-show="vm.isDisplayMessage">
                            {{vm.displayMessage}}
                        </div>
                        <div id="PopupBody">
                            <div class="selectMailFormat">
                                <div class="sendEmailOptions emailAttachmentOption" tabindex="0"
                                     ng-click="!vm.enable||vm.downloadEmailAsAttachment(true);"
                                     ng-keydown="$event.keyCode==13?vm.enable?vm.downloadEmailAsAttachment(true):null:null" >
                                    <img class="mailCartLogo" src="../Images/attach_666_27X27.png"                                         
                                         role="button"
                                         aria-label="{{vm.documentDashboardConfigs.Image1EmailAttachmentText}}"
                                         aria-live="assertive"
                                         aria-atomic="true"
                                         tabindex="0"
                                         alt="{{vm.documentDashboardConfigs.Image1EmailAttachmentText}}"
                                         
                                         title="{{vm.documentDashboardConfigs.Image1EmailAttachmentText}}" />
                                    <div title="{{vm.documentDashboardConfigs.Image1EmailAttachmentText}}"
                                         aria-label="{{vm.documentDashboardConfigs.Image1EmailAttachmentText}}" 
                                         aria-live="assertive"
                                         aria-atomic="true"
                                         class="inlineValues">{{vm.documentDashboardConfigs.Image1EmailAttachmentText}}</div>
                                </div>
                                <div class="sendEmailOptions emailLinkOption" 
                                     ng-click="!vm.enable||vm.downloadEmailAsAttachment(false)" tabindex="0"
                                      ng-keydown="$event.keyCode==13?vm.enable?vm.downloadEmailAsAttachment(false):null:null" >
                                    <img class="mailCartLogo" src="../Images/link-666.png"
                                         role="button"
                                         aria-label="{{vm.documentDashboardConfigs.Image2EmailAttachmentLinkText}}"
                                         aria-live="assertive"
                                         tabindex="0"
                                         aria-atomic="true"
                                         alt="{{vm.documentDashboardConfigs.Image2EmailAttachmentLinkText}}"
                                         title="{{vm.documentDashboardConfigs.Image2EmailAttachmentLinkText}}" />
                                    <div title="{{vm.documentDashboardConfigs.Image2EmailAttachmentLinkText}}" 
                                         aria-label="{{vm.documentDashboardConfigs.Image2EmailAttachmentLinkText}}" 
                                         aria-live="assertive"
                                         aria-atomic="true"
                                         class="inlineValues">{{vm.documentDashboardConfigs.Image2EmailAttachmentLinkText}}</div>
                                </div>
                            </div>
                            <div class="popUpBody popUpFloatLeft popUpScrollXHidden mailContentPopUpBody">
                                <ul class="emailDocumentNames">
                                    <li ng-repeat="element in vm.cartelements">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-2">
                                                <span><img id="document-{{$index}}" style="display:none" src="../Images/loadingcirclests16.gif"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <span class="paddingRight20 floatLeft">
                                                    <input type="checkbox" ng-model="element.mailCartSelected"
                                                           role="checkbox"
                                                           aria-live="assertive"
                                                           aria-atomic="true"
                                                           aria-label="checking or unchecking {{element.documentName}}.{{element.documentExtension}}"
                                                           tabindex="0" />
                                                </span><div title="{{element.documentName}}.{{element.documentExtension}}" class="cartFileTxtLabel">{{element.documentName}}.{{element.documentExtension}}</div>
                                            </div>
                                            <div class="col-xs-12 col-sm-1">
                                                <img src="../Images/icon-delete.png" class="" 
                                                     tabindex="0" role="button" aria-live="assertive"
                                                     aria-atomic="true"
                                                     aria-label="{{vm.documentDashboardConfigs.Image3EmailRemovalAttachmentLinkText}}"
                                                     title="{{vm.documentDashboardConfigs.Image3EmailRemovalAttachmentLinkText}}" 
                                                     ng-click="vm.removeAttachment(element)">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class='pinLoadingImage' id='mailCartLoadingImage'>
                                    <img src='/Images/WindowsLoadingFast.GIF' 
                                         role="img"
                                         aria-label="{{vm.documentDashboardConfigs.AttachmentLoadingText}}"
                                         aria-live="assertive"
                                         aria-atomic="true"
                                         title='{{vm.documentDashboardConfigs.AttachmentLoadingText}}' 
                                         class='LoadingImage' alt='{{vm.documentDashboardConfigs.AttachmentLoadingText}}' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--End Pop up conatins for documents to send documents to one drive, send email etc-->
    <div class="matterCenterHeaderBackground hide"></div>
    <!--Main dashboard content-->
    <div id="contentDiv" class="pad0">
        <div class="row searchdashboard">
            <div class="col-xs-9">
                <div class="col-xs-12 padlf0">
                    <div class="input-group" id="divDashboardSearch">
                        <input type="text" ng-model="vm.selected" my-enter="vm.search()" placeholder="{{vm.documentDashboardConfigs.SearchDocumentPlaceholderText}}"
                               uib-typeahead="documentDataList.documentName+'.'+ documentDataList.documentExtension + ' ('+ documentDataList.docId + ')' for documentDataList in vm.searchDocumentFile($viewValue)"
                               typeahead-loading="loadingLocations" typeahead-on-select='vm.typeheadselect($item, $model)'
                               typeahead-no-results="noResults" class="form-control">
                        <span class="input-group-addon cursor"
                              id="basic-addon1" ng-click="vm.search()" role="button"
                              title="{{vm.documentDashboardConfigs.SearchDocumentPlaceholderText}}"
                              aria-label="{{vm.documentDashboardConfigs.SearchDocumentPlaceholderText}}">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 pad0">
                <img title="{{vm.documentDashboardConfigs.ImageAdvanceSearchTitle}}"
                     style="display: inline;" type='button'
                     aria-atomic="true"
                     aria-live="assertive"
                     role="button"
                     ng-if="vm.downwarddrop" ng-click="vm.showupward($event)" data-toggle='dropdown'
                     alt="{{vm.documentDashboardConfigs.ImageAdvanceSearchAltText}}"
                     src="../Images/downward-advanced-search-29x29-666.png">
                <img title="{{vm.documentDashboardConfigs.ImageAdvanceSearchTitle}}" id="filterSearchDown"
                     aria-atomic="true"
                     aria-live="assertive"
                     role="button"
                     ng-if="vm.upwarddrop" ng-click="vm.showdownward($event)" alt="{{vm.documentDashboardConfigs.ImageAdvanceSearchAltText}}"
                     src="../Images/upward-advanced-search-29x29-666.png">
            </div>
            <div class="col-xs-12">

            </div>
            <div class="col-xs-9 dashboarddrop" ng-click='vm.hideinnerdashboarddrop($event)'
                 aria-atomic="true"
                 aria-live="assertive"
                 ng-if="vm.searchdrop" role="region">
                <div class="col-xs-12 dashboarddropinner">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">{{vm.documentDashboardConfigs.AdvSearchLabel1Text}}</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="input-group">
                                <input type="text"
                                       role="textbox"
                                       aria-live="assertive"
                                       aria-atomic="true"
                                       aria-label="Enter or select a client"
                                       value="{{vm.selectedClients}}"
                                       ng-click="$event.stopPropagation();"
                                       ng-model="vm.selectedClients"
                                       ng-keyup="vm.showclientdrop($event)"
                                       placeholder="Enter or select a client"
                                       class="form-control">
                                <span class="input-group-addon cursor" id="basic-addon1" ng-click="vm.showclientdrop($event)">
                                    <img src='../images/icon-combobox.png'
                                         aria-live="assertive"
                                         aria-label="select clients"
                                         aria-atomic="true" />
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1 pull-left pad10 lazyLoading" ng-hide="vm.lazyloaderdocumentclient" style="position:static !important">
                            <img src="../Images/WindowsLoadingFast.GIF" alt="{{vm.documentDashboardConfigs.AttachmentLoadingText}}"
                                 aria-label="{{vm.documentDashboardConfigs.AttachmentLoadingText}}"
                                 aria-live="assertive"
                                 aria-atomic="true"
                                 role="img"
                                 title="{{vm.documentDashboardConfigs.AttachmentLoadingText}}" />
                        </div>
                    </div>
                    <div class="col-xs-12 " ng-show="vm.clientdrop" role="region">
                        <div class="row ">
                            <div class="col-xs-9 col-sm-7 clientdropinner refinerClient">
                                <div class="col-xs-12 col-sm-5 col-md-2">
                                    <a class="btn btn-link"
                                       href=""
                                       tabindex="0"
                                       aria-live="assertive"
                                       aria-atomic="true"
                                       aria-label="{{vm.documentDashboardConfigs.AdvSearchSelectAllLinkText}}"
                                       ng-click="vm.checkAll(true, vm.documentDashboardConfigs.AdvSearchLabel1FunctionParameterText,$event)">
                                        {{vm.documentDashboardConfigs.AdvSearchSelectAllLinkText}}
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-2">
                                    <a class="btn btn-link"
                                       href=""
                                       tabindex="0"
                                       aria-live="assertive"
                                       aria-atomic="true"
                                       aria-label="{{vm.documentDashboardConfigs.AdvSearchSelectNoneLinkText}}"
                                       ng-click="vm.checkAll(false, vm.documentDashboardConfigs.AdvSearchLabel1FunctionParameterText,$event)">{{vm.documentDashboardConfigs.AdvSearchSelectNoneLinkText}}</a>
                                </div>
                                <div class="col-xs-12 refinerWrapper">
                                    <div class="col-xs-12 refinerRow" ng-repeat="client in vm.clients"
                                         ng-click="$event.stopPropagation();">
                                        <input type="checkbox"
                                               tabindex="0"
                                               role="checkbox"
                                               aria-live="assertive"
                                               aria-atomic="true"
                                               aria-label="{{client.name}}"
                                               name="clients" ng-model="client.Selected" /> <span>{{client.name}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-3">
                                        <br />
                                        <div class="filterOkButton">
                                            <button class="dashboardSearch"
                                                    role="button" tabindex="0"
                                                    aria-atomic="true"
                                                    aria-live="assertive"
                                                    aria-label="Ok button to filter client"
                                                    ng-click="vm.filterSearchOK(vm.documentDashboardConfigs.AdvSearchLabel1FunctionParameterText)">
                                                {{vm.documentDashboardConfigs.AdvSearchbuttonOkText}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <br />
                                        <div class="filterOkButton">
                                            <button role="button"
                                                    tabindex="0"
                                                    aria-atomic="true"
                                                    aria-live="assertive"
                                                    aria-label="Cancel button to not filter client"
                                                    ng-click="vm.filterSearchCancel()" class="dashboardSearch">
                                                {{vm.documentDashboardConfigs.AdvSearchbuttonCancelText}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" role="region">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">{{vm.documentDashboardConfigs.AdvSearchLabel2Text}}</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10" id="documentAuthorDiv">
                            <input type="text" placeholder="{{vm.documentDashboardConfigs.AdvSearchTextbox2PlaceholderText}}"
                                   uib-typeahead="documentDataList.name + ' ' + documentDataList.entityDataTitle for documentDataList in vm.searchDocument($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-on-select='vm.authortypeheadselect($item, $model)'
                                   typeahead-no-results="noResults"
                                   ng-model="vm.selectedAuthor"
                                   typeahead-focus-first=true
                                   class="form-control"
                                   aria-label="documentDataList.name"
                                   aria-atomic="true"
                                   aria-live="assertive"
                                   role="combobox"
                                   aria-autocomplete="list"
                                   aria-expanded="true"
                                   
                                   >
                        </div>
                        <div class="col-xs-12 hide">
                            <i ng-show="vm.loadLocation" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="vm.AuthornoResults" aria-live="assertive" aria-atomic="true" aria-label="{{vm.documentDashboardConfigs.NoSearchResultMsgText}}">
                                <i class="glyphicon glyphicon-remove"></i> {{vm.documentDashboardConfigs.NoSearchResultMsgText}}
                            </div>
                        </div>
                    </div>
                    <div class="row" role="region">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">{{vm.documentDashboardConfigs.AdvSearchLabel3Text}}</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class='input-group'>
                                        <input type='text' placeholder='{{vm.documentDashboardConfigs.AdvSearchTextbox3PlaceholderText}}' class='calendar form-control'
                                               uib-datepicker-popup='MM/dd/yyyy'
                                               ng-model='vm.startDate'
                                               tabindex="0"
                                               is-open='vm.openedStartDate'
                                               datepicker-options='vm.dateOptions'
                                               ng-keydown="vm.changeOnCreateDate($event)"
                                               ng-blur="vm.changeOnCreateDate($event)"
                                               ng-required='true'
                                               aria-live="assertive"
                                               aria-atomic="true"
                                               aria-label="select a from date"
                                               close-text='Close'
                                               alt-input-formats='altInputFormats' />
                                        <span class='input-group-btn'>
                                            <button type='button'
                                                    class='btn btn-default'
                                                    tabindex="0"
                                                    role="button"
                                                    aria-live="assertive"
                                                    aria-atomic="true"
                                                    aria-label="open a date calendar to select a from date"
                                                    ng-click='vm.openStartDate($event)'>
                                                <i class='glyphicon glyphicon-calendar'></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class='input-group'>
                                        <input type='text' placeholder='{{vm.documentDashboardConfigs.AdvSearchTextbox4PlaceholderText}}' class='calendar form-control'
                                               uib-datepicker-popup='MM/dd/yyyy'
                                               ng-model='vm.endDate'
                                               tabindex="0"
                                               is-open='vm.openedEndDate'
                                               datepicker-options='vm.endDateOptions'
                                               ng-keydown="vm.changeOnCreateDate($event)"
                                               ng-blur="vm.changeOnCreateDate($event)"
                                               ng-required='true' close-text='Close'
                                               aria-live="assertive"
                                               aria-atomic="true"
                                               aria-label="select a to date"
                                               alt-input-formats='altInputFormats' />
                                        <span class='input-group-btn'>
                                            <button type='button' class='btn btn-default'
                                                    tabindex="0"
                                                    role="button"
                                                    aria-live="assertive"
                                                    aria-atomic="true"
                                                    aria-label="open a date calendar to select a to date"
                                                    ng-click='vm.openEndDate($event)'>
                                                <i class='glyphicon glyphicon-calendar'></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-3 pad15">
                            <button id="filterAdvancedSearch"
                                    aria-live="assertive"
                                    aria-atomic="true"
                                    aria-label="search documents based on the search criteria"
                                    class="dashboardSearch" role="button" tabindex="0"
                                    ng-click="vm.getSearchResults()">
                                {{vm.documentDashboardConfigs.AdvSearchButtonSearchText}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padtop20 navtabs">
                <ul class="nav nav-tabs" toggletab>
                    <li id="showDocuments" class="showDocDashboard hide"><a href="#Documents" data-toggle="tab">{{vm.selectedTabInfo}}</a></li>
                    <li ng-click="vm.hideTabs($event)" id="myDocuments" ng-class="{'active':vm.selectedTab==vm.documentDashboardConfigs.Tab1HeaderText}" class="hideDocTabs">
                        <a class="noCursor" href=""
                           ng-show="!vm.lazyloaderdashboard">
                            {{vm.documentDashboardConfigs.Tab1HeaderText}}({{vm.myDocumentCount}})
                        </a>
                        <a href="#Documents" ng-show="vm.lazyloaderdashboard" data-toggle="tab" ng-click="vm.getMyDocuments()">{{vm.documentDashboardConfigs.Tab1HeaderText}}({{vm.myDocumentCount}})</a>
                    </li>
                    <li ng-click="vm.hideTabs($event)" id="allDocuments" ng-class="{'active':vm.selectedTab==vm.documentDashboardConfigs.Tab2HeaderText}" class="hideDocTabs"><a class="noCursor" href="" ng-show="!vm.lazyloaderdashboard">{{vm.documentDashboardConfigs.Tab2HeaderText}}({{vm.allDocumentCount}})</a><a href="#Documents" ng-show="vm.lazyloaderdashboard" data-toggle="tab" ng-click="vm.getDocuments()">{{vm.documentDashboardConfigs.Tab2HeaderText}}({{vm.allDocumentCount}})</a></li>
                    <li ng-click="vm.hideTabs($event)" id="pinDocuments" ng-class="{'active':vm.selectedTab==vm.documentDashboardConfigs.Tab3HeaderText}" class="hideDocTabs"><a class="noCursor" href="" ng-show="!vm.lazyloaderdashboard">{{vm.documentDashboardConfigs.Tab3HeaderText}}({{vm.pinDocumentCount}})</a><a href="#Documents" ng-show="vm.lazyloaderdashboard" data-toggle="tab" ng-click="vm.getPinnedDocuments()">{{vm.documentDashboardConfigs.Tab3HeaderText}}({{vm.pinDocumentCount}})</a></li>
                </ul>
                <span class="showDocDashboard displayDocTabs" ng-click="vm.showDocTabs($event)">...</span>
                <div class="switchHideTab" ng-if="vm.showNavTab" style="left: 165px; display: block;">
                    <div class="navDiv" ng-if="vm.selectedTab==vm.documentDashboardConfigs.Tab2HeaderText||vm.selectedTab==vm.documentDashboardConfigs.Tab3HeaderText" ng-click="vm.showSelectedTabs(vm.documentDashboardConfigs.Tab1HeaderText,vm.myDocumentCount)">{{vm.documentDashboardConfigs.Tab1HeaderText}}</div>
                    <div class="navDiv" ng-if="vm.selectedTab==vm.documentDashboardConfigs.Tab1HeaderText||vm.selectedTab==vm.documentDashboardConfigs.Tab3HeaderText" ng-click="vm.showSelectedTabs(vm.documentDashboardConfigs.Tab2HeaderText,vm.allDocumentCount)">{{vm.documentDashboardConfigs.Tab2HeaderText}}</div>
                    <div class="navDiv" ng-if="vm.selectedTab==vm.documentDashboardConfigs.Tab2HeaderText||vm.selectedTab==vm.documentDashboardConfigs.Tab1HeaderText" ng-click="vm.showSelectedTabs(vm.documentDashboardConfigs.Tab3HeaderText,vm.pinDocumentCount)">{{vm.documentDashboardConfigs.Tab3HeaderText}}</div>
                </div>



                <div class="col-xs-offset-6 col-xs-6 col-sm-offset-7 col-sm-5 sortby">
                    <span id="" style="display: inline; cursor: default; color: rgb(68, 68, 68);">
                        <span id="EmailImg">
                            <img src="../Images/cart_icon_30px_X_30px.png"
                                 tabindex="0"
                                 class="mailCartIcon"
                                 title="{{vm.documentDashboardConfigs.ImageMailCartIconTitle}}"
                                 alt="{{vm.documentDashboardConfigs.ImageMailCartIconAltText}}"
                                 ng-click="vm.showMailCartModal()">({{vm.documentsCheckedCount}})
                        </span>
                    </span>
                </div>


                <div class="col-xs-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="Documents">
                            <div class="col-xs-12 pad0 padtop5" id="docgrid" ng-if="vm.divuigrid">
                                <div id="grid1" ui-grid="vm.documentGridOptions" ui-grid-exporter ui-grid-selection class="grid"></div>
                            </div>
                            <div class="col-xs-12 pad0 padtop5 text-center" 
                                 role="alert" 
                                 
                                 aria-live="assertive" 
                                 aria-atomic="true" 
                                 aria-label="{{vm.documentDashboardConfigs.NoSearchResultMsgText}}"
                                 id="docgrid" ng-if="vm.nodata">
                                {{vm.documentDashboardConfigs.NoSearchResultMsgText}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jsonGridFooter jsonGridFooterNew" ng-show="vm.displaypagination && vm.totalrecords>0" role="region">
                    <div ng-show="vm.totalrecords>6 && vm.first>2">
                        <img id="" tabindex="0" aria-live="assertive" aria-atomic="true" aria-label="go to previous page"
                             ng-click="vm.prev()"
                             class="first cur-pointer" src="../Images/pagination-back-Enabled.png">
                    </div>
                    <div ng-show="vm.totalrecords<6 || vm.first<2">
                        <img id="grid_Grid_First" class="first click-disabled" src="../Images/pagination-back-disabled.png">
                    </div>
                    <div id="grid_Grid_ViewRecords" class="ViewRecordDiv moveToMiddle docFromToPageWidth">
                        <span class="PaginateSpan">{{vm.fromtopage}}</span>
                    </div>
                    <div ng-show="vm.totalrecords<=6 || vm.last>=vm.totalrecords">
                        <img id="grid_Grid_Next" class="next click-disabled" src="../Images/pagination-front-disabled.png">
                    </div>
                    <div ng-show="vm.totalrecords>6" ng-class="{'hide':vm.last>=vm.totalrecords}">
                        <img title="Next" id="grid_Grid_Next"
                             ng-click="vm.next()"
                             tabindex="0" aria-live="assertive" aria-atomic="true" aria-label="go to next page"
                             class="next cur-pointer" active="0" src="../Images/pagination-front-Enabled.png">
                    </div>

                </div>

              
            </div>
            <div class="col-xs-12 mainsort docSortbyWidth">
                <div class="col-xs-offset-8 col-xs-4 docsortby">
                    <div class="pad0 docSortbyText" ng-click="vm.showsortby($event)">
                        <span>{{vm.documentDashboardConfigs.LabelSortByText}} </span>
                        <span>{{vm.sortbytext}}</span>
                        <img alt="{{vm.documentDashboardConfigs.LabelSortByTitle}}" class="" title="{{vm.documentDashboardConfigs.LabelSortByTitle}}" src="../Images/icon-combobox.png" />
                    </div>
                    <div class="docExportIcon" ng-if="vm.center!='mattercenter'">
                        <span class="img-xls" ng-click="vm.export()" ng-show="vm.lazyloaderdashboard">
                            <img alt="export" ng-if="!vm.nodata" src="../../images/icxlsx.png" />
                        </span>
                    </div>
                    <div class="col-xs-offset-4 col-xs-5 col-sm-offset-5 col-sm-4 col-md-offset-8 col-md-4" ng-if="vm.sortbydrop">
                        <ul role="menu">
                            <li role="menuitem" aria-label="{{vm.tabClicked=='All Documents'?vm.documentDashboardConfigs.DropDownOptionText:vm.documentDashboardConfigs.DrpDownOption1Text}}" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('Relevant',vm.tabClicked=='All Documents'?vm.documentDashboardConfigs.DropDownOptionText:vm.documentDashboardConfigs.DrpDownOption1Text):null"
                                ng-click="vm.sortyby('Relevant',vm.tabClicked=='All Documents'?vm.documentDashboardConfigs.DropDownOptionText:vm.documentDashboardConfigs.DrpDownOption1Text)">{{vm.tabClicked=='All Documents'?vm.documentDashboardConfigs.DropDownOptionText:vm.documentDashboardConfigs.DrpDownOption1Text}}</li>
                            <li role="menuitem" aria-label="sort document name by descending order" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('AlphabeticalDown','Alphabetical ↓'):null"
                                ng-click="vm.sortyby('AlphabeticalDown','Alphabetical ↓')">{{vm.documentDashboardConfigs.DrpDownOption2Text}} ↓</li>
                            <li role="menuitem" aria-label="sort document name by ascending order" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('AlphabeticalUp','Alphabetical ↑'):null"
                                ng-click="vm.sortyby('AlphabeticalUp','Alphabetical ↑')">{{vm.documentDashboardConfigs.DrpDownOption2Text}} ↑</li>
                            <li role="menuitem" aria-label="sort documents by created date in ascending order" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('CreateddateUp','Created date ↑'):null"
                                ng-click="vm.sortyby('CreateddateUp','Created date ↑')">{{vm.documentDashboardConfigs.DrpDownOption3Text}} ↑</li>
                            <li role="menuitem" aria-label="sort documents by created date in descending order" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('CreateddateDown','Created date ↓'):null"
                                ng-click="vm.sortyby('CreateddateDown','Created date ↓')">{{vm.documentDashboardConfigs.DrpDownOption3Text}} ↓</li>
                            <li role="menuitem" aria-label="sort documents by modified date in ascending order" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('ModifieddateUp','Modified date ↑'):null"
                                ng-click="vm.sortyby('ModifieddateUp','Modified date ↑')">{{vm.documentDashboardConfigs.DrpDownOption4Text}} ↑</li>
                            <li role="menuitem" aria-label="sort documents by modified date in descending order" 
                                ng-keydown="$event.keyCode==13?vm.sortyby('ModifieddateDown','Modified date ↓'):null"
                                ng-click="vm.sortyby('ModifieddateDown','Modified date ↓')">{{vm.documentDashboardConfigs.DrpDownOption4Text}} ↓</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingImageContainer" style="top: 25%;left: 47%;" class="docDashboardLoader">
        <div class="lazyLoading" ng-hide="vm.lazyloaderdashboard">
            <img src="../Images/WindowsLoadingFast.GIF" 
                 role="img"
                 aria-live="assertive"
                 aria-atomic="true"
                 aria-label="{{vm.documentDashboardConfigs.AttachmentLoadingText}}"
                 alt="{{vm.documentDashboardConfigs.AttachmentLoadingText}}" 
                 title="{{vm.documentDashboardConfigs.AttachmentLoadingText}}" />
        </div>
    </div>
    <div class="popupContainerBackground" ng-hide="vm.popupContainer"></div>

    <div class="docDashboardInnerLoader">
        <div class="row text-center" ng-hide="vm.lazyloaderdashboard">
            {{vm.documentDashboardConfigs.MattersPreLoadingMsgText}}
        </div>
    </div>

    <!--For the export Data-->
    <div id="exportable" class="hide">
        <table width="100%" ng-if="!vm.globalSettings.isBackwardCompatible">
            <thead>
                <tr>
                    <th>{{vm.documentDashboardConfigs.GridColumn1Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn2Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn3Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn4Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn5Header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.exportDate">
                    <td>{{item.documentName}}</td>
                    <td>{{item.documentVersion}}</td>
                    <td>{{item.documentMatterName}}</td>
                    <td>{{item.documentOwner}}</td>
                    <td>{{item.documentCreatedDate}}</td>
                </tr>
            </tbody>
        </table>
        <table width="100%" ng-if="vm.globalSettings.isBackwardCompatible">
            <thead>
                <tr>
                    <th>{{vm.documentDashboardConfigs.GridColumn1Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn2Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn3Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn4Header}}</th>
                    <th>{{vm.documentDashboardConfigs.GridColumn5Header}}</th>
                    <!--<th>{{vm.documentDashboardConfigs.GridColumn6Header}}</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.exportDate">
                    <td>{{item.documentName}}</td>
                    <td>{{item.documentVersion}}</td>
                    <td>{{item.documentMatterName}}</td>
                    <td>{{item.documentOwner}}</td>
                    <td>{{item.documentCreatedDate}}</td>
                    <!--<td>{{item.matterID}}</td>-->
                </tr>
            </tbody>
        </table>

    </div>

</div>
