<script type="text/ng-template" id="colHeaderCheckBox.html">
</script>
<div class="popupWait hide"></div>
<div class="loadingImage hide" id="popupWaitLoadingImage">
    <a title="Matter Center Home" id="mcIcon" href="/sitepages/MatterCenterHome.aspx" target="_parent">
        <img title="Matter Center" src="../Images/WindowsLoadingFast.GIF" alt="Matter Center" />
    </a>
</div>
<div class="popupContainerBackground hide"></div>
<div id="mainDivContainer" ng-click="vm.closealldrops()">
    <div class="matterPopup"></div>
    <div class="documentPopup"></div>
    <div class="clear"></div>
    <!--Start Pop up conatins for documents to send documents to one drive, send email etc-->
    <div class="popUpContainer hide">
        <header class="popUpHeader">
            <div class="popUpHeaderTitle popUpFloatLeft"></div>
            <div class="notificationContainerForPopup"></div>
            <img class="mailCartCloseIcon" alt="Close" src="../Images/close-666.png" title="Close" />
        </header>
        <div id="PopupBody">
            <div class="selectMailFormat">
                <div class="sendEmailOptions sendToOneDriveOption" onclick="sendToBriefcase();">
                    <img class="mailCartLogo" src="../Images/my-briefcase-666.png" alt="Send to My OneDrive for Business" title="Send to My OneDrive" />
                    <div title="Send to My OneDrive for Business" class="inlineValues">Send to My OneDrive for Business</div>
                </div>
                <div class="sendEmailOptions emailAttachmentOption" onclick="downloadEmail(true);">
                    <img class="mailCartLogo" src="../Images/attach_666_27X27.png" alt="Email as attachment" title="Email as attachment" /><div title="Email as attachment" class="inlineValues">Email as attachment</div>
                </div>
                <div class="sendEmailOptions emailLinkOption" onclick="downloadEmail(false);">
                    <img class="mailCartLogo" src="../Images/link-666.png" alt="Email as link" title="Email as link" /><div title="Email as link" class="inlineValues">Email as link</div>
                </div>
            </div>
            <div class="popUpBody popUpFloatLeft">
                <div class="checkOutPopup">
                    <div class="checkOutPopupPointer"></div>
                    <div class="checkOutPopupData">
                        <div class="checkOutMetadata marginTop10"></div>
                    </div>
                </div>
                <ul class="emailDocumentNames"></ul>
                <div class='pinLoadingImage' id='mailCartLoadingImage'>
                    <img src='/Images/WindowsLoadingFast.GIF' title='Loading' class='LoadingImage' alt='Loading...' />
                </div>
            </div>
        </div>
    </div>
    <!--End Pop up conatins for documents to send documents to one drive, send email etc-->
    <div class="matterCenterHeaderBackground hide"></div>
    <!--Main dashboard content-->
    <div id="contentDiv">
        <div class="row searchdashboard">
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" ng-model="vm.searchText" placeholder="Search by document name, document ID, or keyword" 
                           uib-typeahead="matterDataList.matterName + ' ('+ matterDataList.matterID + ')' for matterDataList in vm.searchMatters($viewValue)" 
                           typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    <span class="input-group-addon cursor" id="basic-addon1" ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>
            <div class="col-xs-3 pad0">
                <img title="Advanced search" style="display: inline;" type='button' ng-if="vm.downwarddrop" ng-click="vm.showupward($event)" data-toggle='dropdown' alt="Drop Down" src="../Images/downward-advanced-search-29x29-666.png">
                <img title="Advanced search" id="filterSearchDown" ng-if="vm.upwarddrop" ng-click="vm.showdownward($event)" alt="Drop Down" src="../Images/upward-advanced-search-29x29-666.png">
            </div>
            <div class="col-xs-12">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
            <div class="col-xs-9 dashboarddrop" ng-click='vm.hideinnerdrop($event)' ng-if="vm.searchdrop">
                <div class="col-xs-12 dashboarddropinner">
                    <!--Start Client Selection Dropdown-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Clients</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="input-group">
                                <input type="text" value="{{vm.selectedClients}}" placeholder="Enter or select a client" class="form-control">
                                <span class="input-group-addon cursor" id="basic-addon1"
                                      ng-click="vm.showClientDrop($event)"><img src='../images/icon-combobox.png' /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 " ng-if="vm.clientdrop" ng-click="$event.stopPropagation();">
                        <div class="row ">
                            <div class="col-xs-9 col-sm-7 clientdropinner refinerClient">
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(true, 'client',$event)">Select All</a> </div>
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(false, 'client',$event)">Select None</a></div>
                                <div class="col-xs-12 refinerWrapper" ng-repeat="client in vm.clients" ng-click="$event.stopPropagation();">
                                    <input type="checkbox" data-clientid="{{client.id}}"
                                           data-clienturl="{{client.url}}" ng-model="client.Selected" /> <span>{{client.name}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch" ng-click="vm.filterSearchOK('client')">Ok</div></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch" ng-click="vm.filterSearchCancel()">Cancel</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Client Search Selection Down-->
                    <!--Start Practice Group Selection Dropdown-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Practice Group</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="input-group">
                                <input type="text" value="{{vm.selectedPGs}}" placeholder="Enter or select a practice group" class="form-control">
                                <span class="input-group-addon cursor" id="basic-addon1"
                                      ng-click="vm.showPracticegroupDrop($event)"><img src='../images/icon-combobox.png' /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 " ng-if="vm.pgdrop" ng-click="$event.stopPropagation();">
                        <div class="row ">
                            <div class="col-xs-9 col-sm-7 clientdropinner refinerClient">
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(true, 'pg',$event)">Select All</a> </div>
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(false, 'pg',$event)">Select None</a></div>
                                <div class="col-xs-12 refinerWrapper" ng-repeat="pg in vm.practiceGroups"  ng-click="$event.stopPropagation();">
                                    <input type="checkbox" ng-model="pg.Selected" /> <span>{{pg.termName}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch" ng-click="vm.filterSearchOK('pg')">Ok</div></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch" ng-click="vm.filterSearchCancel()">Cancel</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Practive Group Selection Dropdown-->
                    <!--Start AOL Selection Dropdown-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Area of Law</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="input-group">
                                <input type="text" value="{{vm.selectedAOLs}}" placeholder="Enter or select an area of law" class="form-control">
                                <span class="input-group-addon cursor" id="basic-addon1"
                                      ng-click="vm.showAreaofLawDrop($event)"><img src='../images/icon-combobox.png' /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="vm.aoldrop" ng-click="$event.stopPropagation();">
                        <div class="row ">
                            <div class="col-xs-9 col-sm-7 clientdropinner refinerClient">
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(true, 'aol',$event)">Select All</a> </div>
                                <div class="col-xs-12 col-sm-5 col-md-2"><a class="btn btn-link" ng-click="vm.checkAll(false, 'aol',$event)">Select None</a></div>
                                <div class="col-xs-12 refinerWrapper" ng-repeat="aol in vm.aolTerms"  ng-click="$event.stopPropagation();">
                                    <input type="checkbox" ng-model="aol.Selected" /> <span>{{aol.termName}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch" ng-click="vm.filterSearchOK('aol')">Ok</div></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="filterOkButton"><div class="dashboardSearch" ng-click="vm.filterSearchCancel()">Cancel</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End AOL Selection Dropdown-->

                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pull-left pad15">Date</div>
                        <div class="col-xs-12 col-sm-7 pull-left pad10">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class='input-group'>
                                        <input type='text' placeholder='From' class='calendar form-control'
                                               uib-datepicker-popup='MM/dd/yyyy'
                                               ng-model='startdate'
                                               is-open='openedStartDate'
                                               datepicker-options='dateOptions'
                                               ng-required='true' close-text='Close'
                                               alt-input-formats='altInputFormats' />
                                        <span class='input-group-btn'>
                                            <button type='button' class='btn btn-default' ng-click='openStartDate()'><i class='glyphicon glyphicon-calendar'></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class='input-group'>
                                        <input type='text' placeholder='To' class='calendar form-control'
                                               uib-datepicker-popup='MM/dd/yyyy'
                                               ng-model='enddate'
                                               is-open='openedEndDate'
                                               datepicker-options='enddateOptions'
                                               ng-required='true' close-text='Close'
                                               alt-input-formats='altInputFormats' />
                                        <span class='input-group-btn'>
                                            <button type='button' class='btn btn-default' ng-click='openEndDate()'><i class='glyphicon glyphicon-calendar'></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-3 pad15">
                            <div id="filterAdvancedSearch" class="dashboardSearch">
                                Search
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padtop20">
                <ul class="nav nav-tabs" toggletab>
                    <li><a href="#MyMatters" data-toggle="tab">My matters ({{vm.myMatterCount}})</a></li>
                    <li class="active"><a data-toggle="tab" ng-click="vm.search()">All matters ({{vm.allMatterCount}})</a></li>
                    <li><a href="#PinnedMatters" data-toggle="tab" ng-click="vm.getMatterPinned()">Pinned matters ({{vm.pinMatterCount}})</a></li>
                </ul>
            </div>
            <div class="col-xs-offset-9 col-xs-3 sortby">
                <div class="col-xs-offset-4 col-xs-8 text-right pad0">
                    <span>Sort by: </span>
                    <span>{{vm.sortbytext}}</span>
                    <img alt="Sort By" class="" ng-click="vm.showsortby($event)" title="Sort By" src="../Images/icon-combobox.png" />
                </div>
                <div class="col-xs-offset-7 col-xs-5" ng-if="vm.sortbydrop">
                    <ul>
                        <li ng-click="vm.sortyby('Relevant','None')">None</li>
                        <li ng-click="vm.sortyby('AlphabeticalUp','Alphabetical ↑')">Alphabetical ↑</li>
                        <li ng-click="vm.sortyby('AlphabeticalDown','Alphabetical ↓')">Alphabetical ↓</li>
                        <li ng-click="vm.sortyby('CreateddateUp','Created date ↑')">Created date ↑</li>
                        <li ng-click="vm.sortyby('CreateddateDown','Created date ↓')">Created date ↓</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="tab-content">                    
                    <div class="tab-pane active" id="mattersGrid" ng-hide="vm.mattersdashboardGrid">
                        <div class="col-xs-12 pad0 padtop5">
                            <div class="" id="grid1" ui-grid="vm.matterGridOptions" ui-grid-exporter ui-grid-selection ui-grid-auto-resize></div>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
        <div class="LeftContent">
            <div class="mailpopupContainerBackground hide"></div>
            <div class="appName hide">
                <div class="appLink">
                    <a>
                        <img alt="Matter Center" class="appImage" src="../Images/Portal_logo_png.png" />
                        <div class="appTitle"><span>Matter Center</span></div>
                        <div class="appTitleSmall"><span>for Office 365</span></div>
                    </a>
                </div>
            </div>           
            <div class="searchDocumentHeader">
                <div class="switchTab hide">
                    <div class="navDiv" onclick="changeNavigationTabs(this);">Search Results</div>
                </div>
            </div>  
            <div id="recentView">
                <div id="RecentDocumentContainer" class=""></div>
                <div id="recentMatters" class="hide">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UploadMatterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:100%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row margin0">
                        <div class="col-sm-10 pad0">
                            <div class="attachmentHeader">Drag and drop items to folders on the right</div>
                        </div>
                        <div class="col-sm-2">
                            <img data-dismiss="modal" ng-click="vm.hideBreadCrumb()" class="pull-right" src="../../images/close-666.png" />
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="col-sm-9 pull-left mailHeaderItems"><div>Items</div></div>
                        <div class="col-sm-3 pull-left mailHeaderFolders"><div></div>Folders</div>
                    </div>

                    <div class="row margin0">
                        <div class="col-sm-9 maildata">
                            <!--Content start for showing the files which are uploaded from desktop-->
                            <div class="attachmentSection">
                                <div ng-if="vm.isLoadingFromDesktopStarted" class='attachmentSection'>
                                    <img alt='Loading' class='attachmentListLoading' src='../images/loading_metro.gif' />
                                </div>
                                <div ng-repeat="uploadedFile in vm.uploadedFiles" class="attachment">
                                    <div class="attachmentName mailName">
                                        <!--If the mail upload is success, show this div-->
                                        <div ng-if="!uploadedFile.isError" class="uploadSuccessStatus">
                                            <img class="uploadSuccessStatus" alt="Uploaded successfully" src="/images/success-message.png">
                                        </div>
                                        <img class="attachIcon" id="{{uploadedFile.counter}}attachIcon"
                                             alt="attachment icon" src="../Images/attach_icon-15x15_666.png">
                                        <div title="Test attachments" class="popupName">
                                            {{uploadedFile.fileName}}
                                        </div>
                                        <!--If the mail upload is success, show the folder name under which the email has been dropped-->
                                        <div ng-if="!uploadedFile.isError" title="{{uploadedFile.dropFolder}}" class="uploadSuccessMessage">
                                            {{uploadedFile.dropFolder}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.allAttachmentDetails.length==0" class="noFilesUploaded">No files uploaded</div>
                        </div>
                        <div class="col-sm-3 folderContent">
                            <div id="breadcrumb" class="breadcrumb" ng-hide="breadcrumb">
                                <img alt="Root" ng-click="hideBreadCrumb()" id="rootLink" src="../Images/Return_Icon_23px_23px_666.png" title="<span class=&quot;content&quot;>cv vb</span>" draggable="false">
                                <div id="parentFolder" class="breadcrumbItem"></div>
                                <div id="breadcrumbSeparator"></div>
                                <div id="currentFolder" class="breadcrumbItem"></div>
                            </div>
                            <div class="folderStructureContent" showbreadcrumb ng-hide="foldercontent">
                                <ul>
                                    <li>
                                        <ul ng-repeat="folder in vm.foldersList">
                                            <li ng-if="folder.parentURL" data-client="" data-foldername="{{folder.url}}" data-parentname="{{folder.parentURL}}" class="childNode"
                                                style="display: inline-block; width: 90%; padding:0;">
                                                <div class="treeNodes" title="Documents" droppable drop="handleDrop()" folder="folder" id="folder{{$index}}">
                                                    <img class="folderIcon" src="https://msmatter.sharepoint.com/_layouts/15/images/folder.gif" align="center" alt="Documents"
                                                         data-foldername="{{folder.url}}" data-parentname="{{folder.parentURL}}">
                                                    {{folder.name}}
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="pull-left"><img src="../../images/information-blue.png" /> You can also drag and drop files from your desktop.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<div id="loadingImageContainer">
    <div class="lazyLoading" ng-hide="vm.lazyloaderdashboard">
        <img src="../Images/WindowsLoadingFast.GIF" alt="Loading..." title="Loading..." />
    </div>
</div>