<style>
    .commonContent {
        display: block !important;
    }

    #contentDiv {
        height: auto !important;
        min-height: 410px;
        max-height: 3000px !important;
    }
</style>
<div id="mainDivContainer" ng-click="vm.closealldrops()">
    <div id="contentDiv" class="pad0">
        <div ng-if="vm.clientlist">
            <div class="defaultFontStyle clientName" id="settingName">Settings</div>
            <div class="defaultFontStyle contentDescription clientDescription">Click on a name to configure matter creation options for that client.</div>
            <div class="tableContainer defaultFontStyle semiBold ClientNameTitle">Client Name</div>
            <div class="horizontalLine"></div>
            <div class="row margin0">
                <div class="defaultFontStyle">
                    <a class="col-xs-12 clientLinks clientNames" ng-repeat="client in vm.taxonomydata" ng-click="vm.showSelectedClient(client.name,client.url)">
                        {{client.name}}
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="vm.showClientDetails">
            <div class="row margin0">
                <div class="defaultFontStyle clientName">
                    <a class="clientLinks marginRight10" ng-click="vm.showSetting()">Settings &gt;</a>
                    {{vm.selected}}
                </div>
                <div class="defaultFontStyle pageDescription col-xs-12 pad0">
                    This page shows the current settings for this client’s new matters. The first section allows you to set new matter default selections, which can be changed when a matter is created. The second section defines settings that can not be changed when a new matter is created. No changes are required, and any changes made will not affect existing matters.
                </div>
                <div class="defaultSection col-xs-12">
                    <div class="defaultFontStyle titleSection">Select default values</div>
                    <div class="defaultFontStyle descriptionSection">Default selections will be editable when a new matter is created.</div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="row margin0">
                        <div class="col-xs-12 col-sm-5 pad0">
                            <div class="row margin0">
                                <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                    Matter Name
                                </div>
                                <div class="col-xs-12 col-sm-11 defaultFontStyle contentDescription pad0" style="margin-top:10px">
                                    Enter default text to appear when a new matter is created. For example, a matter name prefix or suffix, or naming convention instructions.This text can be removed or changed when a new matter is created.
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                            <input type="text" class="form-control" ng-model="vm.mattername" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="row margin0">
                        <div class="col-xs-12 col-sm-5 pad0">
                            <div class="row margin0">
                                <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                    Matter ID
                                </div>
                                <div class="col-xs-12 col-sm-11 defaultFontStyle contentDescription pad0" style="margin-top:10px">
                                    ID numbers must be manually entered when a new matter is created. Enter default text, such as ID prefix or suffix, or numbering instructions. This text can be removed or changed when a new matter is created.
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                            <input type="text" class="form-control" ng-model="vm.matterid" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    Set a default matter type by selecting a Practice group, Area of law, and Sub areas of law below.
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Default to restricting access to an assigned team?
                            </div>
                            <div class="col-xs-12 col-sm-11 defaultFontStyle contentDescription pad0" style="margin-top:10px">
                                This can be changed when a new matter is created. If you select yes, you can either define a default team below or leave the team permission blank.
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.assignteam" name="assignteam" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" ng-model="vm.assignteam" name="assignteam" value="No" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="defaultFontStyle tableContainer semiBold" id="assignPermissionsTitle">Assign team permission</div>
                    <div class="col-xs-12 pad0">
                        <div class="row margin0 marginTop10">
                            <div class="col-xs-4 pad0">Name</div>
                            <div class="col-xs-3 ">Role</div>
                            <div class="col-xs-3 ">Permission level</div>
                            <div class="col-xs-2 "></div>
                        </div>
                        <div class="row margin0 marginTop10" data-ng-repeat="assignTeam in vm.assignPermissionTeams">
                            <div class="col-xs-4 pad0">
                                <input id='txtUser{{assignTeam.assigneTeamRowNumber}}' class="form-control clear inputAssignPerm ui-autocomplete-input commonspace" ng-model="assignTeam.assignedUser" uib-typeahead="users.name + ' ('+ users.email + ')' for users in vm.searchUsers($viewValue)" typeahead-loading='loadingLocations' typeahead-no-results='teamAssingnResults' typeahead-on-select='vm.onSelect($item, $model, assignTeam,"team","",$event)' spellcheck="true" type="text" placeholder="Enter and select names" autocomplete="off">
                                <div ng-show='teamAssingnResults'>
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <span class="pull-left"><i ng-show='loadingLocations' class="glyphicon glyphicon-refresh"></i></span>
                            </div>
                            <div class="col-xs-3 ">
                                <select id='roleUser{{assignTeam.assigneTeamRowNumber}}' class="form-control clear dropdownCustom " ng-model="assignTeam.assignedRole" ng-options='assignRole.name for assignRole in vm.assignRoles '></select>
                            </div>
                            <div class="col-xs-3 ">
                                <select id='permUser{{assignTeam.assigneTeamRowNumber}}' class="form-control clear dropdownCustom " ng-model="assignTeam.assignedPermission" ng-options='assignPermission.name for assignPermission in vm.assignPermissions '></select>
                            </div>
                            <div class="col-xs-2 ">
                                <img ng-model="assignTeam.assigneTeamRowNumber" ng-click="vm.removeAssignPermissionsRow($index)" title="Delete" alt="Delete" src="../Images/icon-delete.png">
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-2 margin0 marginTop10">
                            <div id="addMoreLink" style="float:right;margin-top:10px;padding:0px;">
                                <a id="addMorePermissions" style="padding:0px;" ng-click="vm.addNewAssignPermissions()">Add More</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Include email notification?
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.email" name="email" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" name="email" value="No" ng-model="vm.email" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0 marginTop15">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Include calendar?
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.calendar" name="calender" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" ng-model="vm.calendar" name="calender" value="No" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Include tasks?
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.tasks" name="tasks" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" name="tasks" value="No" ng-model="vm.tasks" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Include RSS Feeds?
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.rss" name="rss" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" ng-model="vm.rss" name="rss" value="No" /> No
                        </span>
                    </div>
                </div>
                <div class="defaultSection col-xs-12 marginTop20">
                    <div class="defaultFontStyle titleSection">Set matter options</div>
                    <div class="defaultFontStyle descriptionSection">These settings will not be editable when a new matter is created.</div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Make the matter description field required?
                            </div>
                            <div class="col-xs-12 col-sm-11 defaultFontStyle contentDescription pad0" style="margin-top:10px">
                                Selecting No will allow new matters to be saved without a description
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.matterdesc" name="matterdesc" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" name="matterdesc" value="No" ng-model="vm.matterdesc" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Do matters need conflict check data?
                            </div>
                            <div class="col-xs-12 col-sm-11 defaultFontStyle contentDescription pad0" style="margin-top:10px">
                                Selecting No will remove the conflict check declaration fields from new matters
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.conflict" name="conflict" value="Yes" /> Yes</span>
                        <span>
                            <input type="radio" name="conflict" value="No" ng-model="vm.conflict" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Show or hide role?
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.showrole" name="showrole" value="Yes" />Yes</span>
                        <span>
                            <input type="radio" name="showrole" ng-model="vm.showrole" value="No" /> No
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 pad0" style="margin-top:10px">
                    <div class="col-xs-12 col-sm-5 pad0">
                        <div class="row margin0">
                            <div class="col-xs-12 defaultFontStyle displayInline pad0">
                                Show matter id with?
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 pad0" style="margin-top: 7px;">
                        <span style="margin-right:10px"> <input type="radio" ng-model="vm.showmatterid" name="matterid" value="Yes" /> Yes</span>
                        <span style="margin-right:10px"><input type="radio" ng-model="vm.showmatterid" name="matterid" value="No" /> No</span>
                    </div>
                </div>
                <div id="buttonSection">
                    <button class="button clear" type="button" id="saveButton" title="Save" ng-click="vm.saveSettings()">Save</button>
                    <button class="button" type="button" id="cancelButton" title="Cancel" ng-click="vm.showSetting()">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <div id="loadingImageContainer" style="top:25%;left:47%">
        <div class="lazyLoading" ng-hide="vm.lazyloader">
            <img src="../Images/WindowsLoadingFast.GIF" alt="Loading..." title="Loading..." />
        </div>
    </div>
</div>
