<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <customErrors mode="On" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <roleManager cookieRequireSSL="true" cookieSlidingExpiration="false" />
    <anonymousIdentification cookieRequireSSL="true" cookieProtection="All" />
    <sessionState regenerateExpiredSessionId="false" />
    <authentication>
      <forms requireSSL="true"></forms>
    </authentication>
  </system.web>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientId" value="[Enter Client ID of the SharePoint app from specific tenancy after registration, e.g. 4e55c7b2-eb66a-753e7-2679ac37be8b08]" />
    <add key="ClientSecret" value="[Enter Client Secret of the SharePoint app from specific tenancy after registration, e.g. FNif5Y5txguMCHzOBivLKCRBs2ReJKwTlOg/Iln7xKp=]" />
    <add key="HostedAppHostNameOverride" value="[Enter azure website URL for site, e.g. site.azurewebsites.net]" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Microsoft.Legal.MatterCenter.ProviderService.Search">
        <endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="secureBinding" contract="Microsoft.Legal.MatterCenter.ProviderService.Search" />
      </service>
      <service name="Microsoft.Legal.MatterCenter.ProviderService.MatterProvision">
        <endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="secureBinding" contract="Microsoft.Legal.MatterCenter.ProviderService.MatterProvision" />
      </service>
      <service name="Microsoft.Legal.MatterCenter.ProviderService.LegalBriefcase">
        <endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="secureBinding" contract="Microsoft.Legal.MatterCenter.ProviderService.LegalBriefcase" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="false" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="webBehavior">
          <serviceMetadata httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="secureBinding" maxReceivedMessageSize="10000000" receiveTimeout="01:00:00">
          <readerQuotas maxStringContentLength="10000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="[Enter azure website URL for site, e.g. https://site.azurewebsites.net]" />
        <add name="Access-Control-Allow-Methods" value="POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="content-type, accept, RequestValidationToken" />
        <add name="Access-Control-Max-Age" value="3600" />
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>