<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>

  <appSettings>


    <add key="UserName" value="" /> <!--Update the value with User name: Example- "myusername@mydomain.com" -->
    <add key="Password" value="" />  <!--Update the value with Password: Example- "AGoodPassword" -->

    <!-- <add key="UseAnotherAccount" value="use_another_account" /> -->
    <!-- <add key="UserIDTextBox" value="cred_userid_inputtext" /> -->
    <!-- <add key="UserPasswordTextBox" value="cred_password_inputtext" /> -->
    <!-- <add key="SignInButton" value="cred_sign_in_button" /> -->
    <!-- <add key="KeepSignInButtonCheckBox" value="document.getElementById('cred_keep_me_signed_in_checkbox').checked = true;" /> -->
    
    <!-- *****All links needed for matter center pages***** -->
    <add key="DocumentSearch" value="http://matterwebapp.azurewebsites.net/#/documents"/>
    <add key="CreateMatter" value="https://matterwebapp.azurewebsites.net/#/createMatter"/>
    <add key="DocumentDashboard" value="https://matterwebapp.azurewebsites.net/#/documentdashboard"/>
    <add key="Home" value="https://matterwebapp.azurewebsites.net"/>
    <add key="MatterDashboard" value="https://matterwebapp.azurewebsites.net/#/matterdashboard"/>
    <add key="MatterSearch" value="https://matterwebapp.azurewebsites.net/#/matters"/>
    <add key="Settings" value="https://matteruiv0.azurewebsites.net/pages/settings.aspx?%26clientdetails=https://msmatter.sharepoint.com/sites/microsoft$|$Microsoft"/>
    <add key="DocumentLandingPage" value="https://msmatter.sharepoint.com/sites/catalog/SitePages/documentDetails.aspx?client=/sites/microsoft%26listguid=e734db7d-8c18-4fef-8509-20bc69c9817d%26docguid=f61e8203-4146-4193-9b64-813c99340429"/>
    <add key="ManagePermissionPage" value="https://matteruiv0.azurewebsites.net/pages/managepermissions.aspx?%26IsEdit=true%26clientUrl=https://msmatter.sharepoint.com/sites/Amazon%26matterName=New Matter Amazon Test34%26IsDlg=1%26IsDlg=1"/>
    <add key="MatterLanding" value="https://msmatter.sharepoint.com/sites/microsoft/SitePages/a0ec6dfddf9f9c52efb9f8a245d3ff97.aspx" />
    <add key="OpenDocument" value="https://msmatter.sharepoint.com/sites/microsoft" />
    <!-- ************************************************** -->

    <!-- ****** Update configuration as per changes ******* -->
    <add key="MatterDescription" value="MC" />
    <add key="MatterName" value="test" />
    <add key="AttorneyName" value="SaiK" />
    <add key="AttorneyUser" value="wilson" />
    <add key="DocumentLanding" value=""/>
    <add key="DropDownKeyword" value="Amazon" />
    <add key="Attorney" value="Wilson Gajarla" />
    <add key="AttorneyMember" value="SaiKiran Gudala" />
    <add key="SearchKeyWord" value="test" />
    <!-- *************************************************** -->
    
  </appSettings>
</configuration>