<!--<div class="container-fluid">   -->
<div class="row">
    <div class="col-xs-12">
        <div id="MasterPageContainer" class="MasterPageContent">
            <div class="commonAppSwitch  hide">
                <img alt="Toggle app switcher menu" class="listMenuImage" src="Images/new-app-switcher-hamburger-icon-19X16-2b579a.png" />
                <div class="appSwitchMenu hide">
                    <ul>
                        <li class="switchAppLink" data-attr="Search Matters">Search Matters</li>
                        <li class="switchAppLink" data-attr="Search Documents">Search Documents</li>
                        <li runat="server" id="ProvisionMatterLink" class="switchAppLink" data-attr="Provision Matters"></li>
                    </ul>
                </div>
                <div class='appSwitcherName selected'><span></span></div>
            </div>
            <div class="AppHeader">
                <div class="AppMenuFlyout ms-shadow">
                    <div class="AppMenuFlyoutPriLinks">
                        <a ui-sref='mc.navigation()' class="AppFlyoutLinks HomeLink" title="Home"><span class="AppFlyoutLinksText">Home</span></a>
                        <a ui-sref='mc.matters()' class="AppFlyoutLinks MatterSitesLink" title="Search matters"><span class="AppFlyoutLinksText">Matters</span></a>
                        <a class="AppFlyoutLinks MatterDocumentsLink" title="Search documents"><span class="AppFlyoutLinksText">Documents</span></a>
                    </div>
                </div>
                <div id="HeaderPlaceHolder">
                    <div id="" class="row">

                        <div class="col-xs-4 col-sm-1 col-md-4 col-lg-4 pad0">
                            <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2" ng-click="vm.menuClick()">
                                <img class="AppSwitcher OpenSwitcher" src="Images/hamburger30x30.png" alt="Open App Switcher" title="Matter Center menu" />
                                <img class="AppSwitcher CloseSwitcher hide" src="Images/MC_Navigation_Close.png" alt="Close App Switcher" title="Close" />
                                <div class="MenuCaption"><span>menu</span></div>
                            </div>
                            <div class="col-md-10 col-lg-10  visible-md visible-lg" id="searchPanelDropdown">
                                <select class="form-control" ng-model="ddlMatters" ng-options="matter.Name for matter in Matters" ng-change="GetMatters(ddlMatters.Id)"></select>
                            </div>
                        </div>
                        <div id="searchBarHolder" class="col-md-7 col-lg-7 visible-md visible-lg pad0">
                            <input type="text" ng-model="vm.selected" placeholder="Search by ID, or matter or client name" uib-typeahead="matterDataList.matterName + ' ('+ matterDataList.matterID + ')' for matterDataList in vm.searchMatter($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                        </div>
                        <div id="searchBarHolder" class="col-xs-8 col-sm-4 hidden-md hidden-lg">
                            <div class="input-group">
                                <input type="text" ng-model="vm.selected" placeholder="Search by ID, or matter or client name" typeahead="matterDataList.matterName + ' ('+ matterDataList.matterID + ')' for matterDataList in vm.searchMatter($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <!-- <div class="ms-TextField ms-TextField--placeholder autoCompleteSection">
                                    <input ng-model="vm.searchTerm" class="col-sm-12" type="text" placeholder="Search by ID, or matter or client name" />
                                </div>
                                <div id="searchIcon" title="Search" ng-click="vm.search()">
                                    <i class="ms-TextField-icon ms-Icon ms-Icon--search"></i>
                                </div>
                                <div id="glyphIcon" title="View document list options">
                                    <i class="ms-Icon ms-Icon--caretDown"></i>
                                </div>
                                <div class="autoCompletePanel hide"></div>
                                -->
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li class="searchPanelDropdown" ng-click="GetMatters(1)">All Matters</li>
                                        <li class="searchPanelDropdown" ng-click="GetMatters(2)">My Matters</li>
                                        <li class="searchPanelDropdown" ng-click="GetMatters(3)">Pinned Matters</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 visible-sm text-right">
                            <div id="ContextualHelp">
                                <img class="ContextualHelpLogo" src="Images/MC_Help_Icon.png" alt="Contextual Help" title="Matter Center help" />

                                <div data-class="ms-u-slideLeftIn40" class="ContextualHelpContainer ms-u-slideLeftIn40">
                                    <div class="ContextualHelpFlyout">
                                        <img class="closeContextualHelpFlyout" title="Close" alt="Close flyout" src="Images/contextual_help_close_icon.png" />
                                        <div class="ContextualHelpHeader" title="Matter Center For Outlook">Matter Center For Outlook</div>
                                        <div class="contextualHelpSections">
                                        </div>
                                        <div class="ContextualHelpSupport">
                                            <span class="ContextualHelpBottomText" title="Write an email to Support">Questions? Contact <span class="ContextualHelpSupportMailTo"><a class="MatterCenterSupportLink" href="[Enter URL for Support, e.g. mailto:support@supportsite.com]">Matter Center Support</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ProfileSwitcher">
                                <img class="AppHeaderProfilePict" src="Images/MC_Profile_Switcher.png" id="AppHeaderPersona" alt="Profile Picture" runat="server" />
                            </div>
                        </div>
                    </div>
                    <span class="DelveLink"><img title="Search in Delve" src="../Images/delve.png" onclick="javascript: delveIt();" /></span>
                    <!--
                     <div class="col-sm-2">
                         <select class="col-sm-12" ng-model="ddlMatters" ng-options="matter.Name for matter in Matters" ng-change="GetMatters(ddlMatters.Id)"></select>
                     </div>
                     <div class="col-sm-4">
                         <input ng-model="vm.searchTerm" class="col-sm-12" type="text" placeholder="Search by ID, or matter or client name" /><img ng-click="vm.search()" src="../../images/search-15x15-666.png" />
                     </div>
                    -->
                </div>
                <div id="ContextualHelp" class="hidden-sm">
                    <img class="ContextualHelpLogo" src="Images/MC_Help_Icon.png" alt="Contextual Help" title="Matter Center help" />

                    <div data-class="ms-u-slideLeftIn40" class="ContextualHelpContainer ms-u-slideLeftIn40">
                        <div class="ContextualHelpFlyout">
                            <img class="closeContextualHelpFlyout" title="Close" alt="Close flyout" src="Images/contextual_help_close_icon.png" />
                            <div class="ContextualHelpHeader" title="Matter Center For Outlook">Matter Center For Outlook</div>
                            <div class="contextualHelpSections">
                            </div>
                            <div class="ContextualHelpSupport">
                                <span class="ContextualHelpBottomText" title="Write an email to Support">Questions? Contact <span class="ContextualHelpSupportMailTo"><a class="MatterCenterSupportLink" href="[Enter URL for Support, e.g. mailto:support@supportsite.com]">Matter Center Support</a></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ProfileSwitcher" class="hidden-sm">
                    <img class="AppHeaderProfilePict" src="Images/MC_Profile_Switcher.png" id="AppHeaderPersona" alt="Profile Picture" runat="server" />
                </div>
                <div class="PersonaFlyout">
                    <div class="PersonaContainer">
                        <div class="PersonaPictureContainer">
                            <img id="PersonaPicture" src="Images/MC_Profile_Switcher.png" alt="Profile Picture" title="Profile Picture" runat="server" />
                        </div>
                        <div class="PersonaPictureDetails">
                            <div class="PersonaTitle" id="PersonaTitle" runat="server"></div>
                            <div class="PersonaEmail" id="PersonaEmail" runat="server"></div>
                        </div>
                    </div>
                    <div class="SignOutLink">
                        <asp:LinkButton ID="SignOutLink" Text="Sign Out" OnClick="SignOutLink_Click" CssClass="" runat="server"></asp:LinkButton>
                    </div>
                </div>
            </div>
            <input type="hidden" id="requestvalidator" name="requestvalidator" runat="server" />
            <div class="AppContent">
                <header id="matterCenterHeader" class="commonContent">
                    <div class="floatLeft" id="hamburgerConatiner">
                        <img class="headerActions" title="View links" data-hamburger="0" id="openHamburger" alt="" src="Images/MC_homepage_Hamburger.png" />
                    </div>
                    <div class="closeIcon">
                        <img class="headerActions hide" title="Close" data-hamburger="1" id="closeHamburger" alt="" src="Images/MC_Navigation_Close_icon_60px_X_60px.png" />
                    </div>
                    <div class="floatLeft" id="matterCenterHomeText">
                        <img class="floatLeft" id="matterCenterHome" title="Matter Center" alt="" src="Images/MC_homepage_Logo.png" />
                        <div class="floatRight">
                            <div class="upperSubText">Matter Center</div>
                            <div class="lowerSubText">for Office 365</div>
                        </div>
                    </div>
                    <div class="searchBox">
                        <input id="searchText" type="text" placeholder="Search SharePoint" />
                        <div id="searchLink">
                            <img class="searchIcon" title="Search" alt="search" src="Images/search-15x15-666.png" />
                        </div>
                    </div>
                    <div class="hide" id="headerFlyout">
                        <div class="switchAppRow headerLinks" id="searchMatterTab" data-attr="Matters"><span title="Matters">Matters</span></div>
                        <div class="switchAppRow headerLinks" id="searchDocumentTab" data-attr="Documents"><span title="Documents">Documents</span></div>
                        <div class="headerLinks"><a id="settingsLink" onclick="closeHamburgerMenu();"><span title="Settings">Settings</span></a></div>
                    </div>
                </header>


                <asp:ContentPlaceHolder ID="BodyContentPlaceHolder" runat="server">
                </asp:ContentPlaceHolder>
                <footer id="footer" class="commonContent">
                    <div class="footerContent">
                        <ul class="rightFooter">
                            <li>
                                <ul role="menubar">
                                    <li class="rightend" role="menuitem">
                                        <a aria-haspopup="true" href="http://www.microsoft.com/en-in/default.aspx" target="_parent">
                                            <img title="Microsoft" class="mslogo imgNoBorder" alt="Microsoft" src="Images/microsoft-grey-logo-sm.png" />
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <br />
                        <ul class="rightFooter">
                            <li>
                                <ul class="footerLinks" role="menubar">
                                    <li class="rightFooterElement" role="menuitem"><a aria-haspopup="true" href="[Enter URL for Feedback and Support, e.g. mailto:support@supportsite.com]" target="_parent">Feedback & Support</a></li>
                                    <li class="rightFooterElement" role="menuitem"><a aria-haspopup="true" href="[Enter URL for Privacy terms, e.g. privacy.supportsite.com]" target="_parent">Privacy & Cookies</a></li>
                                    <li class="rightFooterElement" role="menuitem"><a aria-haspopup="true" href="[Enter URL for Terms of use, e.g. termofuse.supportsite.com]" target="_parent">Terms of use</a></li>
                                    <li class="rightFooterElement copyRightElement" role="menuitem">© <%= DateTime.Now.Year %> Microsoft</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>


    </div>

</div>
<div class="row title">
    <div class="col-sm-12" id="gridViewPageHeaderContainer">
        <span role="heading" class="add-margin-bottom">{{ddlMatters.Name}}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" ng-if="divuigrid">
        <div ui-grid="vm.gridOptions" ui-grid-exporter ui-grid-selection class="grid"></div>
    </div>
    <div class="col-sm-12" ng-if="nodata">
        <hr />
        <span class="noResultsText">{{errorMessage}}</span>
    </div>
</div>

<!--Upload Modal Screen Start-->

<div class="modal fade" id="UploadMatterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin0">
                    <div class="col-sm-10 pad0">
                        <div class="attachmentHeader">Drag and drop items to folders on the right</div>
                    </div>
                    <div class="col-sm-2">
                        <img data-dismiss="modal" ng-click="hideBreadCrumb()" class="pull-right" src="../../images/close-666.png" />
                    </div>
                </div>
                <div class="row margin0">
                    <div class="col-sm-9 pull-left mailHeaderItems"><div>Items</div></div>
                    <div class="col-sm-3 pull-left mailHeaderFolders"><div></div>Folders</div>
                </div>

                <div class="row margin0">
                    <div class="col-sm-9 maildata">
                        <!--Content start to show mail attachment information-->
                        <div class="attachmentSection" ng-repeat="attachmentInfo in vm.allAttachmentDetails">
                            <div ng-if="individualAttachment.isEmail" class="attachment">
                                <div class="attachmentName mailName">                                    
                                    <img title="Edit attachment name" class="editUploadIcon" id="{{attachmentInfo.counter}}editIcon" draggable="false"
                                         ng-click="vm.editAttachment(attachmentInfo.counter)" alt="Edit" src="../Images/edit-666.png">
                                    <img title="Save attachment name" class="saveUploadIcon hide" id="0saveIcon" draggable="false"
                                         ng-click="vm.saveAttachment(attachmentInfo.counter)" alt="Save" src="../Images/save-666.png">
                                    <div class="uploadSuccessStatus" id="{{attachmentInfo.counter}}attachment-Status"></div>
                                    <img class="attachIcon" id="{{attachmentInfo.counter}}attachIcon" draggable="false" alt="attachment icon" src="../Images/attach_icon-15x15_666.png">
                                    <input class="popupName editPopupContent hide ui-draggable" id="0attachmentText" type="text" maxlength="128">
                                    <div title="Test attachments" class="popupName ui-draggable" id="0attachment" draggable="true" ondragstart="dragStart(this);"
                                         data-attachmentid="{{attachmentInfo.attachmentId}}">{{attachmentInfo.attachmentFileName}}</div>
                                    <div class="uploadSuccessMessage" id="{{attachmentInfo.counter}}attachment-Message"></div>
                                </div>
                            </div>

                            <div ng-if="!individualAttachment.isEmail" class="attachment">
                                <div class="attachmentName">
                                    <img title="Edit attachment name" class="editUploadIcon" id="{{attachmentInfo.counter}}editIcon" draggable="false"
                                         ng-click="vm.editAttachment( attachmentInfo.counter)" alt="Edit" src="../Images/edit-666.png">
                                    <img title="Save attachment name" class="saveUploadIcon hide" id="0saveIcon" draggable="false"
                                         ng-click="vm.saveAttachment(attachmentInfo.counter)" alt="Save" src="../Images/save-666.png">
                                    <div class="uploadSuccessStatus" id="{{attachmentInfo.counter}}attachment-Status"></div>
                                    <img class="attachIcon" id="{{attachmentInfo.counter}}attachIcon" draggable="false" alt="attachment icon" src="../Images/attach_icon-15x15_666.png">
                                    <input class="popupName editPopupContent hide ui-draggable" id="{{attachmentInfo.counter}}attachmentText" type="text" maxlength="128">
                                    <div title="{{attachmentInfo.attachmentFileName}}"
                                         class="popupName ui-draggable" id="{{attachmentInfo.counter}}attachment"
                                         draggable="true"
                                         ondragstart="dragStart(this);"
                                         data-attachmentid="{{attachmentInfo.attachmentId}}">{{attachmentInfo.attachmentFileName}}</div>
                                    <div class="uploadSuccessMessage" id="{{attachmentInfo.counter}}attachment-Message"></div>
                                </div>
                            </div>
                        </div>
                        <!--Content end to show mail attachment information-->
                        <div ng-if="vm.allAttachmentDetails.length==0" class="noFilesUploaded">No files uploaded</div>
                    </div>
                    <div class="col-sm-3 folderContent">
                        <div id="breadcrumb" class="breadcrumb" ng-hide="breadcrumb">
                            <img alt="Root" ng-click="hideBreadCrumb()" id="rootLink" src="../Images/Return_Icon_23px_23px_666.png" title="<span class=&quot;content&quot;>cv vb</span>" draggable="false">
                            <div id="parentFolder" class="breadcrumbItem"></div>
                            <div id="breadcrumbSeparator"></div>
                            <div id="currentFolder" class="breadcrumbItem"></div>
                        </div>
                        <div class="folderStructureContent" showbreadcrumb ng-hide="foldercontent">
                            <ul>
                                <li>
                                    <ul ng-repeat="folder in vm.foldersList">
                                        <li ng-if="folder.parentURL" data-client="" data-foldername="{{folder.url}}" data-parentname="{{folder.parentURL}}" class="childNode"
                                            style="display: inline-block; width: 90%; padding: 0px;">
                                            <div class="treeNodes" title="Documents">
                                                <img class="folderIcon" src="https://msmatter.sharepoint.com/_layouts/15/images/folder.gif" align="center" alt="Documents"
                                                     data-foldername="{{folder.url}}" data-parentname="{{folder.parentURL}}">
                                                {{folder.name}}
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row margin0">
                    <div class="pull-left"><img src="../../images/information-blue.png" /> You can also drag and drop files from your desktop.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Upload Modal Screen End-->
<div id="loadingImageContainer">
    <div class="lazyLoading" ng-hide="lazyloader">
        <img src="../Images/WindowsLoadingFast.GIF" alt="Loading..." title="Loading..." />
    </div>
</div>



<!--</div>
</div>-->
