<div ng-mouseenter='grid.appScope.vm.matterDropDowm = true' ng-mouseleave='grid.appScope.vm.matterDropDowm = false'>
    <div class='dropdown keep-open' style='float:right;' ng-show='grid.appScope.vm.matterDropDowm'>
        <a href='javascript:;' dropdown class='prisma-header-dropdown-anchor dropdown-toggle' id="acombo" type='button' data-toggle='dropdown'>
            <img src='../images/icon-combobox.png' />
        </a>
        <div class='dropdown-menu flyoutWrapper dropdown-menu-right' ng-click='$event.stopPropagation();' role='menu' aria-labelledby='acombo'>
            <div class='input-group'>
              <input class='form-control' ng-model='grid.appScope.vm.searchTerm' placeholder='Search' />
                <div class='input-group-btn'>
                   <button type='button' ng-click='grid.appScope.vm.searchMatterGrid()' class='btn btn-default'><img src='../images/search-15x15-666.png' /></button>
                </div>
            </div>
            <hr />
            <div class='clearFilterText' data-clearfiltertype='text'>
                <div class='clearFiltersIcon'>
                    <img src='../Images/Filters_30px_X_30px_active_color_666.png' alt='clear' title='Clear filters'>
                </div>
                <div class='ms-font-m ms-font-weight-semilight clearText' title='Clear filters from Matter'><span>Clear filters from </span><span class='clearFilterTitle'>Matter</span></div>
                <div id='filterResultsContainer'><div class='filterValueLabels ms-font-m ms-font-weight-semilight' ng-repeat='matter in grid.appScope.vm.matters' ng-click='grid.appScope.vm.filterMatterName(matter.matterName)'>{{matter.matterName}}</div> </div>
            </div>
        </div>
    </div>
    <div role='button' style='padding-left: 11px;' sortby="{{col.colDef.field}}" class='ui-grid-cell-contents ui-grid-header-cell-primary-focus' col-index='renderIndex'>
        <span class='ui-grid-header-cell-label ng-binding'>{{ col.colDef.displayName }}<span id="asc{{col.colDef.field}}" style="float:right;display:none" class='padl10px'>↑</span><span id="desc{{col.colDef.field}}" style="float:right;display:none" class='padlf10'>↓</span></span>
    </div>
    <div class='ui-grid-column-menu-button ng-scope' ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false' ng-click='grid.appScope.toggleMenu($event)' ng-class='{' ui-grid-column-menu-button-last-col' isLastCol}'>
        <i title='' aria-hidden='true' class='ui-grid-icon-up-dir'>&nbsp;</i>
    </div>
</div>