<style>
    .topheader {
        position: absolute !important;
        width: 100%;
    }

    .ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
        background-color: white;
        z-index: 1;
    }

    [data-draggable="item"][aria-grabbed="true"] {
        background: skyblue;
        color: #fff;
    }

    .childNodeItemStyle {
        border-bottom: 1px solid #ccc;
    }
</style>
<div ng-click="vm.closealldrops()">
    <!--ng-class="{'mainMatter':vm.lazyloader}"-->

    <div class="row" ng-init="initOfficeLibrary()">
        <div class="row" id="mainmenu">
            <div class="col-xs-2 col-sm-3 col-md-3 col-lg-2 pad0">
                <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-9 col-md-9 col-lg-9 hidden-xs pad0" id="mainselect">
                    <div class="input-group-btn zindex6">
                        <button type="button" class="btn btn-default dropdown-toggle col-sm-12 col-md-12 col-lg-12 dpbtn" data-toggle="dropdown">
                            <span class="col-sm-12 col-md-12 text-left pad0 ms-font-weight-semilight">{{vm.mattername}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right col-sm-12 col-md-12 col-lg-12">
                            <li class="searchPanelDropdown ms-font-weight-semilight" ng-class="{'dpselected':vm.mattername==vm.matterConfigContent.Dropdown1Item1}" ng-click="vm.SetMatters(1,vm.matterConfigContent.Dropdown1Item1)">{{vm.matterConfigContent.Dropdown1Item1}}</li>
                            <li class="searchPanelDropdown ms-font-weight-semilight" ng-class="{'dpselected':vm.mattername==vm.matterConfigContent.Dropdown1Item2}" ng-click="vm.SetMatters(2,vm.matterConfigContent.Dropdown1Item2)">{{vm.matterConfigContent.Dropdown1Item2}}</li>
                            <li class="searchPanelDropdown ms-font-weight-semilight" ng-class="{'dpselected':vm.mattername==vm.matterConfigContent.Dropdown1Item3}" ng-click="vm.SetMatters(3,vm.matterConfigContent.Dropdown1Item3)">{{vm.matterConfigContent.Dropdown1Item3}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-4 hidden-xs">
                <div class="input-group col-xs-10 col-sm-12 zindex6" id="searchmatter">
                    <input type="text" ng-model="vm.selected" ng-disabled="!vm.lazyloader" my-enter="vm.search()" placeholder="{{vm.matterConfigContent.SearchPlaceholderText}}" uib-typeahead="searchMatters.matterName + ' ('+ searchMatters.matterID + ')' for searchMatters in vm.searchMatter($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select='vm.typeheadselect($item, $model)' class="form-control">
                    <span class="input-group-addon cursor" id="basic-addon1" ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div class="col-xs-12">
                </div>
            </div>
            <div id="searchBarHolder" class="col-xs-5 hidden-md hidden-lg hidden-sm pad0 searchwidth">
                <div class="input-group col-xs-12 zindex6">
                    <input type="text" ng-model="vm.selected" ng-disabled="!vm.lazyloader" my-enter="vm.search()" placeholder="{{vm.matterConfigContent.SearchPlaceholderText}}" uib-typeahead="matterDataList.matterName + ' ('+ matterDataList.matterID + ')' for matterDataList in vm.searchMatter($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="dropdown" ng-click="vm.showmatterdrop($event)"><span class="caret"></span></button>
                    </div>
                </div>
                <ul class="col-xs-12 mattersdrop" ng-show="vm.mattersdrop">
                    <li class="searchPanelDropdown ms-font-weight-semilight" ng-class="{'dpselected':vm.mattername==vm.matterConfigContent.Dropdown1Item1}" ng-click="vm.SetMatters(1,vm.matterConfigContent.Dropdown1Item1)">{{vm.matterConfigContent.Dropdown1Item1}}</li>
                    <li class="searchPanelDropdown ms-font-weight-semilight" ng-class="{'dpselected':vm.mattername==vm.matterConfigContent.Dropdown1Item2}" ng-click="vm.SetMatters(2,vm.matterConfigContent.Dropdown1Item2)">{{vm.matterConfigContent.Dropdown1Item2}}</li>
                    <li class="searchPanelDropdown ms-font-weight-semilight" ng-class="{'dpselected':vm.mattername==vm.matterConfigContent.Dropdown1Item3}" ng-click="vm.SetMatters(3,vm.matterConfigContent.Dropdown1Item3)">{{vm.matterConfigContent.Dropdown1Item3}}</li>
                </ul>
                <div class="col-xs-12">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row title">
        <div class="col-sm-12" id="gridViewPageHeaderContainer">
            <span role="heading" class="add-margin-bottom">{{vm.mattername}}</span>
        </div>
    </div>




    <div class="col-sm-6 attachmentSection" style="width:600px;">
        <div style="display: inline-block; width: 90%; margin-top:10px; padding:0;">
            <div class="col-xs-2 col-sm-3 col-md-3 col-lg-1 pad0">
            </div>
            <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 pad0">
                User Inbox Emails
            </div>
            <div class="col-sm-5 col-md-4 col-lg-4 hidden-xs">
                <div class="input-group col-xs-10 col-sm-12 zindex6" id="">
                    <input type="text" ng-model="vm.emailSearchText" my-enter="vm.searchUserInboxEmails()" placeholder="" class="form-control">
                    <span class="input-group-addon cursor" id="basic-addon1" ng-click="vm.searchUserInboxEmails()"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>
        </div>
        <div style="margin-left:40px;">
            <a ng-click="vm.getNextSetOfEmails()"><span class="glyphicon glyphicon-plus"></span>Load more emails</a>
            <img ng-if="vm.emailsloadingstarted" alt='Loading' class='' src='../images/loading_metro.gif' />           
        </div>
        <div style="width:600px; margin-top:10px; margin-bottom:10px; overflow-y:auto !important;height: 280px;">
            <script type="text/ng-template" id="EmailsTree">
                <!--<input  type="checkbox" style="float:left;"ng-model="child.SELECTED"   data-item="{{child}}" id="chk{{child.id}}" ng-click="vm.emailItemsChecked(child)" />-->
                <div draggablemultipleemails id="div{{child.id}}" class="treeNodes emailsMutliple" title=""
                     data-draggable="item" ng-show="child.active"
                     data-title="child.subject?{{child.subject}}:{{child.name}}"
                     data-subject="{{child.subject}}"
                     data-attachmentid="{{child.id}}" data-attachedfile="child" data-isEmail="{{child.isEmail}}"
                     data-size="{{child.size}}"
                     data-parentmailid="{{child.parentMessageId}}"
                     data-contenttype="{{child.contentType}}"
                     data-name="{{child.name}}"
                     folder="child" style=""
                     ng-click="vm.showSelectedFolderEmailTree(child,this)">

                    <!--<input type="checkbox" ng-model="child.selected" value={{child.id}} style="" />-->

                    <img ng-if="child.name" class="folderIcon" src="../Images/attach_icon-15x15_666.png" align="center"
                         alt="{{vm.matterConfigContent.AttachmentFolderAltText}}">
                    <img ng-if="child.subject" class="folderIcon" src="../Images/iceml.gif" align="center"
                         alt="{{vm.matterConfigContent.AttachmentFolderAltText}}">

                    <img ng-if="child.hasAttachments" class="folderIcon" src="../Images/attach_icon-15x15_666.png" align="center"
                         alt="{{vm.matterConfigContent.AttachmentFolderAltText}}" style="float:right;margin-top: 5px;">

                    {{child.subject}} {{child.name}}
                </div>
                <ul ng-if="child.hasAttachments" style="margin-left:5px; list-style-type:none !important">
                    <li id='li{{child.id}}' ng-repeat="child in child.attachments" data-foldername="{{child.id}}"
                        data-draggable="item" data-parentname="{{child.id}}" folder="child" class="childNode" ng-class='child.subject?"childNodeItemStyle":""' ng-include="'EmailsTree'" style="list-style-type:none !important;">
                    </li>
                </ul>
            </script>
            <ul style="list-style-type:none !important">

                <li id='li{{child.id}}' data-draggable="target" ng-repeat="child in vm.userInboxUserEmails" ng-class='child.hasAttachments?"childNode":"childNode";child.subject?"childNodeItemStyle":""' data-foldername="{{child.id}}" folder="child" ng-include="'EmailsTree'" style="display: inline-block; width: 90%; padding:0;list-style-type:none !important">
                </li>
            </ul>
        </div>
        <!--<div ng-click="vm.getNextSetOfEmails()">Load More Emails</div>-->


    </div>

    <div id="mattergrid" class="row">
        <div ng-if="vm.divuigrid">
            <div ui-grid="vm.gridOptions" ui-grid-exporter ui-grid-selection data-ui-grid-infinite-scroll class="grid" ng-style="vm.getTableHeight()" style="margin-left:700px;width:675px;">
                <div class="col-xs-12 col-sm-12 noResultsText" ng-show="vm.nodata" ng-bind-html="vm.matterConfigContent.NoDataSearchText">
                </div>
            </div>

        </div>
    </div>



    <div class="col-sm-3 folderContent" id="folderHierarchyForMatter" style="border-bottom:none; display:none;">
        <div ng-show="vm.oUploadGlobal.successBanner"
             class="notification successNotification ms-font-weight-semibold successUpload" style="width:300px">
            {{vm.matterConfigContent.UploadCompleteLabel1Text}}
            <span class="closeNotification" ng-click="vm.closeSuccessBanner()">{{vm.matterConfigContent.CloseIconText}}</span>
        </div>
        <div class='loadingprogressbar'>
            <img ng-if="vm.isLoadingFromDesktopStarted" alt='Loading' class='bulkAttachmentListLoading' src='../images/loading_metro.gif' />
        </div>
        <div id="breadcrumb" class="breadcrumb" ng-hide="breadcrumb">
            <img alt="{{vm.matterConfigContent.AttachmentBreadcrumAltText}}" ng-click="hideBreadCrumb()" id="rootLink" src="../Images/Return_Icon_23px_23px_666.png" title="<span class=&quot;content&quot;>cv vb</span>" draggable="false">
            <div id="parentFolder" class="breadcrumbItem"></div>
            <div id="breadcrumbSeparator"></div>
            <div id="currentFolder" class="breadcrumbItem"></div>
        </div>
        <div class="folderStructureContent" showbreadcrumb ng-hide="$root.foldercontent">

            <script type="text/ng-template" id="folderTree">
                <div id="div{{child.name}}" ng-if="child.parentURL!==null" class="treeNodes" ng-show="child.active" title="" droppable drop="handleDrop()" folder="child" data-foldername="{{child.url}}" data-parentname="{{child.parentURL}}" ng-click="vm.showSelectedFolderTree(child)">
                    <img class="folderIcon" ng-src="{{vm.configsUri.SPOsiteURL}}/_layouts/15/images/folder.gif" align="center" alt="{{vm.matterConfigContent.AttachmentFolderAltText}}">
                    {{child.name}}
                </div>
                <ul ng-if="child.children" style="margin-left:5px;">
                    <li id='li{{child.name}}' ng-repeat="child in child.children" data-foldername="{{child.url}}" data-parentname="{{child.parentURL}}" droppable drop="handleDrop()" folder="child" class="childNode" ng-include="'folderTree'">

                    </li>
                </ul>
            </script>
            <ul>
                <li id='li{{child.name}}' ng-repeat="child in vm.foldersList" ng-class='child.parentURL?"childNode":"parentNode"' droppable data-foldername="{{child.url}}" data-parentname="{{child.parentURL}}" drop="handleDrop()" folder="child" ng-include="'folderTree'" style="display: inline-block; width: 90%; padding:0;">

                </li>
            </ul>
        </div>
    </div>
    <onload sortdetails="{{vm.sortexp}}"></onload>







    <!--Upload Modal Screen Start-->
    <div class="modal fade" id="UploadMatterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:100%;margin:0px;">
            <div ng-if="vm.IsDupliacteDocument" class="notificationContainerForPopup" style="height: 80px;margin-left:0">

                <script type="text/ng-template" id="duplicateErrorDiv">
                    <div class="notification warningNotification" ng-show="duplicatefile.cancel!==null">
                        <img id="warningImg" draggable="false" alt="{{vm.matterConfigContent.ImageWarningAltText}}" src="../Images/warning-message.png">
                        <div id="overWriteDocumentName">
                            <div ng-bind-html="duplicatefile.value"></div>
                        </div>
                        <div class="notificationResult hide"></div>
                        <div class="askForOverwrite">
                            <input ng-show="duplicatefile.contentCheck=='True'" type="button" title="{{vm.matterConfigContent.Button1DuplicateContentTitle}}" value="{{vm.matterConfigContent.Button1DuplicateContentText}}" data-operation="contentCheck" ng-click="vm.localOverWriteDocument(duplicatefile,'contentCheck');vm.contentCheckNotification(duplicatefile,true);">
                            <input ng-show="duplicatefile.saveLatestVersion=='True'" title="{{vm.matterConfigContent.Button2SaveLatestVersionTitle}}" id="overWriteYes"
                                   ng-click="vm.localOverWriteDocument(duplicatefile,'overwrite');" type="button" value="{{vm.matterConfigContent.Button2SaveLatestVersionText}}" data-operation="overwrite">
                            <input ng-show="duplicatefile.append==true" type='button' data-operation='append' title='{{vm.matterConfigContent.Button3AppendDateTitle}}' value="{{vm.matterConfigContent.Button3AppendDateText}}" ng-click="vm.localOverWriteDocument(duplicatefile,'append')" />
                            <input ng-show="duplicatefile.cancel=='True'" title="{{vm.matterConfigContent.Button4CancelUploadTitle}}" id="overWriteNo"
                                   ng-click="vm.localOverWriteDocument(duplicatefile,'ignore');" type="button" value="{{vm.matterConfigContent.Button4CancelUploadText}}" data-operation="ignore">

                            <input ng-show="duplicatefile.ok=='True'" title="{{vm.matterConfigContent.Button5OkTitle}}" id="ok"
                                   ng-click="vm.localOverWriteDocument(duplicatefile,'ok');" type="button" value="{{vm.matterConfigContent.Button5OkText}}" data-operation="ignore">
                            <div ng-show="duplicatefile.contentCheck=='contentCheck'" class='notificationCC'>
                                <img src="../Images/loadingcirclests16.gif" alt="" />{{vm.matterConfigContent.Image1ContentCheckText}}  <input id='cancelCC' type='button' value='{{vm.matterConfigContent.Button6CancelText}}' ng-click='vm.abortContentCheck(duplicatefile,true)' />
                            </div>
                        </div>
                    </div>
                </script>

                <div ng-repeat="duplicatefile in vm.ducplicateSourceFile" ng-include="'duplicateErrorDiv'"></div>

            </div>

            <div class="modal-content">
                <div ng-show="vm.oUploadGlobal.successBanner" class="notification successNotification ms-font-weight-semibold successUpload">{{vm.matterConfigContent.UploadCompleteLabel1Text}}<span class="closeNotification" ng-click="vm.closeSuccessBanner()">{{vm.matterConfigContent.CloseIconText}}</span></div>
                <div class="row modalClose">
                    <img data-dismiss="modal" ng-click="vm.hideBreadCrumb()" class="pull-right" src="../../images/close-666.png" />
                </div>
                <div class="modal-body modelbodyContainer">
                    <div class='loadingprogressbar'>
                        <img ng-if="vm.isLoadingFromDesktopStarted" alt='Loading' class='attachmentListLoading' src='../images/loading_metro.gif' />
                    </div>
                    <div class="row margin0">
                        <div class="col-sm-10 pad0">
                            <div class="attachmentHeader marginBottom15 fontSize875em">{{vm.matterConfigContent.AttachmentPopupHeaderText}}</div>
                        </div>

                    </div>
                    <div class="row margin0">
                        <div class="col-sm-9 pull-left mailHeaderItems"><div>{{vm.matterConfigContent.AttachmentPopupHeaderItem1Text}}</div></div>
                        <div class="col-sm-3 pull-left mailHeaderFolders"><div></div>{{vm.matterConfigContent.AttachmentPopupHeaderItem2Text}}</div>
                    </div>

                    <div class="row margin0">


                    </div>
                    <div class="row margin0 marginTop15 fontSize875em">
                        <div class="pull-left" id="InfoImg"><img src="../../images/information-blue.png" /> {{vm.matterConfigContent.AttachmentPopupFooterImageCapetion}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="UploadExtraMatterPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:500px;">
        <div class="modal-dialog modal-lg" style="width:100%;margin:0px;font-size: 0.87em;">
            <div class="modal-content" style="height: 314px;">
                <div class="row modalClose">
                    <img data-dismiss="modal" ng-click="vm.hideBreadCrumb()" class="pull-right" src="../../images/close-666.png" />
                </div>
                <div class="modal-body modelbodyContainer" style="overflow:auto; height:300px;">


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row" matteradditionalfieldsdirective colorder=1 ng-repeat="input in vm.matterExtraFields"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row" matteradditionalfieldsdirective colorder=2 ng-repeat="input in vm.matterExtraFields"></div>
                        </div>
                    </div>

                    <button ng-if="vm.matterExtraFields.length>0" class="buttonPrev pull-left marginTop10" ng-click='vm.SaveDocPropertiesAndUpload(vm.FilesFromDesktopOrMail)'>Submit</button>

                </div>
            </div>
        </div>
    </div>




    <div id="loadingImageContainer">
        <div class="lazyLoading" ng-hide="vm.lazyloader">
            <img src="../Images/WindowsLoadingFast.GIF" alt="{{vm.matterConfigContent.AttachmentLoadingTitle}}" title="{{vm.matterConfigContent.AttachmentLoadingTitle}}" />
        </div>
    </div>
    <div class="popupContainerBackground" ng-hide="vm.lazyloader"></div>
    <div class="matterheader flyoutWrapper" style="position: absolute;top: 128px;background: #fff;z-index: 5;left: 10px;border: 1px solid #ccc;background-color: white;" ng-click='$event.stopPropagation();' ng-hide="vm.matterheader">
        <div class='input-group'>
            <input class='form-control' my-Enter='vm.mattersearch(""+vm.configSearchContent.ManagedPropertyMatterName+":"+vm.searchTerm+"*("+vm.configSearchContent.ManagedPropertyMatterName+":* OR "+vm.configSearchContent.ManagedPropertyMatterId+":* OR "+vm.configSearchContent.ManagedPropertyClientName+":*)",vm.searchexp,false)' uib-typeahead="searchMatters.matterName for searchMatters in vm.filterSearch($viewValue)" ng-if="vm.filtername==vm.matterConfigContent.GridColumn1Header" ng-model='vm.searchTerm' placeholder='{{vm.matterConfigContent.FilterSearchPlaceholderText}}' />

            <div class='input-group-btn'>
                <button type='button' ng-if="vm.filtername==vm.matterConfigContent.GridColumn1Header" ng-click='vm.mattersearch(""+vm.configSearchContent.ManagedPropertyMatterName+":"+vm.searchTerm+"*("+vm.configSearchContent.ManagedPropertyMatterName+":* OR "+vm.configSearchContent.ManagedPropertyMatterId+":* OR "+vm.configSearchContent.ManagedPropertyClientName+":*)",vm.searchexp,false)' class='btn btn-default'><img src='../images/search-15x15-666.png' /></button>

            </div>
        </div>
        <hr />
        <div class='clearFilterText'>
            <div ng-click='vm.clearFilters(vm.filtername)' class='clearFiltersIcon'>
                <img src='../Images/Filters_30px_X_30px_active_color_666.png' alt='{{vm.matterConfigContent.ImageClearTitle}}' title='{{vm.matterConfigContent.ImageClearAltText}}'>
            </div>
            <div class='ms-font-m ms-font-weight-semilight clearText' title='{{vm.matterConfigContent.ClearFilterText}} {{vm.filtername}}' ng-click='vm.clearFilters(vm.filtername)'><span>{{vm.matterConfigContent.ClearFilterText}} </span><span class='clearFilterTitle'>{{vm.filtername}}</span></div>
            <div style="width:100%;">
                <div ng-hide="vm.lazyloaderFilter">
                    <img src="../Images/WindowsLoadingFast.GIF" style="margin-left: 55px; margin-top:3px;" alt="{{vm.matterConfigContent.AttachmentLoadingTitle}}" title="{{vm.matterConfigContent.AttachmentLoadingTitle}}" />
                </div>
            </div>
            <div id='filterResultsContainer'>
                <div class='filterValueLabels ms-font-m ms-font-weight-semilight' ng-if="vm.filtername==vm.matterConfigContent.GridColumn1Header" ng-repeat='matter in vm.details' ng-click='vm.mattersearch(matter.matterName,""+vm.configSearchContent.ManagedPropertyMatterName+"",true)' title={{matter.matterName}}>{{matter.matterName}}</div>

                <div title="{{vm.matterConfigContent.NoFilterMatchMsgTitle}}" ng-if="vm.filternodata" class="ms-font-m filterFlyOutNoResults"><span>{{vm.matterConfigContent.NoFilterMatchMsgText}}</span></div>
            </div>

        </div>
    </div>


</div>