<!--<header id="app-header">
    <heading employee-names="vm.userName" nav-url="vm.navUrl" nav-url-text="vm.navUrlText"></heading>
</header>
-->
<div>
    <div class="row">
        <div class="col-xs-offset-9 col-xs-3 pad0" style="position: absolute;padding-top: 10px;left: 1px;">
            <div id="ContextualHelp">
                <img class="ContextualHelpLogo" src="Images/MC_Help_Icon.png" alt="Contextual Help" title="Matter Center help" ng-click="$root.dispContextualHelp($event)" />
                <div data-class="ms-u-slideLeftIn40" class="ContextualHelp ms-u-slideLeftIn40" ng-show="$root.contextualhelp" ng-click="$event.stopPropagation();">
                    <div class="ContextualHelpFlyout">
                        <img class="closeContextualHelpFlyout" title="Close" alt="Close flyout" ng-click="$root.dispContextualHelp($event)" src="Images/contextual_help_close_icon.png" />
                        <div class="ContextualHelpHeader" title="Matter Center For Outlook">Matter Center For Outlook</div>
                        <div class="contextualHelpSections">
                            <div class="ContextualHelpSubSection" id="popularSearchesSection" ng-repeat="helpData in vm.helpData">
                                <div class="ContextualHelpSectionHeader"
                                     title="{{helpData.contextSection.sectionTitle}}" id="{{helpData.contextSection.sectionTitle}}">{{helpData.contextSection.sectionTitle}}</div>
                                <div class="ContextualHelpSectionData displaySingleColumn" title="{{helpData.linkTitle}}">
                                    <a href="{{helpData.linkURL}}"
                                       target="_blank">{{helpData.linkTitle}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="ContextualHelpSupport">
                            <span class="ContextualHelpBottomText" title="Write an email to Support">Questions? Contact <span class="ContextualHelpSupportMailTo"><a class="MatterCenterSupportLink" href="[Enter URL for Support, e.g. mailto:support@supportsite.com]">Matter Center Support</a></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ProfileSwitcher" ng-click="$root.dispPersonal($event)">
                <img class="AppHeaderProfilePict" src="Images/MC_Profile_Switcher.png" id="AppHeaderPersona" alt="Profile Picture" />
            </div>
            <div class="PersonalInfoFlyout" ng-show="$root.displayinfo" ng-click="$event.stopPropagation();">
                <div class="PersonaContainer">
                    <div class="PersonaPictureContainer">
                        <img id="PersonaPicture" src="Images/MC_Profile_Switcher.png" alt="Profile Picture" title="Profile Picture" />
                    </div>
                    <div class="PersonaPictureDetails">
                        <div class="PersonaTitle" id="PersonaTitle">Wilson Reddy</div>
                        <div class="PersonaEmail" id="PersonaEmail">matteradmin@msmatter.onmicrosoft.com</div>
                    </div>
                </div>
                <div class="SignOutLink">
                    <a href="#">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
    <main ui-view="contentView">
        
    </main>
</div>


