<div id="MasterPageContainer" class="MasterPageContent">
    <div class="commonAppSwitch  hide">
        <img alt="Toggle app switcher menu" class="listMenuImage" src="Images/new-app-switcher-hamburger-icon-19X16-2b579a.png" />
        <div class="appSwitchMenu hide">
            <ul>
                <li class="switchAppLink" data-attr="Search {{vm.navigationcontent.Type1|lowercase}}">Search {{vm.navigationcontent.Type1}}</li>
                <li class="switchAppLink" data-attr="Search {{vm.navigationcontent.Type2|lowercase}}">Search {{vm.navigationcontent.Type2}}</li>
                <li runat="server" id="ProvisionMatterLink" class="switchAppLink" data-attr="Provision Matters"></li>
            </ul>
        </div>
        <div class='appSwitcherName selected'><span></span></div>
    </div>
    <div class="AppHeader">
        <div class="AppSwitcherContainer" ng-click="vm.menuClick()">
            <img class="AppSwitcher OpenSwitcher" src="Images/hamburger30x30.png" alt="Open App Switcher" title="{{vm.navigationcontent.Name}} Center menu" />
            <img class="AppSwitcher CloseSwitcher hide" src="Images/MC_Navigation_Close.png" alt="Close App Switcher" title="Close" />
            <div class="MenuCaption"><span>menu</span></div>
        </div>
        <div class="AppMenuFlyout ms-shadow">
            <div class="AppMenuFlyoutPriLinks">
                <a ui-sref='mc.navigation()' class="AppFlyoutLinks HomeLink" title="Home"><span class="AppFlyoutLinksText">Home</span></a>
                <a ui-sref='mc.matters()' class="AppFlyoutLinks MatterSitesLink" title="Search {{vm.navigationcontent.Type1| lowercase}}"><span class="AppFlyoutLinksText">{{vm.navigationcontent.Type1}}</span></a>
                <a ui-sref='mc.documents()' class="AppFlyoutLinks MatterDocumentsLink" title="Search {{vm.navigationcontent.Type2| lowercase}}"><span class="AppFlyoutLinksText">{{vm.navigationcontent.Type2}}</span></a>
            </div>
        </div>
        <div id="HeaderPlaceHolder" class="padlf10">
            <span title="{{vm.navigationcontent.Name| lowercase}} Center home" class="AppLogoContainer">
                <img class="AppLogo" alt="{{vm.navigationcontent.Name| lowercase}} Center" src="Images/MC_Logo.png">
            </span>
        </div>
    </div>
    <input type="hidden" id="requestvalidator" name="requestvalidator" runat="server" />
    <div class="AppContent">
        

        <asp:ContentPlaceHolder ID="BodyContentPlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
        
    </div>
</div>
<!---->
<div id="HomeContainer" class="marleft10">
    <!--    <div class="row"> -->
    <!--     <div class="col-xs-12"> -->
    <header class="WelcomeBar ms-bg-color-neutralLighterAlt" ng-class="{ 'RemoveWelcomeBar': vm.welcomeheader}">
        <span class="ms-font-s" ng-hide="vm.welcomeheader">
            Welcome to {{vm.navigationcontent.Name}} Center! Upload, share, and save your documents here.
            <a class="LearnMoreLink" ng-href="{{vm.learnmore}}" target="_blank" title="Learn more about {{vm.navigationcontent.Name}} Center">Learn more</a> or <a class="DismissLink" ng-click="vm.welcomeheader=true" title="Remove this section">dismiss</a>
        </span>
    </header>
    <!--     </div> -->
    <!--   </div> -->
    <div class="LinkContainer">
        <!--      <div class="row"> -->
        <!--     <div class="col-xs-12 col-md-6"> -->
        <div class="LeftLinkContainer">
            <!--     <div class="row"> -->
            <!--  <div class="col-xs-6"> -->
            <div class="MattersContainer" title="Search {{vm.navigationcontent.Type1|lowercase}}">
                <a ui-sref='mc.matters()'>
                    <figure>
                        <img src="Images/MC_Matters.png" alt="Search {{vm.navigationcontent.Type1|lowercase}}" />
                        <figcaption class="FigureCaption">{{vm.navigationcontent.Type1}}</figcaption>
                    </figure>
                </a>
            </div>
            <!--   </div> -->
            <!-- <div class="col-xs-6"> -->
            <div class="DocumentsContainer" title="Search {{vm.navigationcontent.Type2|lowercase}}">
                <a ui-sref='mc.documents()'>
                    <figure>
                        <img src="Images/MC_Documents.png" alt="Search {{vm.navigationcontent.Type2|lowercase}}" />
                        <figcaption class="FigureCaption">{{vm.navigationcontent.Type2}}</figcaption>
                    </figure>
                </a>
            </div>
            <!-- </div> -->
            <!--    </div> -->
            <!--  </div> -->
        </div>
        <!--   <div class="col-xs-12 col-md-6"> -->
        <div class="RightLinkContainer">
            <div class="SecondaryLinkContainer UploadAttachments" title="Upload documents to a {{vm.navigationcontent.Name|lowercase}}">
                <a class="UploadAttachmentsLink" ui-sref='mc.matters()'>
                    <img class="SecondaryLinksImg" src="Images/MC_Upload.png" alt="Upload attachments" />
                </a>
                <a class="UploadAttachmentsLink" ui-sref='mc.matters()'>
                    <span class="SecondaryLinksText">Upload attachments</span>
                </a>
            </div>
            <div class="SecondaryLinkContainer CreateMatter" runat="server" id="CreateMatterLink" title="Create a new {{vm.navigationcontent.Name|lowercase}} site">
                <a class="CreateMatterLink" ui-sref='mc.createMatter()'>
                    <img class="SecondaryLinksImg" src="Images/MC_Create_a_matter.png" alt="Create a new {{vm.navigationcontent.Name|lowercase}}" />
                </a>
                <a class="CreateMatterLink" ui-sref='mc.createMatter()'>
                    <span class="SecondaryLinksText">Create a new {{vm.navigationcontent.Name|lowercase}}</span>
                </a>
            </div>
            <div class="SecondaryLinkContainer MatterDashboard" title="Go to the web home page">
                <a class="MatterDashboardLink" href="{{vm.SPOHomePage}}" target="_blank">
                    <img class="SecondaryLinksImg" src="Images/MC_Go_to_dashboard.png" alt="Go to {{vm.navigationcontent.Name}} Center Home" />
                </a>
                <a class="MatterDashboardLink" href="{{vm.SPOHomePage}}" target="_blank">
                    <span class="SecondaryLinksText">Go to {{vm.navigationcontent.Name}} Center Home</span>
                </a>
            </div>
        </div>
        <!--     </div> -->
    </div>
</div>
<footer class="marleft10" title="Write an email to Support">
    <span class="ms-font-m ms-font-weight-semilight">Questions? Contact <a href="mailto:lcaweb2@microsoft.com?subject={{vm.emailsubject}}" class="emailLink">{{vm.navigationcontent.Name}} Center Support</a></span>
</footer>
<div id="HeaderPlaceHolderContent">
    <span class="AppLogoContainer hide" title="{{vm.navigationcontent.Name}} Center home">
        <img class="AppLogo" src="Images/MC_Logo.png" alt="{{vm.navigationcontent.Name}} Center" />
    </span>
</div>



