<div ng-mouseenter='grid.appScope.vm.documentDropDown = true'
     ng-mouseleave='grid.appScope.vm.documentDropDown = false' role="columnheader">
    <span class='ui-grid-cell-contents ui-grid-header-cell-primary-focus ui-grid-header-cell-label ng-binding' tabindex="0" role='button'
          title='{{grid.appScope.vm.documentConfigContent.GridColumn1HeaderTitle}}'
          ng-focus='grid.appScope.vm.documentDropDown = true' col-index='renderIndex'>
        <img class="docTypeIconHeader" id="docTypeIcon"
             src="/../../Images/generaldocument.png"
             alt="Document type icon" />{{ col.colDef.displayName }}
        <span class="headerfilter" ng-if="grid.appScope.vm.documentfilter"><i class="ms-Icon ms-Icon--filter"></i></span>
        <span id="asc{{col.colDef.field}}" style="float:right;display:none" class='padl10px'>↑</span><span id="desc{{col.colDef.field}}" style="float:right;display:none" class='padlf10'>↓</span>
    </span>
    <span class='sorticon keep-open'
          ng-show='grid.appScope.vm.documentDropDown'
          aria-label="filter by document name"
          aria-live="assertive" aria-atomic="true"
          aria-hidden="false"
          ng-keydown="$event.keyCode==13?grid.appScope.vm.openDocumentHeader($event,grid.appScope.vm.documentConfigContent.GridColumn1Header):null;$event.stopPropagation();"
          ng-click="grid.appScope.vm.openDocumentHeader($event,grid.appScope.vm.documentConfigContent.GridColumn1Header)"
          tabindex="0">
        <a href='javascript:;' tabindex="0"
           role="button"
           aria-label="filter by matter name"
           aria-live="assertive" aria-atomic="true"
           ng-click="grid.appScope.vm.openDocumentHeader($event,grid.appScope.vm.documentConfigContent.GridColumn1Header)"
           ng-keydown="$event.keyCode==13?grid.appScope.vm.openDocumentHeader($event,grid.appScope.vm.documentConfigContent.GridColumn1Header):null;$event.stopPropagation();"
           class='prisma-header-dropdown-anchor'
           type='button'>
            <img src='/../../images/icon-combobox.png' tabindex="0" />
        </a>
    </span>


    <div class='ui-grid-column-menu-button ng-scope' tabindex="0"
         ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false'
         ng-click='grid.appScope.toggleMenu($event)' ng-class='{' ui-grid-column-menu-button-last-col' isLastCol}'>
        <a href="" tabindex="0">
            <i title='' aria-hidden='true' class='ui-grid-icon-up-dir' tabindex="0">&nbsp;</i>
        </a>
    </div>
</div>