<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="errorLogFile" value="\Logs\ErrorLog.txt"/>
      <add key="filename" value="MCDeploymentConfig.xlsx"/>
      <add key="configsheetname" value="Config"/>
      <add key="termstoreSheetname" value="TermStore_Config"/>
      <add key="contentTypeColumnName" value="ContentTypeName"/>
      <add key="documentTemplateColumnName" value="DocumentTemplates"/>
      <add key="ContentTypeValue" value="MatterCenter"/>
      <add key="ContentTypeGroupValue" value="_MatterCenter"/>
    </appSettings>
</configuration>