#HomeContainer {
    position: relative;
    height: 375px;
}

.AppHeader {
    display: block;
    min-height: 40px;
}

.WelcomeBar {
    border: 1px solid #c8c8c8;
    margin: 10px 10px 0 0;
    padding: 6px 10px 6px 10px;
}

.RemoveWelcomeBar {
    padding: 0;
    border-bottom: none;
}

.SupportLink {
    position: absolute;
    bottom: -4px; /*set footer to -4px*/
}

.LinkContainer {
    padding: 20px 0 0 30px;
}

.LeftLinkContainer {
    float: left;
    min-width: 340px;
    max-width: 340px;
    min-height: 250px;
    max-height: 250px;
    border-right: 1px solid #c8c8c8;
}

.RightLinkContainer {
    float: left;
    padding: 0 0 0 10px;
}

.MattersContainer {
    float: left;
    padding: 0 100px 0 0;
}

.DocumentsContainer figcaption {
    margin: 0 40px 0 0;
}

.SecondaryLinkContainer {
    display: -ms-flexbox;
    -ms-flex-pack: start;
    -ms-flex-align: center;
}

.SecondaryLinksText {
    color: #2b579a;
    font-size: 14px;
    margin: 0 0 0 2px;
}

.AppLandingTitle {
    font-size: 18px;
    color: #0072c6;
}

.FigureCaption {
    text-align: center;
    color: #2b579a;
    font-size: 18px;
    line-height: 18px;
}

.FigureCaption, .AppLandingTitle, .SecondaryLinksText {
    font-family: "Segoe UI Web Semilight","Segoe UI Semilight","Segoe WP Semilight","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
}

.FigureCaption, .AppLandingTitle, .DismissLink, .SecondaryLinksText {
    cursor: pointer;
}

/* Code added to eliminate the spacing added by browser */
figure {
    margin: 0;
}

body {
    height: 100%;
}

.MatterDashboardLink, .UploadAttachmentsLink, .CreateMatterLink {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 0px) and (max-width: 850px) {
    .LeftLinkContainer {
        clear: both;
        min-width: 300px;
        max-width: 310px;
        min-height: 140px;
        max-height: 140px;
        border-bottom: 1px solid #c8c8c8;
        border-right: none;
    }

    .RightLinkContainer {
        clear: both;
        padding: 20px 0 0 10px;
    }

    .MattersContainer {
        padding: 0 80px 0 10px;
    }

    .LinkContainer {
        padding: 20px 0 0 0;
    }

    #HomeContainer {
        height: 450px;
    }

    .DocumentsContainer figcaption {
        margin: 0;
    }

    #HeaderPlaceHolder {
        min-width: 226px;
    }
}
