body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.matters {
    width: 500px;
    height: 250px;
}

.ui-grid-row:hover .ui-grid-cell {
    background-color: #bcd9ed;
}



.cursor {
    cursor: pointer;
}

.ui-grid-cell {
    overflow: visible;
}
.ng-scope{
    overflow: visible;
}

#attachmentHeader {
    color: #333;
    float: left;
    font-size: 1.125em;
    font-weight: 300;
    padding-top: 5px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px !important;
    padding-bottom: 20px;
}

.mailHeaderItems {
    border-right: 1px solid #666;
}

.mailHeaderItems, .mailHeaderFolders {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    background-color: #eaeaea;
    color: #333;
    font-size: 0.875em;
    float: left;
    height: 36px;
}

.maildata {
    float: left;
    overflow-y: auto;
    border-right: 1px solid #666;
    border-bottom: 1px solid #c8c8c8;
    min-height: 150px;
}

.folderContent {
    float: right;
    padding-right: 6px;
    height: 150px;
    border-bottom: 1px solid #c8c8c8;
}

.mailHeaderItems div, .mailHeaderFolders div {
    padding-left: 10px;
    padding-top: 8px;
}

.noFilesUploaded {
    color: #333;
    font: normal 0.875em 'Segoe UI';
    margin-top: 14px;
    min-height: 50px;
    margin-left: 10px;
}

.margin0 {
    margin: 0px;
}

.pad0 {
    padding: 0px;
}

.noResultsText {
    color: #333;
    font-weight: 200;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 30px;
}

.AppMenuFlyout {
    position: absolute;
    z-index: 101;
    display: none;
    width: 250px;
    height: 155px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    top: 44px;
    border: 1px solid #d1d1d1;
    margin-left: 24px;
}

.AppFlyoutLinks {
    display: table !important;
    padding-bottom: 20px !important;
}

.AppFlyoutLinksText {
    font-size: 18px !important;
    color: #2b579a !important;
}

.lazyLoading {
    position: absolute;
    background-color: transparent;
    color: #6c6c6c;
    font-weight: lighter;
    height: 30px;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    bottom: -30px; /* Provided negative bottom for alignment of loading image for lazy loading implementation */
}
.ui-grid-header-viewport{
    overflow:visible;
}
.ui-grid-top-panel{
    overflow:visible;
}
.noResultsText {
    color: #333;
    font-weight: 200;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 30px;
}
#loadingImageContainer {
    position: absolute;
    left: 40%;
    top: 50%;
}
.ngViewport {
    overflow:visible;
}

.searchPanelDropdown {
    cursor:pointer;
    height: 30px;
    line-height: 29px;
    padding-left: 9px;
    border: none;
}

#filterResultsContainer {
    max-height: 134px!important;
    min-height: 0;
    overflow-y: auto;
    clear: both;
    position: relative;
}

#filterResultsContainer .filterValueLabels, #filterResultsContainer .bufferElements, #filterResultsContainer .filterFlyOutNoResults {
    margin: 10px 0 0 10px;
}
.filterFlyOutNoResults {
    font-family: "Segoe UI Web Semilight", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*.ui-grid-change-icon {
    background: url(../images/Column_Picker_Expand.png) center no-repeat;..
  
}*/
