body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

@media screen and (max-width:360px) and (min-width: 268px) {
    .ui-grid-icon-container {
        display: none !important;
    }

    #documentgrid .ui-grid-render-container, #mattergrid .ui-grid-render-container {
        overflow: hidden !important;
    }

    #doccelltemp .dropdown-menu, #matcoltemp .dropdown-menu {
        width: 165px !important;
        left: -62%;
    }

    .mainMatter {
        overflow-x: auto;
    }

    .ContextualHelpLogo {
        margin-right: -5px;
    }
}

@media screen and (max-width:767px) and (min-width: 268px) {
    .popcontent {
        position: absolute;
        top: 31px !important;
        background: #fff;
        z-index: 1001;
        border: 1px solid #ccc;
        left: 27px !important;
    }

    .flyoutwidth {
        width: 290px !important;
    }
}

.matters {
    width: 500px;
    height: 250px;
}

.ui-grid-row:hover .ui-grid-cell {
    background-color: rgba(229, 241, 250, 1);
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: rgba(229, 241, 250, 1);
}

.cursor {
    cursor: pointer;
}

.ui-grid-cell {
    overflow: visible;
}

#documentgrid .ng-scope, #mattergrid .ng-scope {
    overflow: visible;
}

#documentgrid .ui-grid-viewport, #mattergrid .ui-grid-viewport {
    overflow: auto !important;
    /*max-width: 1800px;*/
    /*display: table;*/
    position: relative;
}

#documentgrid .ui-grid-render-container, #mattergrid .ui-grid-render-container {
    /*overflow-x: auto;
    min-width: 275px;*/
    /*max-width: 1370px;*/
}

#documentgrid .ui-grid-render-container {
    max-width: 1399px;
}

#documentgrid .ui-grid-menu-mid, #mattergrid .ui-grid-menu-mid {
    position: relative;
    left: 13px;
    overflow: hidden;
}

#documentgrid .ui-grid-menu-mid {
    left: 12px !important;
}

#documentgrid .ui-grid-menu-button {
    right: 14px;
}

#attachmentHeader {
    color: #333;
    float: left;
    font-size: 1.125em;
    font-weight: 300;
    padding-top: 5px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px !important;
    padding-bottom: 20px;
}

.mailHeaderItems {
    border-right: 1px solid #666;
}

.mailHeaderItems, .mailHeaderFolders {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    background-color: #eaeaea;
    color: #333;
    font-size: 0.875em;
    float: left;
    height: 36px;
}

.maildata {
    float: left;
    overflow-y: auto;
    border-right: 1px solid #666;
    border-bottom: 1px solid #c8c8c8;
    min-height: 150px;
}

.folderContent {
    float: right;
    padding-right: 6px;
    height: 150px;
    border-bottom: 1px solid #c8c8c8;
}

.mailHeaderItems div, .mailHeaderFolders div {
    padding-left: 10px;
    padding-top: 8px;
}

.noFilesUploaded {
    color: #333;
    font: normal 0.875em 'Segoe UI';
    margin-top: 14px;
    min-height: 50px;
    margin-left: 10px;
}

.margin0 {
    margin: 0px;
}

.pad0 {
    padding: 0px;
}

.noResultsText {
    color: #333;
    font-weight: 200;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 30px;
    position: absolute;
    top: 25%;
    margin-left: 1.5%;
}

.AppMenuFlyout {
    position: absolute;
    z-index: 101;
    display: none;
    width: 250px;
    height: 155px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    top: 44px;
    border: 1px solid #d1d1d1;
}

.AppFlyoutLinks {
    display: table !important;
    padding-bottom: 20px !important;
}

.AppFlyoutLinksText {
    font-size: 18px !important;
    color: #2b579a !important;
}

.lazyLoading {
    position: absolute;
    background-color: transparent;
    color: #6c6c6c;
    font-weight: lighter;
    height: 30px;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    bottom: -30px; /* Provided negative bottom for alignment of loading image for lazy loading implementation */
}

.ui-grid-header-viewport {
    overflow: hidden;
}

.ui-grid-top-panel {
    overflow: hidden;
    background: #fff;
}

#loadingImageContainer {
    position: absolute;
    left: 40%;
    top: 50%;
}

.ngViewport {
    overflow: visible;
}

.searchPanelDropdown {
    cursor: pointer;
    height: 30px;
    line-height: 29px;
    padding-left: 9px;
    border: none;
}

.form-control {
    border-radius: 0;
}

#filterResultsContainer {
    max-height: 134px !important;
    min-height: 0;
    overflow-y: auto;
    clear: both;
    position: relative;
}

    #filterResultsContainer .filterValueLabels, #filterResultsContainer .bufferElements, #filterResultsContainer .filterFlyOutNoResults {
        margin: 10px 0 0 10px;
    }

.filterFlyOutNoResults {
    font-family: "Segoe UI Web Semilight", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.folderContent ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
    list-style: none;
}

.ui-grid, .ui-grid-header-cell, .ui-grid-header, .ui-grid-cell {
    border: none;
}

#documentgrid .ui-grid, #mattergrid .ui-grid {
    height: 520px;
}

.ui-grid-cell {
    height: 48px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
}

.txtellipsis {
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    height: 100%;
    overflow: hidden;
    color: #2b579a !important;
}

.UiGrid-a {
    text-align: center;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    padding: 11px 0 7px 0 !important;
    color: black;
    font-weight: bold;
    cursor: pointer !important;
    text-decoration: none !important;
}

    .UiGrid-a:hover {
        background-color: #bcd9ed;
    }

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #fff;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #fff;
}

.title {
    margin: 0 0 0 10px;
}

.ui-grid-header-cell-label {
    font-size: 0.875em;
    font-weight: 600;
}

.ui-grid-header-cell-wrapper {
    color: #333;
    font-family: 'Segoe UI Web Regular','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
}

.ui-grid-canvas {
    color: #333;
    font-family: 'Segoe UI Web Regular','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    /*max-width: 1900px;*/
}

.ui-grid-viewport {
    /*overflow: hidden !important;*/
    /*max-height: 500px;*/
    min-height: 20px;
}

.overflowMain {
    /*overflow: hidden !important;*/
}

.padlf10 {
    padding-left: 10px !important;
}

#searchBarHolder input {
    max-width: 310px;
    text-overflow: ellipsis;
    border: none;
}

.ui-grid-menu-button {
    top: 7px;
}

.dropdown-menu .ms-ContextualMenu-item a:hover {
    background-color: #cde6f7 !important;
    color: #333 !important;
    font-family: "Segoe UI Semibold","Segoe UI Web Semibold" !important;
}

.popover {
    max-width: 400px;
    max-height: 278px;
    border-radius: 2px;
}

.popover-title {
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

.popover-content {
    padding: 0;
}

.UiGrid-a .dropdown-menu {
    margin: 0;
    padding: 0;
}

/*.ui-grid-render-container{
    height:500px;
}*/

.padl10px {
    padding-left: 10px;
}

#mainmenu {
    margin: 0;
    padding: 10px 0 0 10px;
}

    #mainmenu input {
        max-width: none;
    }

    #mainmenu .AppMenuFlyout {
        left: 15px;
    }

#contentDiv input {
    max-width: none;
}

.searchdashboard {
    padding-top: 15px;
}

.dashboarddrop {
    position: absolute;
    top: 48px;
    padding: 0 7px 1px 15px;
}

.dashboarddropinner {
    z-index: 1000;
    background: #fff;
    border: 1px solid #ccc;
}

.pad15 {
    padding: 15px;
}

.pad10 {
    padding: 10px;
}

.dashboardSearch {
    width: 80px;
    background: #0072c6;
    padding: 5px 0 5px 0px;
    cursor: pointer;
    color: #fff;
    font-size: 0.875em;
    text-align: center;
    font-weight: 600;
    font-family: Segoe UI;
}

.clientdropinner {
    position: absolute;
    top: -11px;
    left: 16.6%;
    border: 1px solid #ccc;
    z-index: 10;
    background: #fff;
    padding-bottom: 10px;
}

.sortby {
    position: absolute;
    top: 80px;
    padding: 0;
}

.padtop20 {
    padding-top: 20px;
}

.padtop5 {
    padding-top: 5px;
}

.sortby ul {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    position: absolute;
    left: 8px;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

    .sortby ul li:hover {
        background-color: #eaecea;
        cursor: pointer;
    }

    .sortby ul li {
        padding: 5px 10px 5px 10px;
        color: #333;
        display: inline-block;
        float: right;
        font-size: 0.87em;
        font-family: "Segoe UI";
        text-align: left;
        width: 118px;
    }

.overflowMain a:hover {
    text-decoration: none;
}

.cartelementpopup {
    margin: 10px;
    font-family: "Segoe UI Semilight", "Segoe UI";
    font-weight: 400;
    width: 250px !important;
}

.marleft10 {
    margin-left: 10px;
}

.emailLink {
    text-decoration: none !important;
}

.mainselect select option {
    min-height: 100px !important;
    font-weight: 600;
    height: 60px !important;
}

.dpbtn {
    background: #fff;
    border: 1px solid #ccc;
    padding-right: 18px;
    margin-left: 0 !important;
}

#mainselect .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus,
#searchBarHolder .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#mainselect .btn-default:hover, #searchBarHolder .btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#mainselect ul, #searchBarHolder ul {
    margin: 3px 0px 0px 0px;
    border-radius: 0px;
    padding: 0;
}

    #mainselect ul li:hover, #searchBarHolder ul li:hover {
        background-color: #cde6f7;
        font-family: "Segoe UI Semibold", "Segoe UI Web Semibold" !important;
        color: #333;
    }

.dpselected {
    background-color: #cde6f7;
    font-family: "Segoe UI Semibold", "Segoe UI Web Semibold" !important;
    color: #333;
}

#searchmatter ul, #docsearchmatter ul {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

#docsearchmatter ul {
    width: 83.3%;
}

#searchmatter ul li a {
    height: 30px;
    padding: 5px 10px;
}

    #searchmatter ul li a:hover {
        background-color: #cde6f7 !important;
        font-family: "Segoe UI Semibold", "Segoe UI Web Semibold" !important;
        color: #333 !important;
    }

#searchmatter .active {
    background-color: #cde6f7 !important;
}

#searchmatter .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #333;
    text-decoration: none;
    background-color: #cde6f7 !important;
    outline: none;
}

.PersonalInfoFlyout {
    position: absolute;
    z-index: 101;
    width: 400px;
    height: 150px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    right: 30px;
    top: 40px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.47);
}

.ContextualHelp {
    border: 1px #d1d1d1;
    position: absolute;
    z-index: 102;
    max-height: 442px;
    max-width: 370px;
    top: 5px;
    right: 5px;
    background: #fff;
    box-shadow: 0 0 7px 0 #888888;
    overflow-y: auto;
}

#docgrid .ui-grid {
    height: 300px !important;
}

.mattersdrop {
    position: absolute;
    list-style: none;
    border: 1px solid #ccc;
    z-index: 1;
    background: #fff;
    top: 33px;
    right: 0;
}

.searchwidth {
    min-width: 240px;
    max-width: 240px;
    border: 1px solid #ccc;
}

#searchBarHolder button {
    border: none;
    background: #fff !important;
    outline: none;
}

#mainmenu {
    min-width: 310px;
}

.bodymain {
    overflow: hidden;
}

#uploadToMatter, #viewMatters {
    color: #fff !important;
    font-family: 'Segoe UI Web Semibold','Segoe UI Semibold','Segoe WP Semibold','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none !important;
}

.popcontent {
    position: absolute;
    top: 0px;
    background: #fff;
    z-index: 1001;
    border: 1px solid #ccc;
}

.flyoutwidth {
    width: 350px;
}
