<div ng-mouseenter='grid.appScope.vm.arealawDropDowm = true' ng-mouseleave='grid.appScope.vm.arealawDropDowm = false' role="columnheader">
    
    <div  style='padding-left: 4px;' title="{{grid.appScope.vm.matterConfigContent.GridColumn3HeaderTitle}}" sortby="{{col.colDef.field}}" class='ui-grid-cell-contents ui-grid-header-cell-primary-focus gridHeaderColumnsFloat' col-index='renderIndex'>
        <span class='ui-grid-header-cell-label ng-binding'  tabindex="0" ng-focus='grid.appScope.vm.arealawDropDowm = true'>{{ col.colDef.displayName }}<span class="headerfilter" ng-if="grid.appScope.vm.areafilter || grid.appScope.vm.areaoflawfilter"><i class="ms-Icon ms-Icon--filter"></i> </span><span id="asc{{col.colDef.field}}" style="float:right;display:none" class='padl10px'>↑</span><span id="desc{{col.colDef.field}}" style="float:right;display:none" class='padlf10'>↓</span></span>
    </div>
    <div class='ui-grid-column-menu-button ng-scope' ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false' ng-click='grid.appScope.toggleMenu($event)' ng-class='{' ui-grid-column-menu-button-last-col' isLastCol}'>
        <i title='' aria-hidden='true' class='ui-grid-icon-up-dir'>&nbsp;</i>
    </div>
    <div class='sorticon keep-open' style='float:right;' ng-show='grid.appScope.vm.arealawDropDowm'>
        <a href='javascript:;' class='prisma-header-dropdown-anchor dropdown-toggle' ng-if="!grid.appScope.vm.globalSettings.isBackwardCompatible" 
            ng-keydown="$event.keyCode==13?grid.appScope.vm.matterConfigContent($event,grid.appScope.vm.matterConfigContent.GridColumn6Header):null"
           ng-click="grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn6Header)" >
            <img alt="filter dropdown image" title="filter dropdown image" src='../images/icon-combobox.png' tabindex="0" />
        </a>
        <a href='javascript:;' class='prisma-header-dropdown-anchor dropdown-toggle' ng-if="grid.appScope.vm.globalSettings.isBackwardCompatible" 
           ng-keydown="$event.keyCode==13?grid.appScope.vm.matterConfigContent($event,grid.appScope.vm.matterConfigContent.GridColumn3Header):null"
           ng-click="grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn3Header)">
            <img alt="filter dropdown image" title="filter dropdown image" src='../images/icon-combobox.png' tabindex="0" />
        </a>
    </div>
</div>