<div class='row'>

    <div class='col-xs-7 col-sm-9 col-md-9 col-lg-9' id='matterPopup' title='{{row.entity.matterName}}'>
        <!--<a popover type='button' class='btn btn-link col-xs-12 col-sm-12 txtellipsis' style='text-align:left;text-decoration: none;' details={{row.entity}} data-toggle='popover' data-container='body' data-placement='right' type='button' data-html='true' href=''> {{row.entity.matterName}} </a>-->
        <a matterflyout type='button' class='btn btn-link col-xs-12 col-sm-12 txtellipsis'
           style='text-align:left;text-decoration: none;' details={{row.entity}}>{{row.entity.matterName}}</a>
        <div class='popcontent' style="display:none;"></div>
    </div>
    <div class='col-xs-5 col-sm-3 col-md-3 col-lg-3 ' id="matcoltemp">

        <div class='dropdown'>

            <a class='btn-link dropdown-toggle ms-Icon ms-Icon--ellipsis ellipsis UiGrid-a' type='button' dropdown data-toggle='dropdown'></a>
            <ul style='margin:0;padding:0' class='dropdown-menu'>

                <li class='ms-ContextualMenu-item' ng-click='grid.appScope.vm.Openuploadmodal()'><a class='ECBItem ms-ContextualMenu-link upload'>{{grid.appScope.vm.matterConfigContent.EllipsisLink1Text}}</a></li>
                <li class='ms-ContextualMenu-item'><a href="" class='ECBItem ms-ContextualMenu-link upload' ng-click="grid.appScope.vm.viewMatterDetails(row.entity.matterClientUrl,row.entity.matterGuid)"> {{grid.appScope.vm.matterConfigContent.EllipsisLink2Text}}</a></li>
                <li class='ms-ContextualMenu-item'>

                    <a class='ECBItem ms-ContextualMenu-link upload' href='{{row.entity.matterClientUrl}}/_layouts/WopiFrame.aspx?sourcedoc={{row.entity.matterClientUrl}}/{{row.entity.matterGuid}}_OneNote/{{row.entity.matterName}}/{{row.entity.matterGuid}}.onetoc2' target='_blank'>
                        {{grid.appScope.vm.matterConfigContent.EllipsisLink3Text}}
                    </a>
                </li>
                <li class='ms-ContextualMenu-item' ng-click='row.entity.MatterInfo===undefined?grid.appScope.vm.PinMatter(row):grid.appScope.vm.UnpinMatter(row)'><a class='ECBItem ms-ContextualMenu-link upload'>{{row.entity.MatterInfo===undefined?grid.appScope.vm.matterConfigContent.EllipsisLink4Text:grid.appScope.vm.matterConfigContent.EllipsisLink5Text}}</a></li>
            </ul>
        </div>
    </div>
</div>
