<div class='row' role="region">

    <div  tabindex="0"  ng-keydown="grid.appScope.vm.openMatterFlyout($event)" class='col-xs-7 col-sm-9 col-md-9 col-lg-9' id='matterPopup' 
          role="gridcell"
         aria-label="{{row.entity.matterName}}"
         aria-live="assertive" aria-atomic="true"
           details={{row.entity}} 
         title='{{row.entity.matterName}}'>
        <!--<a popover type='button' class='btn btn-link col-xs-12 col-sm-12 txtellipsis' style='text-align:left;text-decoration: none;' details={{row.entity}} data-toggle='popover' data-container='body' data-placement='right' type='button' data-html='true' href=''> {{row.entity.matterName}} </a>-->
        <a  matterflyout type='button' class='btn btn-link col-xs-12 col-sm-12 txtellipsis'
           style='text-align:left;text-decoration: none;' 
           href=""  aria-label="Matter {{row.entity.matterName}} link. On clicking of this link will open a flyout where user can take more action on that matter."
           title="{{row.entity.matterName}}"
           aria-live="assertive" aria-atomic="true"
           details={{row.entity}}>{{row.entity.matterName}}</a>
        <div class='popcontent' style="display:none;"></div>
    </div>
    <div class='col-xs-5 col-sm-3 col-md-3 col-lg-3 '
          role="region"  style="width:64px;"
         ng-keydown="grid.appScope.vm.openContextMenu($event, row.entity)"
         tabindex="0" id="matcoltemp" aria-live="polite" >

        <div class='dropdown' tabindex="0" >
            <a tabindex="0" class='btn btn-link dropdown-toggle ms-Icon ms-Icon--ellipsis ellipsis UiGrid-a'
                href=''  aria-label="Context Menu" 
           title="{{row.entity.matterName}} Context Menu"
          aria-live="assertive"     aria-atomic="true"       
                type='button' ng-click="grid.appScope.vm.checkUrlExists(row.entity)" dropdown data-toggle='dropdown'></a>
            <ul class='dropdown-menu' role="menu">
                <div ng-if="grid.appScope.vm.dropDownMenu">
                    <li class='ms-ContextualMenu-item' 
                        ng-keydown=grid.appScope.vm.keydownFunction($event,'upload',row.entity) role="menuitem">
                        <a tabindex="0" ng-if="!grid.appScope.vm.hideUpload" 
                           class="ECBItem ms-ContextualMenu-link upload is-disabled"
                           aria-label="Upload to this matter disabled"
                           aria-live="assertive" aria-atomic="true"
                           title="Upload to this matter disabled" disabled="disabled">
                            {{grid.appScope.vm.matterConfigContent.EllipsisLink1Text}}
                        </a>
                        <a tabindex="0" ng-if="grid.appScope.vm.hideUpload" id="matterUploadBtn"
                           aria-live="assertive" aria-atomic="true"
                           aria-label="Upload to this matter"
                           ng-click='grid.appScope.vm.Openuploadmodal()'
                           class='ECBItem ms-ContextualMenu-link upload canUpload'
                           title="Upload to this matter ">
                            {{grid.appScope.vm.matterConfigContent.EllipsisLink1Text}}
                        </a>
                    </li>
                    <li role="menuitem" class='ms-ContextualMenu-item' ng-keydown="grid.appScope.vm.keydownFunction($event,'viewmatterdetails',row.entity)">
                        <a tabindex="0" aria-live="assertive" aria-atomic="true"  id="matterViewBtn"
                           aria-label="View matter details"
                           title="{{grid.appScope.vm.matterConfigContent.ECBMenu2Title}}" href="" class='ECBItem ms-ContextualMenu-link upload' ng-click="grid.appScope.vm.viewMatterDetails(row.entity.matterClientUrl,row.entity.matterGuid)">{{grid.appScope.vm.matterConfigContent.EllipsisLink2Text}}</a>
                    </li>
                    <li role="menuitem" class='ms-ContextualMenu-item' ng-keydown="grid.appScope.vm.keydownFunction($event,'matteronenoteurl',row.entity)">
                        <a tabindex="-1" ng-if="!grid.appScope.vm.urlExists"
                           aria-live="assertive" aria-atomic="true"
                           aria-label="Go to matter one note"
                           class="ECBItem ms-ContextualMenu-link gotoOneNote is-disabled" 
                           title="{{grid.appScope.vm.matterConfigContent.ECBMenu3Title}}" disabled="disabled">{{grid.appScope.vm.matterConfigContent.EllipsisLink3Text}}</a>
                        <a tabindex="0" ng-if="grid.appScope.vm.urlExists" id="matterOneNoteBtn"
                           aria-live="assertive" aria-atomic="true"
                           aria-label="Go to matter one note"
                           title="{{grid.appScope.vm.matterConfigContent.ECBMenu3Title}}" class='ECBItem ms-ContextualMenu-link upload' href='{{row.entity.matterClientUrl}}/_layouts/WopiFrame.aspx?sourcedoc={{row.entity.matterClientUrl}}/{{row.entity.matterGuid}}_OneNote/{{row.entity.matterName}}/{{row.entity.matterGuid}}.onetoc2' target='_blank'>
                            {{grid.appScope.vm.matterConfigContent.EllipsisLink3Text}}
                        </a>
                    </li>
                    <li role="menuitem" tabindex="0" class='ms-ContextualMenu-item' ng-keydown="grid.appScope.vm.keydownFunction($event,'pinorunpin',row)"
                        ng-click='row.entity.MatterInfo===undefined?grid.appScope.vm.PinMatter(row):grid.appScope.vm.UnpinMatter(row)'>
                        <a aria-live="assertive" aria-atomic="true" id="matterPinBtn"
                           aria-label="Pin or  unpin this matter"
                           title="{{row.entity.MatterInfo===undefined?grid.appScope.vm.matterConfigContent.ECBMenu4Title:grid.appScope.vm.matterConfigContent.ECBMenu5Title}}" 
                           href="" class='ECBItem ms-ContextualMenu-link upload'>{{row.entity.MatterInfo===undefined?grid.appScope.vm.matterConfigContent.EllipsisLink4Text:grid.appScope.vm.matterConfigContent.EllipsisLink5Text}}</a>
                    </li>
                </div>
                <div class="lazyLoading"
                     ng-hide="grid.appScope.vm.dropDownMenuLoader" style="bottom: 61px;left: 41%;">
                    <img src="../Images/WindowsLoadingFast.GIF"
                         alt="{{grid.appScope.vm.matterConfigContent.AttachmentLoadingTitle}}"
                         aria-label="{{grid.appScope.vm.matterConfigContent.AttachmentLoadingTitle}}"
                         aria-live="assertive" aria-atomic="true"
                         title="{{grid.appScope.vm.matterConfigContent.AttachmentLoadingTitle}}" />
                </div>
            </ul>
        </div>
    </div>
</div>
