<div ng-mouseenter='grid.appScope.vm.modifieddateDropDowm = true' 
     tabindex="0" col-index='renderIndex' 
     ng-mouseleave='grid.appScope.vm.modifieddateDropDowm = false' 
     role='columnheader'>    
    
        <span class='ui-grid-cell-contents ui-grid-header-cell-primary-focus ui-grid-header-cell-label ng-binding'
              tabindex="0" 
              ng-focus='grid.appScope.vm.modifieddateDropDowm = true'
              sortby="{{col.colDef.field}}"
              title='Click to sort last modified date'>
            {{ col.colDef.displayName }}
            <span class="headerfilter" ng-if="grid.appScope.vm.moddatefilter" tabindex="0">
                <i class="ms-Icon ms-Icon--filter"></i>
            </span>
            <span id="asc{{col.colDef.field}}" style="float:right;display:none" class='padl10px' >↑</span>
            <span id="desc{{col.colDef.field}}" style="float:right;display:none" class='padlf10' >↓</span>
        </span>

        <span class='sorticon keep-open' tabindex="0"  role="button"  
              ng-keydown="$event.keyCode==13?grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn4Header):null"
               ng-click="grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn4Header)"
              ng-show='grid.appScope.vm.modifieddateDropDowm'>
            <a href='javascript:;' class='prisma-header-dropdown-anchor' id='acombo' type='button'
               tabindex="0"
               role="button"
               aria-label="filter by modified date"
               aria-live="assertive" aria-atomic="true"
               ng-keydown="$event.keyCode==13?grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn4Header):null"
               ng-click="grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn4Header)">
                <img src='../images/icon-combobox.png' />
            </a>
        </span>

    
    
    <div class='ui-grid-column-menu-button ng-scope' ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false' ng-click='grid.appScope.toggleMenu($event)' ng-class='{' ui-grid-column-menu-button-last-col' isLastCol}'>
        <i title='' aria-hidden='true' class='ui-grid-icon-up-dir'>&nbsp;</i>
    </div>
</div>