<div ng-mouseenter='grid.appScope.vm.practiceGroupDropDown = true' ng-mouseleave='grid.appScope.vm.practiceGroupDropDown = false'>
    
    <div role='button' class='ui-grid-cell-contents ui-grid-header-cell-primary-focus gridHeaderColumnsFloat' style="padding-left: 4px;" col-index='renderIndex' title="{{grid.appScope.vm.matterConfigContent.GridColumn2HeaderTitle}}">
        <span class='ui-grid-header-cell-label ng-binding' tabindex="0" ng-focus='grid.appScope.vm.practiceGroupDropDown = true'>{{ col.colDef.displayName }}<span class="headerfilter" ng-if="grid.appScope.vm.practiceGroupfilter"><i class="ms-Icon ms-Icon--filter"></i> </span><span id="asc{{col.colDef.field}}" style="float:right;display:none" class='padl10px'>↑</span><span id="desc{{col.colDef.field}}" style="float:right;display:none" class='padlf10'>↓</span></span>
    </div>
    <div class='sorticon keep-open' style='float:right;' ng-show='grid.appScope.vm.practiceGroupDropDown'>
        <a tabindex="0" href='javascript:;' class='prisma-header-dropdown-anchor id=' acombo' dropdown-toggle'
            ng-keydown="$event.keyCode==13?grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn2Header):null"
            ng-click="grid.appScope.vm.openMatterHeader($event,grid.appScope.vm.matterConfigContent.GridColumn2Header)"  data-toggle='dropdown'>
            <img alt="filter dropdown image" title="filter dropdown image" src='../images/icon-combobox.png' tabindex="0" />
        </a>
    </div>

    <div class='ui-grid-column-menu-button ng-scope' ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false' ng-click='grid.appScope.toggleMenu($event)' ng-class='{' ui-grid-column-menu-button-last-col' isLastCol}'>
        <i title='' aria-hidden='true' class='ui-grid-icon-up-dir'>&nbsp;</i>
    </div>
</div>