<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="filename" value="MCDeploymentConfig.xlsx"/>
    <add key="configsheetname" value="Config"/>
    <add key="clientsheetname" value="Client_Config"/>
    <add key="groupsheetname" value="Create_Group"/>
    <add key="errorlog" value="\Logs\ErrorLog.txt"/>
    <add key="template" value="STS#0"/>
    <add key="storageMaximumLevel" value="500"/>
    <add key="userCodeMaximumLevel" value="0"/>
    <add key="restrictedAccessGroupName" value="Matter Center Interfaces"/>
    <add key="restrictedAccessGroupDescription" value="Allows users with access to perform Matter Center operations"/>
    <add key="restrictedAccessRoleName" value="Matter Center Restricted Interfaces"/>
    <add key="restrictedAccessRoleDescription" value="Can open lists and folders, and use remote interfaces"/>
    <add key="allUsers" value="Everyone"/>
    <add key ="Visitors Group" value="{0} Visitors"/>
    <add key ="Owners Group" value="{0} Owners"/>
    <add key="DocumentFeatureID" value="b50e3104-6812-424f-a011-cc90e6327318"/>
  </appSettings>
</configuration>