<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="filename" value="MCDeploymentConfig.xlsx" />
    <add key="manifestSheetname" value="Config" />
    <add key="errorFile" value="Logs\ErrorLog.txt" />
    <!--SharePoint App-->
    <add key="clientIdElement" value="RemoteWebApplication" />
    <add key="clientIdAttribute" value="ClientId" />
    <add key="startPageElement" value="StartPage" />
    <add key="appElement" value="App" />
    <!--Office/Outlook App-->
    <add key="sourceLocation" value="SourceLocation" />
    <add key="defaultValue" value="DefaultValue" />
    <add key="appDomain" value="AppDomain" />
    <add key="iconUrl" value="IconUrl" />
    <!--OneDrive App-->
    <add key="urlAction" value="UrlAction" />
    <add key="url" value="Url" />
    <add key="commandUIHandler" value="CommandUIHandler" />
    <add key="commandAction" value="CommandAction" />
    <!--Constants-->
    <add key="constantElement" value="data" />
    <add key="constantAttribute" value="name" />
    <!--Web Config-->
    <add key="configAppSettings" value="appSettings" />
    <add key="configAdd" value="add" />
    <add key="configKey" value="key" />
    <add key="customHeaders" value="customHeaders" />
    <!--ApplicationInsights Config-->
    <add key="xmlApplicationInsightsNode" value="ApplicationInsights" />
    <add key="xmlInstrumentationKey" value="InstrumentationKey" />
    <add key="ConfigKeyAppInsight" value="ApplicationInsightAppId" />
    <!--Matter Landing Page Assets-->
    <add key="siteAssets" value="/SiteAssets/" />
    <add key="matterLandingAssets" value="Matter Landing Assets/" />
    <!--One Drive Actions Name-->
    <add key="actionNames" value="BreakUrl,Send To OneDrive,Sync,UpdateAndCheckIn,UpdateAndCheckOut" />
    <!--Web Dashboard Name-->
    <add key="sitePages" value="/SitePages/" />
    <add key="webDashBoardPage" value="MatterCenterHome.aspx" />
    <!--Config values-->
    <add key="CommonTermSetGroupNameKey" value="Common_Term_Set_Group_Name" />
    <add key="CommonTermSetGroupNameValue" value="MatterCenterTerms" />

    <add key="ContentTypeKey" value="ContentType" />
    <add key="ContentTypeValue" value="MatterCenter" />

    <add key="ContentTypeGroupKey" value="ContentTypeGroup" />
    <add key="ContentTypeGroupValue" value="_MatterCenter" />

    <add key="IsTenantDeploymentKey" value="IsTenantDeployment" />
    <add key="IsTenantDeploymentValue" value="TRUE" />

    <add key="MatterProvision_GroupKey" value="MatterProvision_Group" />
    <add key="MatterProvision_GroupValue" value="Provision Matter Users" />

    <add key="logTableNameKey" value="LogTableName" />
    <add key="logTableService" value="Service" />
    <add key="logTableUI" value="UI" />
    <add key="logTableUtility" value="Utility" />

    <add key="CatalogSiteUrlKey" value="CatalogSiteURL" />
    <add key="MatterProvisionAppURLKey" value="Provision_Matter_App_URL" />
    <add key="MatterProvisionAppName" value="MatterCenter" />

    <add key="SearchTermTemplate" value="{searchTerms} AND " />
    <add key="SearchTermField" value='path: "{0}"' />
    <add key="Concatenation" value="OR" />

    <add key="XMLNodeSearchQueryConfigurationSettings" value="SearchQueryConfigurationSettings" />
    <add key="XMLNodeSources" value="Sources" />
    <add key="XMLNodeSource" value="Source" />
    <add key="XMLNodeName" value="Name" />
    <add key="ResultSourceName" value="Matter Center" />
    <add key="ClientSheetName" value="Client_Config" />
    <add key="XMLNodeQueryTemplate" value="_QueryTemplate" />
    <add key="SearchConfigXML" value="SearchConfiguration.xml" />
    <add key="ResultSourceXML" value="CreateResultSource.xml" />
    <add key="XMLNodeId" value="Id" />

    <add key="MatterLandingPagejQueryFileNameValue" value="/{1}/SiteAssets/{0}/scripts/jquery-1.11.1.min.js" />
    <add key="MatterLandingPageScriptFileNameValue" value="/{1}/SiteAssets/{0}/scripts/MatterLanding.js" />
    <add key="MatterLandingPageCSSFileNameValue" value="/{1}/SiteAssets/{0}/styles/MatterLanding.css" />
    <add key="CommonCSSLocation" value="/{1}/SiteAssets/{0}/Styles/spCommon.css" />
    <add key="CommonJSLocation" value="/{1}/SiteAssets/{0}/Scripts/spCommon.js" />
    <add key="OneNoteImageUrlValue" value="/{1}/SiteAssets/{0}/WindowsLoadingFast.GIF" />
    <add key="PinImageUrlValue" value="/{1}/SiteAssets/{0}/pin-666.png" />
    <add key="ShareImageUrlValue" value="/{1}/SiteAssets/{0}/share_28x28_666.png" />
    <add key="UnpinImageUrlValue" value="/{1}/SiteAssets/{0}/unpin-666.png" />
    <add key="MicrosoftLogoLocationValue" value="/{1}/SiteAssets/{0}/microsoft-white-logo-sm.png" />
    <add key="MatterLandingPageIconValue" value="/{1}/SiteAssets/{0}/Portal_logo_png.png" />
    <add key="EmptyPlaceHolder" value="{0}" />
    <add key="StaticContentFolder" value="Static Content" />
    <add key="XMLFolderName" value="XML" />
    <add key="PracticeGroupName" value="MatterCenterTerms" />
    <add key="ClientIDProperty" value="ClientID" />
    <add key="ClientUrlProperty" value="ClientURL" />
    <add key="TermSetName" value="Clients" />
  </appSettings>
</configuration>