<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="errorLogFile" value="\Logs\ErrorLog.txt"/>
    <add key="filename" value="\MCDeploymentConfig.xlsx"/>
    <add key="sheetname" value="Config"/>
    <add key="groupsheetname" value="Create_Group"/>
    <!--Set Permissions as: Contribute=0; Full Control=1; Read=2 -->
    <add key="Permission" value="0"/>    
    <!--Credentials-->
    <add key="ListCount" value="6" />
    <!--List 1-->
    <add key="ListName0" value="UserPinnedDetails"/>
    <add key="ColumnList0" value="UserAlias$|$UserPinDetails$|$UserPinDocumentDetails"/>
    <add key="DataType0" value="Text$|$Note$|$Note"/>
    <add key="Description0" value="This list will details of documents pinned by the users"/>
    <!--List 2-->
    <add key="ListName1" value="UserPinnedMatter"/>
    <add key="ColumnList1" value="UserAlias$|$UserPinDetails$|$UserPinDocumentDetails"/>
    <add key="DataType1" value="Text$|$Note$|$Note"/>
    <add key="Description1" value="This list will contain details of matters pinned by the users"/>
    <!--List 3-->
    <add key="ListName2" value="MatterCenterRoles"/>
    <add key="ColumnList2" value="RoleName$|$Mandatory"/>
    <add key="DataType2" value="Text$|$Boolean"/>
    <add key="Description2" value="This list will contain Roles for a particular Law Firm"/>
    <!--List 4-->
    <add key="ListName3" value="MatterCenterMatters"/>
    <add key="ColumnList3" value="ClientName$|$ClientID$|$MatterName$|$MatterID$|$ConflictCheckBy$|$ConflictCheckOn$|$ConflictIdentified$|$BlockUsers$|$ManagingAttorney$|$Support"/>
    <add key="DataType3" value="Text$|$Text$|$Text$|$Text$|$User$|$DateTime$|$Boolean$|$UserMulti$|$UserMulti$|$UserMulti"/>
    <add key="Description3" value="This list will contain details about the matters created by the users"/>
    <!--List 5-->
    <add key="ListName4" value="MatterCenterHelpSection"/>
    <add key="ColumnList4" value="SectionID$|$SectionTitle$|$SectionOrder"/>
    <add key="DataType4" value="Text$|$Text$|$Number"/>
    <add key="Description4" value="This list will contain details about the contextual help section"/>
    <!--List 6-->
    <add key="ListName5" value="MatterCenterHelpLinks"/>
    <add key="ColumnList5" value="LinkTitle$|$LinkURL$|$LinkOrder"/>
    <add key="DataType5" value="Text$|$URL$|$Number"/>
    <add key="Description5" value="This list will contain details about the contextual help section"/>

    <add key="DisplayHiddenLists" value="MatterCenterHelpSection$|$MatterCenterHelpLinks"/>
    
    <!--Contextual Help choice field details-->
    <add key="ContextualHelpSectionListName" value="MatterCenterHelpSection"/>
    <add key="NumberOfColumns" value="2" />
    <add key="ChoiceFieldColumnName0" value="PageName"/>
    <add key="ChoiceFieldValues0" value="SearchMatter$|$SearchDocument$|$ProvisionMatter$|$AppLandingPage"/>
    <add key="DefaultChoiceField0" value="SearchMatter"/>

    <add key="ChoiceFieldColumnName1" value="NumberOfColumns"/>
    <add key="ChoiceFieldValues1" value="1$|$2"/>
    <add key="DefaultChoiceField1" value="1"/>
    
    <!--Contextual Help number of columns details-->
    <add key="ContextualHelpSectionListName" value="MatterCenterHelpSection"/>
    <add key="PageNameColumn" value="PageName"/>
    <add key="PageNames" value="SearchMatter$|$SearchDocument$|$ProvisionMatter$|$AppLandingPage"/>
    <add key="DefaultPage" value="SearchMatter"/>

    <!--Contextual Help lookup column-->
    <add key="ContextualHelpList1" value="MatterCenterHelpSection"/>
    <add key="ContextualHelpLookUpColumnName" value="SectionID"/>
    <add key="ContextualHelpList2" value="MatterCenterHelpLinks"/>

    <!--Role List Details-->
    <add key="RoleListName" value="MatterCenterRoles"/>
    <add key="RoleName" value="Responsible Attorney,Paralegal,Working Attorney,Legal Admin,Attorney" />
    <add key="Mandatory" value="True,False,False,False,False" />

    <!-- Custom Permission Level Details-->
    <add key="MatterCenterContributePermission" value="Matter Center Contribute" />
    <add key="MatterCenterContributePermissionDescription" value="Can view, add, update, and delete list items and documents. Allows creating and changing permission levels on the Web site and assign permissions to users and groups." />    
  </appSettings>
</configuration>