<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="oldWebdashboardPage" value="webdashboard.aspx"/>
    <add key="filename" value="MCDeploymentConfig.xlsx"/>
    <add key="folder" value="Site Pages"/>
    <add key="sourcefilenametemplate" value="WebDashboardSPTemplate.html"/>    
    <add key="configsheetname" value="Config"/>    
    <add key="webDashboardUrl" value="/pages/webdashboard.aspx"/>
    <add key="settingsUrl" value="/pages/settings.aspx"/>
    <add key="spWebDashboardPage" value="/sitepages/MatterCenterHome.aspx"/>
    <add key="spSettingsPage" value="/sitepages/settings.aspx"/>
    <add key="urlConstant" value="WEB_DASHBOARD_PAGE_URL" />
    <add key="SettingsHelperFileName" value="SettingsSP.html"/>
    <add key="SettingsPageUrlConstant" value="SETTINGS_PAGE_URL"/>
    <add key="SettingsPageName" value="Settings.aspx"/>
    <add key="spDocumentLanding" value="/sitepages/DocumentDetails.aspx"/>
    <add key="DocumentLandingFileName" value="documentDetails.html"/>
    <add key="DocumentLandingPageName" value="documentDetails.aspx"/>
    <add key="ConfigurationListTitle" value="Matter Configurations"/>
    <add key="ConfigurationListDescription" value="Holds the matter configuration for the site collection (client)"/>
    <add key="DefaultConfigurationItem" value='{"DefaultMatterName":"","DefaultMatterId":"","DefaultMatterType":"","MatterUsers":"","MatterRoles":"","MatterPermissions":"","IsCalendarSelected":true,"IsEmailOptionSelected":true,"IsRSSSelected":true,"IsRestrictedAccessSelected":true,"IsConflictCheck":true,"IsMatterDescriptionMandatory":true,"MatterPracticeGroup":"","MatterAreaofLaw":"","IsContentCheck":true,"IsTaskSelected":true}'/>
    <add key="ConfigurationColumn" value="ConfigurationValue"/>
    <add key="Role" value="Full Control"/>
    <add key="SitePagesListName" value="Site Pages"/>
    <add key="ReadRole" value="Read" />
    <add key="LimitedAccessRole" value="Limited Access"/>
    <add key="htmlFolder" value="HTML"/>
    <add key="staticContentFolder" value="Static Content"/>
    <add key="catalogSiteConstant" value="CATALOG_SITE_URL"/>
    <add key="PracticeGroupName" value="MatterCenterTerms" />
    <add key="ClientIDProperty" value="ClientID" />
    <add key="ClientUrlProperty" value="ClientURL" />
    <add key="TermSetName" value="Clients" />
  </appSettings>
</configuration>