<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Settings for Termstore Operations-->
    <add key="PracticeGroupName" value="MatterCenterTerms" />
    <add key="ClientIDProperty" value="ClientID" />
    <add key="ClientUrlProperty" value="ClientURL" />
    <add key="TermSetName" value="Clients" />
  </appSettings>
</configuration>