<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileName" value="MCDeploymentConfig.xlsx"/>
    <add key="SheetName" value="Config"/>
    <add key="GroupSheetName" value="Create_Group"/>
    <!-- Lists to assign custom permissions -->
    <add key="ListTitles" value="UserPinnedDetails,UserPinnedMatter"/>
    <!-- Custom Permission Level Details-->
    <add key="MatterCenterContributePermission" value="Matter Center Contribute"/>
    <add key="MatterCenterContributePermissionDescription" value="Can view, add, update, and delete list items and documents. Allows creating and changing permission levels on the Web site and assign permissions to users and groups."/>
    <add key="ListQuery" value="&lt;View&gt; &lt;FieldRef Name='Author'/&gt; &lt;/View&gt;"/>
    <add key="ErrorFilePath" value="/ErrorLog.txt"/>
  </appSettings>
</configuration>