<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="filename" value="MCDeploymentConfig.xlsx"/>
    <add key="configsheetname" value="Config"/>
    <add key="LibraryName" value="Site Assets"/>
    <add key="LibraryUrl" value="SiteAssets"/>
    <add key="errorlog" value="ErrorLog.txt"/>
    <add key="FolderName" value="Html Chunk"/>
    <add key="AssetsFolder" value="Matter Center Assets"/>
    <add key="StaticContentFolder" value="Static Content"/>
    <add key="MatterLandingAssets" value="Matter Landing Assets"/>
    <add key="CommonAssets" value="Common Assets"/>
    <add key="DocumentLandingAssets" value="Document Landing Assets"/>
    <add key="WebDashboardAssets" value="Web Dashboard Assets"/>
    <add key="Images" value="Images"/>
    <add key="Scripts" value="Scripts"/>
    <add key="Styles" value="Styles"/>
    <add key="ConfigurableFiles" value="MatterLandingPage.js,MatterLanding.js,spCommon.js,documentDetails.js"/>
    <add key="AppInsightsID" value="[[[App Insights ID]]]"/>
    <add key="ManagePermissionUrl" value="[[[Manage Permission Url]]]"/>
    <add key="TenantWebDashboardUrl" value="[[[Tenant Web Dashboard Url]]]"/>
    <add key="CatalogsiteUrl" value="[[[Catalog site Url]]]"/>
    <add key="CatalogsiteRelativeUrl" value="[[[Catalog site relative Url]]]"/>
    <add key="ManagePermissionPageName" value="/pages/managepermissions.aspx"/>
    <add key="WebDashboardPageName" value="/sitepages/MatterCenterHome.aspx"/>
    <add key="SettingsPageName" value="/SitePages/Settings.aspx"/>
    <add key="MatterLandingFolderRelativeUrl" value="[[[Matter Landing Folder Url]]]"/>
    <add key="AzureSiteUrl" value="[[[Azure Site Url]]]"/>
    <add key="ManagePermissionRelativeUrl" value="[[[Manage Permission Relative Url]]]"/>
    <add key="TenantSettingsUrl" value="[[[Tenant Settings Url]]]"/>
    <add key="CommonAssetsUrl" value="[[[Common Assets Url]]]"/>
    <add key="SearchPagePlaceHolder" value="[[[Search Page]]]"/>
    <add key="SearchPage" value="/search/Pages/results.aspx"/>
    <add key="SendToOneDrivePlaceHolder" value="[[[Send to OneDrive]]]"/>
    <add key="SendToOneDrive" value="/pages/SendToOneDrive.aspx"/>
    <add key="FeedbackLinkPlaceHolder" value="[[[Feedback link]]]"/>
    <add key="FeedbackLink" value="mailto:LCAHelp@microsoft.com"/>
    <add key="TermsOfUseLinkPlaceHolder" value="[[[Terms of use link]]]"/>
    <add key="TermsOfUseLink" value="http://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx"/>
    <add key="PrivacyLinkPlaceHolder" value="[[[Privacy link]]]"/>
    <add key="PrivacyLink" value="http://www.microsoft.com/privacystatement/en-us/office/default.aspx"/>
    <add key="LogoLinkPlaceHolder" value="[[[Logo link]]]"/>
    <add key="LogoLink" value="http://www.microsoft.com/en-in/default.aspx"/>
  </appSettings>
</configuration>