<div ng-mouseenter='grid.appScope.modifieddateDropDowm = true' ng-mouseleave='grid.appScope.modifieddateDropDowm = false'>

    <div class='dropdown keep-open' style='float:right;' ng-show='grid.appScope.modifieddateDropDowm'>

        <a href='javascript:;' dropdown class='prisma-header-dropdown-anchor id=' acombo' dropdown-toggle' type='button' data-toggle='dropdown'>

            <img src='../images/icon-combobox.png' />
        </a>
        <div class='dropdown-menu flyoutWrapper dropdown-menu-right' ng-click='$event.stopPropagation();' role='menu' aria-labelledby='acombo'>

            <div class='input-group'>

                <input type='text' placeholder='Start mm/dd/yyyy' class='calendar form-control'
                       uib-datepicker-popup='MM/dd/yyyy'
                       ng-model='grid.appScope.$parent.startdate'
                       is-open='grid.appScope.openedStartDate'
                       datepicker-options='grid.appScope.dateOptions'
                       ng-required='true' close-text='Close'
                       alt-input-formats='altInputFormats' />
                <span class='input-group-btn'>

                    <button type='button' class='btn btn-default' ng-click='grid.appScope.openStartDate()'><i class='glyphicon glyphicon-calendar'></i></button>
                </span>
            </div>
            <div class='input-group' style='margin-top:5px'>

                <input type='text' placeholder='End mm/dd/yyyy' class='calendar form-control'
                       uib-datepicker-popup='MM/dd/yyyy'
                       ng-model='grid.appScope.$parent.enddate'
                       is-open='grid.appScope.openedEndDate'
                       datepicker-options='grid.appScope.enddateOptions'
                       ng-required='true' close-text='Close'
                       alt-input-formats='altInputFormats' />
                <span class='input-group-btn'>

                    <button type='button' class='btn btn-default' ng-click='grid.appScope.openEndDate()'><i class='glyphicon glyphicon-calendar'></i></button>
                </span>
            </div>
            <div class='okDateButton' id='btnOK' ng-click='grid.appScope.FilterModifiedDate()'>Ok</div>
            <hr />
            <div class='clearFilterText' data-clearfiltertype='text'>

                <div class='clearFiltersIcon'>

                    <img src='../Images/Filters_30px_X_30px_active_color_666.png' alt='clear' title='Clear filters'>
                </div>
                <div class='ms-font-m ms-font-weight-semilight clearText' title='Clear filters from Modified Date'><span>Clear filters from </span><span class='clearFilterTitle'>Modified Date</span></div>
                <div id='filterResultsContainer'><div class='filterValueLabels ms-font-m ms-font-weight-semilight' ng-repeat='client in grid.appScope.Clients' ng-click='grid.appScope.filterClientName(Client.matterClient)'>{{client.matterClient}}</div> </div>
            </div>
        </div>
    </div>
    <div role='button' class='ui-grid-cell-contents ui-grid-header-cell-primary-focus' col-index='renderIndex'>

        <span class='ui-grid-header-cell-label ng-binding' title='Click to sort by last modified date'>{{ col.colDef.displayName }}</span>
        <span ui-grid-visible='col.sort.direction' aria-label='Sort None' class='ui-grid-invisible'></span>
        <span class='sort pull-right' ng-show='grid.appScope.sortMCModifiedDate'>↑</span>
        <span ng-show='grid.appScope.sortDownMCModifiedDate' class='sort pull-right'>↓</span>
    </div>
    <div class='ui-grid-column-menu-button ng-scope' ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false' ng-click='grid.appScope.toggleMenu($event)' ng-class='{' ui-grid-column-menu-button-last-col' isLastCol}'>

        <i title='' aria-hidden='true' class='ui-grid-icon-up-dir'>&nbsp;</i>
    </div>
</div>